<template>
  <v-container fluid>
    <v-card>
      <v-card-title>Asignacion de Clientes</v-card-title>
      <v-row>
        <v-col cols="4">
          <v-container fluid>
            <v-autocomplete
                ref="autocompletado"
                dense
                outlined
                clearable
                v-model="zonaSearch"
                :items="listZonas"
                label="Zona"
                @change="handleSeleccionarZona"
                persistent-hint
                :filter="filtrarZonas"
                :item-text="itemTextZona"
                hide-details
            ></v-autocomplete>
            <br/>
            <v-autocomplete
                ref="autocompletado"
                dense
                outlined
                clearable
                v-model="prevendedor"
                :items="listTrabajadores"
                label="Prevendedores"
                @change="handleSeleccionarPreventa"
                persistent-hint
                :filter="filtrarZonas"
                :item-text="itemTextPrevendedor"
                hide-details
            ></v-autocomplete>
            <br/>
            <v-list dense>
              <v-subheader>Clientes</v-subheader>
              <v-list-item-group
                  v-model="selectedItem"
                  color="primary"
              >
                <v-list-item
                    v-for="(item, i) in listClientes"
                    :key="i"
                >
                  <template v-slot:default="{ active }">
                    <v-list-item-action>
                      <v-checkbox :input-value="active"></v-checkbox>
                    </v-list-item-action>
                    <v-list-item-icon>
                      <v-icon v-text="item.icon"></v-icon>
                    </v-list-item-icon>
                    <v-list-item-content>
                      <v-list-item-title v-text="item.text"></v-list-item-title>
                    </v-list-item-content>
                  </template>

                </v-list-item>
              </v-list-item-group>
            </v-list>
          </v-container>
        </v-col>
        <v-col cols="2" class="text-center">
          <v-btn>
            <div class="fa fa-arrow-right"></div>
          </v-btn>
        </v-col>
        <v-col cols="6"></v-col>
      </v-row>
    </v-card>
  </v-container>
</template>

<script>
import ModuloPreventa from "../../../apis/ModuloPreventa";

export default {
  name: "Asignacion",
  data: () => ({
    zonaSearch: '',
    listZonas: [],
    prevendedor:'',
    listTrabajadores:[],
    itemTextZona: 'nombre',
    itemTextPrevendedor: 'nombre_completo',
    selectedItem: 1,
    filters:{zona:'',prevendedor:''},
    listClientes:[]
  }),
  created() {
    this.fnGetZonas()
    this.getListPrevendedores()
  },
  methods: {
    handleSeleccionarZona(zona) {
      if (zona) {
        let resul = this.listZonas.filter(el => el.nombre === zona)
        this.filters.zona = resul[0].id
        //console.log('clienten seleccionado',cliente)
      }else{
        this.filters.zona=null
      }
      this.getListClientes()
    },
    handleSeleccionarPreventa(prevendedor) {
      if (prevendedor) {
        let resul = this.listTrabajadores.filter(el => el.nombre_completo === prevendedor)
        this.filters.prevendedor = resul[0].id
        //console.log('clienten seleccionado',cliente)
      }else{
        this.filters.prevendedor=null
      }
      this.getListClientes()
    },
    fnGetZonas() {
      ModuloPreventa.zona.findAll()
          .then(({data})=>{
            this.listZonas=data.data
          })
          .catch(error=>{
            const{data}=error.response
            this.$notify({
              group: 'foo',
              type: 'error',
              title: 'ESTADO DE Cliento',
              text: 'error al listar .!<br>'+data.error

            });
          })
    },
    filtrarZonas(item, queryText, itemText) {
      //console.log(this.$refs.autocompletado)
      // console.log(item)
      let textName = '';
      if (item.nombre) {
        textName = item.nombre.toLowerCase();
      }

      let searchText = queryText.toLowerCase()

      return textName.indexOf(searchText) > -1
    },
    getListClientes(){

    },
    getListPrevendedores(){
      this.listTrabajadores=[]
      ModuloPreventa.asignacion.getPrevendedores()
      .then(({data})=> {
        this.listTrabajadores = data.map(element => {
          let object = {...element, nombre_completo: element.first_name + ' ' + element.last_name}
          return object
        })
      })
            .catch(error => {
              this.listTrabajadores = []
            })
    },
    getListZona(){},
  }
}
</script>

<style scoped>

</style>