<template>
  <v-container app :fluid="true">
    <v-row>
      <v-col cols="4" class="pt-0">

      </v-col>
      <v-col cols="8" class="pt-0">
        <v-btn
            @click="fnNuevaZona"
            rised
            color="indigo"
            dark
            small
            height="45"
            class="float-right wost-btn-new"
        >
          <v-icon dark left size="12">fas fa-plus</v-icon>
          Nueva Zona
        </v-btn>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <v-card class="pa-5">
          <v-text-field
              v-model="search"
              append-icon="mdi-magnify"
              label="Buscar"
              single-line
              hide-details
          ></v-text-field>
          <br/>
          <v-data-table
              class="wost-table"
              :headers="headers"
              :items="listZonas"
              item-key="name"
              :search="search"
              height="68vh"
              fixed-header
              no-data-text=""
              :options.sync="options"
              :server-items-length="totalItems"
              :loading="loading"
              loading-text="Cargando..."

          >
            <template v-slot:item.estado="{ item }">
              <v-chip color="success"
                      class="ma-2"
                      outlined
                      dark
                      v-if="item.estado===1">
                Activo
              </v-chip>
              <v-chip color="warning"
                      dark
                      v-if="item.estado===0">
                Inactivo
              </v-chip>

            </template>
            <template v-slot:item.action="{item}">
              <v-icon
                  small
                  class="mr-2"
                  color="success"
                  @click="editItem(item)"
              >
                mdi-pencil
              </v-icon>
              <v-icon
                  small
                  color="error"
                  @click="deleteItem(item)"
              >
                mdi-delete
              </v-icon>
            </template>
          </v-data-table>
        </v-card>
      </v-col>
    </v-row>
    <AddZona ref="addZona" :insertar-zona-registrada="insertarZonaRegistrada"></AddZona>
    <EditZona ref="editZona" :update-zonas="fnGetZonas"></EditZona>
  </v-container>
</template>

<script>
import ModuloPreventa from "../../../apis/ModuloPreventa";
import AddZona from "./components/AddZona";
import EditZona from "./components/EditZona";

export default {
  name: 'Users',
  components: {EditZona, AddZona},
  data() {
    return {
      headers: [
        {text: 'Nombre', value: 'nombre', align: 'left', sortable: false, class: 'header-table'},
        {text: 'Referencia', value: 'referencia', align: 'left', sortable: false, class: 'header-table'},
        {text: 'Descripcion', value: 'descripcion', align: 'left', sortable: false, class: 'header-table'},
        {text: 'Estado', value: 'estado', align: 'left', sortable: false, class: 'header-table'},
        {text: 'Acciones', value: 'action', sortable: false, class: 'header-table', width: 35}],
      listZonas: [],
      search: '',
      totalItems: 10, options: {}, loading: true, pageSelected: 1, perPage: 10,
    }
  },
  watch: {
    options: {
      handler() {
       // console.log(this.options)
        this.perPage = this.options.itemsPerPage
        this.pageSelected = this.options.page
        this.fnGetZonas()
      },
      deep: true,
    },
    search() {
      if (this.search.length > 0) {
        this.fnFiltrando(this.search)
      } else {
        this.fnGetZonas()
      }
    }
  },
  methods: {
    editItem(zona) {
      this.$refs.editZona.show(zona)
    },
    deleteItem(zona) {
      this.$swal({
        title: "¿Desea confirmar?",
        text: "Confirma que desea eliminar la zona: " + zona.nombre,
        icon: "question",
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        confirmButtonText: "Confirmar",
        cancelButtonText: "Cancelar",
      }).then((result) => {
        if (result.value) {
          if (result.value === true) {
            ModuloPreventa.zona.delete(zona.id).then((response) => {
              this.fnGetZonas()
              this.$notify({
                group: 'foo',
                type: 'success',
                title: 'ESTADO DE ZONA',
                text: 'Se elimino la zona.!'
              });
            }).catch(error => {
              console.log(error)
            });
          }
        }
      })
    },
    fnFiltrando(search) {
      this.loading = true
      this.listZonas = []
      ModuloPreventa.zona.search(search)
          .then(({data}) => {
            this.loading = false
            this.listZonas = data
          })
          .catch(error => {
            this.loading = false
            console.log(error)
            this.listZonas = []
          })
    },
    fnNuevaZona() {
      this.$refs.addZona.show()
    },
    insertarZonaRegistrada(zona) {
      this.pageSelected = 1
      this.fnGetZonas()
    },
    async fnGetZonas() {
      this.loading = true
      let params = {
        perPage: this.perPage,
        pageSelected: this.pageSelected
      }
      ModuloPreventa.zona.findAll(params)
          .then(({data}) => {
            this.loading = false
            this.listZonas = data.data
          })
          .catch(error => {
            this.loading = false
            //console.log(error)
            this.listZonas = []
          })
    }
  },
  created() {
    this.fnGetZonas()
  },


}
</script>

<style>

</style>