<template>
    <v-navigation-drawer
        v-model="drawer"          
        width="500"
        app
        temporary
        right
        class="wost-drawer"
    >
        <div class="form-head">
            {{ titleForm }}
        </div>
        <div class="pl-3 pt-3 pr-3">
            <v-card>
                <v-card-text>
                    <template>
                        <v-row>
                            <v-col cols="11">
                                <v-text-field
                                    v-model="document"
                                    label="Número de RUC"
                                    hide-details
                                    type="number"
                                    :loading="searching_document"
                                ></v-text-field>
                            </v-col>
                            <v-col :cols="1" class="pt-4">
                                <v-icon color="blue" size="18" @click="handleSearchDocument">
                                    fas fa-search
                                </v-icon>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="12">
                                <v-text-field
                                    v-model="name"
                                    label="Nombre"
                                    hide-details
                                ></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="12">
                                <v-text-field
                                    v-model="phone"
                                    label="Teléfono"
                                    hide-details
                                ></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="12">
                                <v-text-field
                                    label="Email"
                                    v-model="email"
                                    hide-details
                                ></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="12">
                                <v-textarea
                                    v-model="address"
                                    label="Dirección"
                                ></v-textarea>
                            </v-col>
                        </v-row>
                    </template>
                </v-card-text>                
            </v-card>
            <div class="mt-3" style="text-align: right;">
                <template>
                    <v-row>
                        <v-col cols="6">
                            <v-btn @click="handleCancel" block height="48" outlined color="red darken-1">
                                Cancelar
                            </v-btn>
                        </v-col>
                        <v-col cols="6">
                            <v-btn v-if="actionCrud=='create'" dark color="green darken-1" block height="48" @click="handleCreateProvider">
                                Guardar
                            </v-btn>
                            <v-btn v-else dark color="blue darken-1" block height="48" @click="handleUpdateProvider">
                                Actualizar
                            </v-btn>
                        </v-col>
                    </v-row>
                </template>
            </div>
        </div>
    </v-navigation-drawer>
</template>

<script>
import { mapActions, mapMutations, mapState } from 'vuex';
import SunatReniecService from '../../services/SunatReniecService';

import {APIService} from '@/APIService';
const apiService = new APIService();

export default {
    name: 'CreateProvider',
    data() {
        return {
            actionCrud: '',
            titleForm: '',
            drawer: false,
            id: null,
            document: null,
            name: null,
            phone: null,
            email: null,
            address: null,
            searching_document: false
        }
    },
    computed: {
        ...mapState('provider', [
            'provider'
        ])
    },
    methods: {
        ...mapActions('provider', [
            'runSetProvider',
            'getProviders'
        ]),
        clearData() {
            this.id = null
            this.document = null
            this.name = null
            this.phone = null
            this.email = null
            this.address = null
        },
        showForm(title, action) {
            this.clearData()
            this.actionCrud = action
            this.titleForm = title
            this.drawer = !this.drawer
            if(this.actionCrud === 'create'){
                this.runSetProvider(null)
            } else if(this.actionCrud === 'update'){
                this.setFormData(this.provider)
            }
        },
        setFormData(provider){            
            this.id = provider.id
            this.document = provider.document
            this.name = provider.name
            this.phone = provider.phone
            this.email = provider.email
            this.address = provider.address
        },
        handleCancel(){
            this.clearData()
            this.drawer = false
        },
        handleCreateProvider(){
            let newProvider = {
                document: this.document,
                name: this.name,
                phone: this.phone,
                email: this.email,
                address: this.address
            }
            if (newProvider.document==null || newProvider.document=='' || newProvider.name==null
                || newProvider.name=='') {
                this.$notify({
                    group: 'foo',
                    type: 'error',
                    title: 'RESULTADO DE REGISTRO DE PROVEEDOR',
                    text: 'Debe ingresar por lo menos ruc y nombre.'
                })
            } else {
                apiService.createProviders(newProvider).then((response) => {
                    this.drawer = false
                    this.getProviders()
                    this.$notify({
                        group: 'foo',
                        type: 'success',
                        title: 'RESULTADO DE REGISTRO DE PROVEEDOR',
                        text: 'El proveedo se registró de forma exitosa!'
                    })
                }).catch( function(error){
                    this.$notify({
                        group: 'foo',
                        type: 'error',
                        title: 'RESULTADO DE REGISTRO DE PROVEEDOR',
                        text: 'Se detectó un error al registrar proveedor'
                    })
                });
            }
        },
        handleUpdateProvider(){
            let updateProvider = {
                document: this.document,
                name: this.name,
                phone: this.phone,
                email: this.email,
                address: this.address
            }
            apiService.updateProvider(this.id, updateProvider).then((response) => {
                this.drawer = false
                this.getProviders()
                this.$notify({
                    group: 'foo',
                    type: 'success',
                    title: 'RESULTADO DE ACTUALIZACIÓN DE PROVEEDOR',
                    text: 'El proveedo se actualizó de forma exitosa!'
                })
            }).catch( function(error){
                this.$notify({
                    group: 'foo',
                    type: 'error',
                    title: 'RESULTADO DE ACTUALIZACIÓN DE PROVEEDOR',
                    text: 'Se detectó un error al actualizar proveedor'
                })
            });
        },
        handleSearchDocument () {
            this.searching_document = true;
            let document_number = this.document;            
            
            SunatReniecService.searchDocument(document_number)
                .then( response => {
                    this.searching_document = false;
                    this.name = response.data.name;
                    this.address = response.data.address;
                }).catch( error => {
                    this.searching_document = false;
                    this.$notify({
                        group: 'foo',
                        type: 'error',
                        title: 'BÚSQUEDA DE DOCUMENTO',
                        text: 'Documento no existe.'
                    });
                })
        },
    },
}
</script>

<style scoped>

</style>