<template>
  <v-dialog
      v-model="dialog"
      width="500"
  >
    <v-card>
      <v-card-title>
        <v-icon class="mr-3">fas fa-box-open</v-icon>
        <span class="subtitle-2">
                    {{ product.name }}
        </span>
      </v-card-title>
      <v-divider></v-divider>
      <v-card-text class="text-center pa-3">
        <PulseLoader :loading="loading"></PulseLoader>
      </v-card-text>
      <v-divider></v-divider>
    </v-card>
  </v-dialog>
</template>
<script>
import PulseLoader
  from "vue-spinner/src/PulseLoader.vue";
export default {
  name: "AddProductoSeleccionado",
  props:['product','loading','customer', 'actualizarCantidad', 'insertListProductoSelected'],
  components:{PulseLoader},
  data(){
    return{
      dialog:false,
      form: {
        quantity: 1
      }
    }
  },
  methods:{
    handleOk() {
      //console.log(this.customer)
      if (this.form.quantity == null) {
        this.$notify({
          group: 'foo',
          type: 'error',
          title: 'ERROR CANTIDAD',
          text: 'debe ingresar cantidad'
        })
      } else {
        if (this.form.quantity > 0) {
          let cantidad = this.form.quantity
          let priceObject = this.customer.price
          let unit_price=0
          let subtotal = 0
          if (priceObject) {
            let customerPrice = parseFloat(priceObject.price)
            unit_price=customerPrice
            subtotal = cantidad * parseFloat(customerPrice)
          } else {
            subtotal = cantidad * parseFloat(this.product.unit_price)
            unit_price=this.product.unit_price
          }
          this.actualizarCantidad(cantidad, subtotal,unit_price)
          this.insertListProductoSelected(this.product)
          this.dialog=false
          this.limpiarData()
        } else {
          this.$notify({
            group: 'foo',
            type: 'error',
            title: 'ERROR CANTIDAD',
            text: 'debe ingresar cantidad mayor que cero'
          })
        }

      }
    },
    handleCancel() {
      this.dialog = false
      this.limpiarData()
    },
    limpiarData() {
      //description: null,
      this.form = {
        quantity: 1
      }
    },
    show(){
      this.dialog=true
      this.handleOk()
    }
  }
}
</script>

<style scoped>

</style>