<template>
  <div>
    <v-card class="pay-detail">
      <v-card-title class="pt-1 pb-1">
        <span class="subtitle-2">Detalle del Pago</span>
      </v-card-title>
      <v-divider/>
      <v-card-text class="pt-0 pb-0">
        <v-container class="pb-1">
          <v-row>
            <v-col cols="12" class="pt-0">
              <v-radio-group v-model="type_sale"
                             row
                             hide-details
                             class="mt-0"
                             @change="handleChangeTypeSale">
                <v-radio label="CONTADO" value="contado"></v-radio>
                <v-radio label="CRÉDITO" value="credito"></v-radio>
              </v-radio-group>
            </v-col>
          </v-row>
          <v-row v-if="type_sale == 'contado'">
            <v-col :md="4" :sm="4" cols="4" class="pt-0">
              <v-btn block
                     dark
                     color="green darken-1"
                     @click="handlePayCash">
                CASH
              </v-btn>
            </v-col>
            <v-col :md="5" :sm="5" cols="5" class="pt-0">
              <v-btn block
                     dark
                     color="indigo darken-4"
                     class="mr-1"
                     @click="handlePayTransfer">
                TRANSFERENCIA
              </v-btn>
            </v-col>
            <v-col :md="3" :sm="3" cols="3" class="pt-0">
              <v-btn block
                     dark
                     color="#952ab3"
                     @click="handlePayYape">
                YAPE
              </v-btn>
            </v-col>
          </v-row>
          <v-row v-if="type_sale == 'credito'">
            <v-col cols="6" class="pt-0">
              <v-menu
                  v-model="menuDatePayment"
                  :close-on-content-click="false"
                  :nudge-right="40"
                  transition="scale-transition"
                  offset-y
                  min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                      v-model="due_date"
                      label="Fecha de pago"
                      readonly
                      clearable
                      outlined
                      dense
                      v-on="on"
                      hide-details="auto"
                  ></v-text-field>
                </template>
                <v-date-picker v-model="due_date"
                               @input="menuDatePayment = false"
                               no-title
                               locale="es"
                               :min="date_payment_min">
                </v-date-picker>
              </v-menu>
            </v-col>
            <v-col cols="6" class="pt-0">
              <v-text-field v-if="!generate_voucher"
                            v-model="credit_sales_guide"
                            label="Guía venta a crédito"
                            outlined
                            dense
                            hide-details="auto"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row v-if="type_sale == 'credito'">
            <v-col cols="12">
              <v-switch
                  v-model="generate_voucher"
                  class="mt-0"
                  :true-value="true"
                  :false-value="false"
                  @change="handleChangeGenerateVoucher"
                  label="GENERAR COMPROBANTE DE VENTA"
                  hide-details
              ></v-switch>
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>
      <v-card-text v-if="type_sale == 'contado'" class="pt-0 pb-1">
        <v-container class="pt-1 pb-1">
          <v-row v-if="pay_cash">
            <v-col cols="6" class="pt-2 text-right">
              <span class="subtitle-2 font-weight-medium">Cash</span>
            </v-col>
            <v-col cols="6" class="pt-0">
              <v-text-field
                  outlined
                  solo
                  dense
                  hide-details
                  prefix="S/"
                  placeholder="0"
                  type="number"
                  :value="amount_cash"
                  @input="handleSetAmountCash"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row v-if="pay_transfer">
            <v-col cols="6" class="pt-2 text-right">
              <span class="subtitle-2 font-weight-medium">Transferencia</span>
            </v-col>
            <v-col cols="6" class="pt-0">
              <v-text-field
                  outlined
                  solo
                  dense
                  hide-details
                  :value="amount_transfer"
                  prefix="S/"
                  placeholder="0"
                  type="number"
                  @input="handleSetAmountTransfer"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row v-if="pay_yape">
            <v-col cols="6" class="pt-2 text-right">
              <span class="subtitle-2 font-weight-medium">Yape</span>
            </v-col>
            <v-col cols="6" class="pt-0">
              <v-text-field
                  outlined
                  solo
                  dense
                  hide-details
                  :value="amount_yape"
                  prefix="S/"
                  placeholder="0"
                  type="number"
                  @input="handleSetAmountYape"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>

      <v-divider></v-divider>
      <v-card-text class="pt-0 pb-1">
        <v-container class="pb-1">
          <v-row>
            <v-col cols="6" class="pt-2 text-right">
              <span class="subtitle-2 font-weight-medium">Guia de atención</span>
            </v-col>
            <v-col cols="6" class="pt-0">
              <v-text-field v-model="attention_guide"
                            outlined
                            solo
                            dense
                            hide-details="auto"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-text v-if="this.customer" class="pt-0 pb-1">
        <v-list-item class="cart-item-product pl-0 pr-0" v-if="this.customer.balance_favor > 0">
          <v-list-item-content>
            <v-list-item-title>
              Usar saldo a favor {{ this.customer.balance_favor | currency('S/ ') }}
            </v-list-item-title>
          </v-list-item-content>
          <v-list-item-action class="action-balance-favor">
            <v-switch
                v-model="positive_balance"
                color="primary"
                :value="positive_balance"
                @change="handleUsePositiveBalance"
                class="mr-4"
            ></v-switch>
            <v-text-field v-if="positive_balance"
                          outlined
                          solo
                          dense
                          hide-details
                          :value="amount_balance"
                          @input="handleSetAmountBalance"
                          prefix="S/"
                          placeholder="0"
                          :full-width="false"
                          class="use-amount-balance"
            ></v-text-field>
          </v-list-item-action>
        </v-list-item>
        <v-list-item class="row-section-debt">
          <v-list-item-content class="pt-1 pb-1">
            <v-list-item-title>
              Deuda Total
            </v-list-item-title>
          </v-list-item-content>
          <v-list-item-action class="mt-1 mb-1 btn-quantity amount-igv">
            {{ total_debt | currency('S/ ') }}
          </v-list-item-action>
        </v-list-item>
        <v-list-item v-if="amount_debt > 0" class="row-section-debt">
          <v-list-item-content class="pt-1 pb-1">
          </v-list-item-content>
          <v-list-item-action class="mt-1 mb-1">
                                        <span class="label-amount-debt">
                                            Debe {{ amount_debt | currency('S/ ') }}
                                        </span>
          </v-list-item-action>
        </v-list-item>
      </v-card-text>

      <v-card-text class="pt-0 pb-1">
        <v-list-item class="section-vuelto pl-0 pr-0 pb-0" v-if="amount_change > 0">
          <v-list-item-content class="pt-0 pb-0">
            <v-list-item-title class="text-right">
              <span class="subtitle-2">Vuelto {{ amount_change | currency('S/ ') }}</span>
              <v-spacer></v-spacer>
              <span class="subtitle-2">Registrar como saldo a favor</span>
            </v-list-item-title>
          </v-list-item-content>
          <v-list-item-action class="mt-0 mb-0">
            <v-switch
                v-model="register_change"
                color="primary"
                class="mr-4"
                @change="handleRegisterChange"
            ></v-switch>
          </v-list-item-action>
        </v-list-item>
      </v-card-text>

      <v-divider></v-divider>

      <v-card-text class="pb-1" v-if="total_return > 0">
        <template>
          <v-row>
            <v-col cols="6" class="pt-2">
                                            <span class="bidones-a-devolver">
                                                (Items a devolver {{ total_return }})
                                            </span>
              <span class="font-weight-medium pl-0">Items devueltos</span>
              <v-chip v-if="drums.length > 0"
                      class="ma-2"
                      color="primary"
                      label
              >
                {{ getTotalDrumsReturned(drums) }}
              </v-chip>
              <v-icon v-if="productsReturn.length > 0"
                      color="green"
                      class="ml-2"
                      @click="handleAddDrums">
                fas fa-plus-circle
              </v-icon>
            </v-col>
            <v-col cols="6">
              <v-text-field v-model="loan_guide"
                            label="Guía por prestamo"
                            outlined
                            dense
                            hide-details="auto"
              ></v-text-field>
            </v-col>
          </v-row>
        </template>
      </v-card-text>

      <v-divider></v-divider>

      <v-card-text class="pt-0 pb-0">
        <template>
          <v-row>
            <v-col cols="12">
              <v-textarea v-model="observation"
                          label="Observación"
                          outlined
                          dense
                          rows="3"
                          hide-details="auto">
              </v-textarea>
            </v-col>
          </v-row>
        </template>
      </v-card-text>

      <v-card-text class="pt-0 pb-0">
        <template>
          <v-row>
            <v-col cols="6" class="pt-0">
              <v-btn block outlined color="red darken-1" height="40"
                     @click="handleCancelPayment">
                Cancelar
              </v-btn>
            </v-col>
            <v-col cols="6" class="pt-0">
              <v-btn block
                     dark
                     color="green darken-1"
                     height="40"
                     :disabled="processing"
                     @click="handleSavePayment">
                Pagar
              </v-btn>
            </v-col>
          </v-row>
        </template>
      </v-card-text>

    </v-card>
    <DevolverProduct ref="devolverBebida" :products-return="productsReturn"
                     :drums="drums"
                     :handle-set-drums="handleSetDrums"></DevolverProduct>
  </div>
</template>

<script>

import Tools from '../../../helpers/Tools.js';
import VoucherTools from '../../../helpers/VoucherTools';

import {APIService} from '@/APIService';

const apiService = new APIService();

import JQuery from 'jquery';
import DevolverProduct from "./DevolverBebida";
import {mapState} from "vuex";

let $ = JQuery;

export default {
  name: "DetallePago",
  components: {DevolverProduct},
  props: ['total', 'customer', 'listProducts', 'order', 'type_document_customer', 'type_document_sale', 'limpiarFormulario'],
  watch: {
    total() {
      this.total_debt = this.total
      this.amount_debt = this.total
    },
    listProducts() {
      this.total_return = 0
      this.productsReturn = []
      this.listProducts.forEach(item => {
        if (item.has_return === 1) {
          this.total_return += parseInt(item.quantity)
          const productReturn = {
            text: item.name,
            type_product: item.type_product,
            value: item.id
          }
          this.productsReturn.push(productReturn)
        }
      })
    }
  },
  computed: {
    ...mapState('authentication', [
      'companyData'
    ]),
  },
  data() {
    return {
      type_sale: 'contado', menuDatePayment: false,
      due_date: null,
      due_date_min: new Date().toISOString().substr(0, 10),
      credit_sales_guide: null,
      date_payment_min: new Date().toISOString().substr(0, 10),
      generate_voucher: false,
      loan_guide: null,
      observation: null,
      processing: false,
      pay_cash: false,
      pay_visa: false,
      pay_master: false,
      pay_american: false,
      pay_transfer: false,
      pay_yape: false,
      amount_cash: null,
      amount_visa: null,
      amount_master: null,
      amount_american: null,
      amount_transfer: null,
      amount_yape: null,
      amount_change: 0,
      total_debt: 0,
      quantity_drums: null,
      positive_balance: false,
      amount_balance: null,
      attention_guide: null,
      total_return: 0,
      amount_debt: 0,
      drums: [],
      productsReturn: []
    }
  },
  methods: {
    handleSetDrums(drums) {
      this.drums = drums
    },
    handlePayCash() {
      this.pay_cash = !this.pay_cash
      if (!this.pay_cash) {
        this.amount_cash = null
        this.calculateChange()
      }
    },
    handlePayVisa() {
      this.pay_visa = !this.pay_visa
      if (!this.pay_visa) {
        this.amount_visa = null
        this.calculateChange()
      }
    },
    handlePayMaster() {
      this.pay_master = !this.pay_master
      if (!this.pay_master) {
        this.amount_master = null
        this.calculateChange()
      }
    },
    handlePayAmerican() {
      this.pay_american = !this.pay_american
      if (!this.pay_american) {
        this.amount_american = null
        this.calculateChange()
      }
    },
    handlePayTransfer() {
      this.pay_transfer = !this.pay_transfer;
      if (!this.pay_transfer) {
        this.amount_transfer = null
        this.calculateChange()
      }
    },
    handlePayYape() {
      this.pay_yape = !this.pay_yape;
      if (!this.pay_yape) {
        this.amount_yape = null
        this.calculateChange()
      }
    },
    handleCancelPayment() {
      this.setInitComponent()
      this.drawer = false
    },
    setInitComponent() {
      this.drums = []
      this.positive_balance = false
      this.register_change = false
      this.pay_cash = false
      this.pay_visa = false
      this.pay_master = false
      this.pay_american = false
      this.pay_transfer = false;
      this.pay_yape = false;
      this.amount_cash = null
      this.amount_visa = null
      this.amount_master = null
      this.amount_american = null
      this.amount_transfer = null;
      this.amount_yape = null;
      this.amount_change = null
      this.total_debt = 0
      this.quantity_drums = null;
      this.type_sale = 'contado';
      this.menuDatePayment = false;
      this.credit_sales_guide = null;
      this.attention_guide = null;
      this.generate_voucher = false;
      // this.type_document_sale = 'TICKET';
      this.loan_guide = null;
      this.observation = null;
    },
    handleSavePayment() {
      this.processing = true;
      let payment = this.setEntityPayment();
      let messageValidation = this.validationDataForPayment();
      if (messageValidation != 'success') {
        this.processing = false;
        this.$notify({
          group: 'foo',
          type: 'error',
          title: 'RESULTADO DE PAGO',
          text: messageValidation
        });
      } else {
        if (this.order_id == null) {
          this.registerOrder(payment);
        } else {
          this.registerPayment('orders', payment);
        }
      }
    },
    calculateTotalDebt() {
      let debt = this.total
      if (this.positive_balance) {
        debt = debt - this.amount_balance
      }
      return debt
    },
    calculateChange() {
      let sum = Tools.getNumberDecimalValue(this.amount_cash)
          + Tools.getNumberDecimalValue(this.amount_transfer)
          + Tools.getNumberDecimalValue(this.amount_yape);

      let amount_change = 0
      let debt = this.total
      if (this.positive_balance) {
        debt = debt - this.amount_balance
      }
      if (sum > debt) {
        amount_change = sum - debt
        this.amount_debt = 0
      } else if (debt > sum) {
        this.amount_debt = debt - sum
      } else if (debt == sum) {
        this.amount_debt = 0
      }

      this.amount_change = amount_change
    },
    handleSetAmountCash(value) {
      this.amount_cash = value
      this.calculateChange()
    },
    handleSetAmountVisa(value) {
      this.amount_visa = value
      this.calculateChange()
    },
    handleSetAmountMaster(value) {
      this.amount_master = value
      this.calculateChange()
    },
    handleSetAmountAmerican(value) {
      this.amount_american = value
      this.calculateChange()
    },
    handleSetAmountTransfer(value) {
      this.amount_transfer = value;
      this.calculateChange();
    },
    handleSetAmountYape(value) {
      this.amount_yape = value;
      this.calculateChange();
    },
    handleSetAmountBalance(value) {
      this.amount_balance = value
      this.total_debt = this.total - this.amount_balance
      this.calculateChange()
    },
    handleRegisterChange(value) {
      if (value) {
        this.register_change = true
      } else {
        this.register_change = false
      }
    },
    handleUsePositiveBalance(value) {
      if (value) {
        this.amount_balance = this.customer.balance_favor
        this.total_debt = this.total - this.amount_balance
      } else {
        this.amount_balance = 0
        this.total_debt = this.total
      }

      this.calculateChange()
    },
    registerPayment(source, payment) {
      apiService.createPayment(payment).then((response) => {
        this.processing = false;
        this.handleCancelPayment()
        this.$notify({
          group: 'foo',
          type: 'success',
          title: 'RESULTADO DE PAGO',
          text: 'El pago se realizó de manera exitosa!'
        });
        if (source == 'orders') {
          this.selectOrder(null)
          this.getDeliveryUsers()
          this.selectOrder(response.data)
          this.getAvailableStatus()
          if (this.order.deliveryman !== null) {
            this.assignDeliveryman(this.order.deliveryman)
          } else {
            this.assignDeliveryman(-1)
          }
          this.replaceOrderUpdated();
        }
        if (source == 'sales') {
          console.log('sales registro')
          this.clearData()
        }
        this.handlePrintVoucher(response.data);
      })
    },
    clearData() {
      this.setInitComponent()
      this.limpiarFormulario()
    },
    registerOrder(payment) {
      apiService.createOrder(this.order).then((response) => {
        payment.order_id = response.data.id
        this.registerPayment('sales', payment)
      })
    },
    setEntityPayment() {
      let payment = {
        order_id: this.order_id,
        discount: this.discount,
        subtotal: this.subtotal,
        igv: this.amount_igv,
        total: this.total,
        positive_balance: this.positive_balance,
        total_debt: this.total_debt,
        amount_change: this.amount_change,
        save_change: this.register_change,
        quantity_drums: this.quantity_drums,
        amount_cash: this.amount_cash,
        amount_transfer: this.amount_transfer,
        amount_yape: this.amount_yape,
        amount_balance: this.amount_balance,
        amount_debt: this.amount_debt,
        save_debt: false,
        drums: this.drums,
        type_document_sale: this.type_document_sale,
        guide_number: this.guide_number,
        type_sale: this.type_sale,
        due_date: this.due_date,
        credit_sales_guide: this.credit_sales_guide,
        attention_guide: this.attention_guide,
        generate_voucher: this.generate_voucher,
        loan_guide: this.loan_guide,
        observation: this.observation
      }

      return payment
    },
    handleAddDrums() {
      console.log('cargando informacion')
      this.$refs.devolverBebida.show();
    },
    handleDeleteDrum(indexDrum) {
      this.drums.splice(indexDrum, 1);
    },
    getTotalDrumsReturned(drums) {
      let total = 0;
      drums.forEach(element => {
        total = total + parseInt(element.quantity);
      });

      return total;
    },
    async handlePrintVoucher(order) {

      if (order) {
        //console.log('ingresando orden')
        if (this.type_sale == 'contado' || this.generate_voucher == true) {
          //console.log('validando voucher',order)
          if (order.type_document == 'FACTURA' || order.type_document == 'BOLETA') {
            //console.log
            console.log(this.companyData)
            let content = await VoucherTools.generateVoucherSale(order, this.companyData);
            this.printVoucher(content);
          }
        }
      }
    },
    handleChangeCreditSale(value) {
      console.log(value);
    },
    handleChangeTypeSale(value) {
      if (value == 'contado') {
        this.due_date = null;
        this.credit_sales_guide = null;
        this.generate_voucher = false;
      } else if (value == 'credito') {
        this.pay_cash = false;
        this.pay_transfer = false;
        this.pay_yape = false;
        this.amount_cash = null;
        this.amount_transfer = null;
        this.amount_yape = null;
        this.calculateChange();
      }
    },
    handleChangeGenerateVoucher(value) {
      if (value == true) {
        this.credit_sales_guide = null;
      }
    },
    validationDataForPayment() {
      let message = 'success';
      console.log(this.amount_debt);
      if (this.type_sale == 'contado') {
        if (this.amount_debt > 0) {
          message = 'Debe ingresar el importe a pagar';
          return message;
        }
      } else {
        if (!this.due_date) {
          message = 'Debe ingresar fecha de pago';
          return message;
        }
      }

      return message;
    },
    printVoucher(content) {
      $('<iframe>', {name: 'voucheriframe', class: 'printFrame'})
          .appendTo('body')
          .contents().find('body')
          .append(content);

      window.frames['voucheriframe'].focus();
      setTimeout(() => {
        window.frames['voucheriframe'].print();
      }, 500);

      setTimeout(() => {
        $(".printFrame").remove();
      }, 1000);
    }
  }
}
</script>

<style scoped>

</style>