<template>
  <v-card class="pay-card-list-products">
    <v-card-title class="pt-1 pb-1">
      <span class="subtitle-2">Detalle del Pedido</span>
    </v-card-title>
    <v-divider></v-divider>
    <v-card-text class="pt-1 pb-1 pay-list-products">
      <v-list-item v-for="item in listProducts" :key="item.id" class="cart-item-product pl-0 pr-0" two-line flat>
        <template>
          <v-list-item-content>
            <v-list-item-title class="pay-product-name">
              <v-icon v-if="item.is_bonus"
                      color="amber" size="18" class="mr-1">
                fas fa-gift
              </v-icon>
              <span class="subtitle-2">{{ item.name }}</span>
            </v-list-item-title>
            <v-list-item-subtitle>
              <span class="mr-4 pb-1 pay-product-quantity">Cantidad: {{ item.quantity }}</span>
            </v-list-item-subtitle>
          </v-list-item-content>
          <v-list-item-action class="btn-quantity">
            <div class="product-price">
                                                <span class="label-price-discounted" v-if="item.discount_amount > 0">
                                                    {{ item.base_price * item.quantity | currency('S/') }}
                                                </span>
              <span class="ml-2">
                                                    {{ item.subtotal | currency('S/') }}
                                                </span>
            </div>
          </v-list-item-action>
        </template>
      </v-list-item>
    </v-card-text>

    <v-card-text>
      <v-list-item class="cart-item-product pl-0 pr-0 cart-amounts-summary">
        <v-list-item-content class="pt-1 pb-1">
          <v-list-item-title class="amount-discount">Descuento</v-list-item-title>
        </v-list-item-content>
        <v-list-item-action class="btn-quantity amount-discount mt-2 mb-1">
          {{ discount | currency('S/ ') }}
        </v-list-item-action>
      </v-list-item>
      <v-list-item class="cart-item-product pl-0 pr-0 cart-amounts-summary">
        <v-list-item-content class="pt-1 pb-1">
          <v-list-item-title>Subtotal</v-list-item-title>
        </v-list-item-content>
        <v-list-item-action class="btn-quantity amount-subtotal mt-2 mb-1">
          {{ subtotal | currency('S/ ') }}
        </v-list-item-action>
      </v-list-item>
      <v-list-item class="cart-item-product pl-0 pr-0 cart-amounts-summary">
        <v-list-item-content class="pt-1 pb-1">
          <v-list-item-title>IGV</v-list-item-title>
        </v-list-item-content>
        <v-list-item-action class="btn-quantity amount-igv mt-2 mb-1">
          {{ amount_igv | currency('S/ ') }}
        </v-list-item-action>
      </v-list-item>
      <v-list-item class="cart-item-product pl-0 pr-0 cart-amounts-summary">
        <v-list-item-content class="pt-1 pb-1">
          <v-list-item-title>Total</v-list-item-title>
        </v-list-item-content>
        <v-list-item-action class="btn-quantity amount-total mt-2 mb-1">
          {{ total | currency('S/ ') }}
        </v-list-item-action>
      </v-list-item>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: "DetallePedido",
  props:['listProducts','discount','subtotal','amount_igv','total'],
  data(){
    return{}
  }
}
</script>

<style scoped>

</style>