<template>
  <v-navigation-drawer
      v-model="drawer"
      width="950"
      app
      temporary
      right
      class="wost-drawer"
  >
    <div class="form-head">
      <template>
        <v-row>
          <v-col cols="6" class="pt-2 pb-0">
            <span>REGISTRO DE PAGO</span>
          </v-col>
          <v-col cols="6" class="pt-0 pb-0">
            <v-btn-toggle
                v-model="type_document_sale"
                mandatory
                dense
                color="green darken-3"
                class="float-right">
              <v-btn value="TICKET" class="btn-show-mode">
                TICKET
              </v-btn>
              <v-btn :value="type_document_customer" class="btn-show-mode">
                {{ type_document_customer }}
              </v-btn>
            </v-btn-toggle>
          </v-col>
        </v-row>
      </template>
    </div>

    <div>
      <v-row no-gutters>
        <v-col :md="6" :sm="6" cols="12" class="pt-2 pl-2 pr-2">
          <DetallePedido :list-products="listProducts"
                         :amount_igv="amount_igv"
                         :discount="discount"
                         :subtotal="subtotal"
                         :total="total"></DetallePedido>
        </v-col>
        <v-col :md="6" :sm="6" cols="12" class="pt-2 pl-2 pr-2">
          <DetallePago :customer="cliente"
                       :amount_igv="amount_igv"
                       :list-products="listProducts"
                       :discount="discount"
                       :subtotal="subtotal"
                       :order="order"
                       :total="total"
                       :type_document_customer="type_document_customer"
                       :type_document_sale="type_document_sale"
                       :limpiar-formulario="limpiarFormulario"
          ></DetallePago>
        </v-col>
      </v-row>

    </div>

    <!--<return-drums ref="returnDrums"></return-drums>-->

  </v-navigation-drawer>
</template>

<script>
import {APIService} from '@/APIService';

const apiService = new APIService();

import JQuery from 'jquery';
import DetallePedido from "./DetallePedido";
import DetallePago from "./DetallePago";
import {mapState} from "vuex";

let $ = JQuery;

export default {
  name: "FormularioPago",
  components: {DetallePago, DetallePedido},
  props: ['listProducts', 'discount', 'subtotal', 'amount_igv', 'total', 'cliente',
  'limpiarCard'],
  data() {
    return {
      dialogDebt: false,
      menuDueDate: false,
      due_date: null,
      due_date_min: new Date().toISOString().substr(0, 10),
      guide_number: null,
      titleForm: 'Registro de pago',
      drawer: false,
      positive_balance: false,
      amount_balance: null,
      type_document_sale: 'TICKET',
      type_document_customer: null,
      generate_voucher: false,
      order: null
    }
  },
  watch: {
    cliente() {
      this.setTypeDocumentSale(this.cliente)
    }
  },
  methods: {
    limpiarFormulario() {
      this.dialogDebt = false
      this.menuDueDate = false
      this.due_date = null
      this.due_date_min = new Date().toISOString().substr(0, 10)
      this.guide_number = null
      this.titleForm = 'Registro de pago'
      this.drawer = false
      this.positive_balance = false
      this.amount_balance = null
      this.type_document_sale = 'TICKET'
      this.type_document_customer = null
      this.generate_voucher = false
      this.order = null
      this.limpiarCard()
    },
    showFormulario(order) {
      this.order = order
      this.drawer = true
    },
    setTypeDocumentSale(customer) {
      if (customer) {
        if (customer.type_document == 'DNI') {
          this.type_document_customer = 'BOLETA';
        } else if (customer.type_document == 'RUC') {
          this.type_document_customer = 'FACTURA';
        }
      }
    }
  }
}
</script>

<style scoped>

</style>