<template>
  <v-card raised class="padding-top-0">
    <v-card-title>
      <v-text-field
          :value="search"
          @input="handleSearchProducto"
          label="Buscar producto"
          hide-details
          class="wost-text-input mr-2">
        <v-icon slot="prepend" color="indigo" size="18">fas fa-search</v-icon>
      </v-text-field>
      <v-btn-toggle
          @change="type_view"
          mandatory
          dense
      >
        <v-btn>
          <v-icon size="18">fas fa-bars</v-icon>
        </v-btn>
        <v-btn>
          <v-icon size="18">fas fa-border-all</v-icon>
        </v-btn>
      </v-btn-toggle>
    </v-card-title>
  </v-card>
</template>

<script>
export default {
  name: "SearchProducts",
  props:['handleSearchProducto','type_view','search'],
  data(){
    return{
    }
  }
}
</script>

<style scoped>

</style>