<template>
  <v-row justify="center">
    <v-dialog
        v-model="dialog"
        persistent
        max-width="290"
    >
      <v-card class="pl-0 pr-0">
        <v-card-title>
          <v-icon class="mr-3">fas fa-box-open</v-icon>
          <span class="subtitle-2">
                    {{ product.name }}
                </span>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text class="pb-0">
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field v-model="form.quantity"
                              ref="quantity"
                              label="Cantidad"
                              type="number"
                              autofocus
                              outlined
                              dense
                              @keydown="handleInputQuantity"
                              @change="handleChangeQuantity"
                              hide-details="auto"
                              required
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-container class="pt-0 pb-0">
            <v-row>
              <v-col cols="6">
                <v-btn dark color="red" block @click="handleCancel">
                  Cancelar
                </v-btn>
              </v-col>
              <v-col cols="6">
                <v-btn dark color="green" block @click="handleOk">
                  Aceptar
                </v-btn>
              </v-col>
            </v-row>
          </v-container>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<script>
export default {
  name: 'UpdateQuantity',
  props: ['product',
    'customer',
    'actualizarCantidad',
    'modalUpdateCantidad',
    'handleModalUpdateCantidad',
    'updateProductListSelected'],
  data() {
    return {
      dialog: false,
      //description: null,
      form: {
        quantity: 1
      }
    }
  },
  watch: {
    modalUpdateCantidad() {
      if (this.modalUpdateCantidad)
        this.show()
      else
        this.handleCancel()
    }
  },
  methods: {
    show() {
     // console.log(this.product)
      this.form.quantity=this.product.quantity
      this.dialog = true
    },
    handleCancel() {
      this.dialog = false
      this.handleModalUpdateCantidad(false,null||{})
      this.limpiarData()
    },
    limpiarData() {
      //description: null,
      this.form = {
        quantity: 1
      }
    },
    handleOk() {
      if (this.form.quantity == null) {
        this.$notify({
          group: 'foo',
          type: 'error',
          title: 'ERROR CANTIDAD',
          text: 'debe ingresar cantidad'
        })
      } else {
        if (this.form.quantity > 0) {
          let cantidad = this.form.quantity
          let priceObject = this.customer.price
          let unit_price = 0
          let subtotal = 0
          if (priceObject) {
            let customerPrice = parseFloat(priceObject.price)
            unit_price = customerPrice
            subtotal = cantidad * parseFloat(customerPrice)
          } else {
            subtotal = cantidad * parseFloat(this.product.unit_price)
            unit_price = this.product.unit_price
          }
          this.actualizarCantidad(cantidad, subtotal, unit_price)
          this.updateProductListSelected()
          //this.handleModalUpdateCantidad(false,null||{})
          this.dialog = false
          this.limpiarData()
        } else {
          this.$notify({
            group: 'foo',
            type: 'error',
            title: 'ERROR CANTIDAD',
            text: 'debe ingresar cantidad mayor que cero'
          })
        }

      }
    },
    handleInputQuantity({target}) {
      this.form.quantity = target.value
    },
    handleChangeQuantity(value) {
      this.form.quantity = value
    }
  }
}
</script>