<template>
    <v-navigation-drawer
        v-model="drawer"          
        width="500"
        app
        temporary
        right
        class="wost-drawer"
    >
        <div class="form-head">
            {{ titleForm }}
        </div>
        <div class="wrapper-form-crud overflow-y-auto">               
            <v-form>
                <v-card class="padding-bootom-0">
                    <v-card-text>
                        <v-container>
                            <v-row>
                                <v-col :cols="12">
                                    <v-text-field v-model="supplyForm.name"
                                        ref="name"
                                        label="Nombre"
                                        outlined
                                        dense
                                        :rules="[() => !!supplyForm.name || 'Debe ingresar el nombre']"
                                        hide-details="auto"
                                        required
                                    ></v-text-field>
                                </v-col>
                            </v-row>
                            <v-row>
                                <v-col :cols="12">
                                    <v-autocomplete ref="unit_id"
                                        label="Unidad de medida"
                                        :items="units"
                                        v-model="supplyForm.unit_id"
                                        outlined
                                        dense
                                        :rules="[() => !!supplyForm.unit_id || 'Debe ingresar el unidad de medida']"
                                        hide-details="auto"
                                        required
                                    ></v-autocomplete>
                                </v-col>                                
                            </v-row>
                            <v-row>
                                <v-col cols="12">
                                    <v-combobox
                                        v-model="supplyForm.brand"
                                        :items="brands_supplies"
                                        label="Marca"
                                        outlined
                                        dense
                                        hide-details="auto"
                                    ></v-combobox>
                                </v-col>
                            </v-row>                            
                            <v-row>
                                <v-col :cols="12">
                                    <v-text-field v-model="supplyForm.cost" 
                                        label="Costo" 
                                        type="number"
                                        outlined
                                        dense
                                        hide-details="auto"
                                    ></v-text-field>
                                </v-col>                                    
                            </v-row>
                            <v-row>
                                <v-col :cols="12">
                                    <span class="subtitle-2 mr-2">RETORNO</span>
                                    <v-btn-toggle v-model="supplyForm.has_return"
                                        dense
                                        color="green darken-3">
                                        <v-btn value="si">SI</v-btn>
                                        <v-btn value="no">NO</v-btn>
                                    </v-btn-toggle>
                                </v-col>
                            </v-row>
                        </v-container>
                    </v-card-text>

                </v-card>
                <br>
                <div class="text-a-right">
                    <v-container class="pt-0">
                        <v-row>
                            <v-col cols="6">
                                <v-btn color="error"
                                    block
                                    outlined 
                                    @click="closeForm()"                                    
                                >Cancelar</v-btn>
                            </v-col>
                            <v-col cols="6">
                                <v-btn v-if="actionCrud === 'create'"
                                    block
                                    color="primary" 
                                    raised 
                                    @click="storeSupply()"
                                >Guardar</v-btn>
                                <v-btn v-else 
                                    color="primary"
                                    block
                                    raised 
                                    @click="modifySupply()"
                                >Actualizar</v-btn>
                            </v-col>
                        </v-row>
                    </v-container>
                </div>                
            </v-form>
        </div>
    </v-navigation-drawer>
</template>

<script>

import { mapActions, mapMutations, mapState } from 'vuex';
import ApiSupplies from '../../apis/Supplies';

import {APIService} from '@/APIService';
const apiService = new APIService();

export default {
    name: 'CreateOrUpdate',
    computed: {
        ...mapState('supplies', [
            'supplies',
            'supply',
            'supplyId'
        ]),
    },
    data() {
        return {
            titleForm: '',
            drawer: false,
            actionCrud: '',
            brands_supplies: [],
            supplyForm: {
                id: null,
                category_id: null,
                unit_id: null,
                name: null,
                cost: null,
                stock: null,
                minimum_stock: null,
                has_return: null,
                brand: null
            },
            categories: [],
            units: []
        }
    },
    methods: {
        ...mapActions('supplies', [
            'getSupplies',
            'createSupply',
            'updateSupply'
        ]),
        ...mapMutations('supplies', [
            'setSupply',
            'setSupplyId'
        ]),
        async showForm(title, action) {
            this.loadBrandSupplies();
            await this.clearform()
            this.titleForm = title
            this.actionCrud = action
            if (this.actionCrud === 'update') {
                this.setSupplyId(this.supply.id)
                this.setSupplyForm(this.supply)
            }
            this.drawer = !this.drawer
        },
        async clearform() {
            this.supplyForm.id = null
            this.supplyForm.category_id = null
            this.supplyForm.unit_id = null
            this.supplyForm.name = null
            this.supplyForm.cost = null
            this.supplyForm.stock = null
            this.supplyForm.minimum_stock = null
            this.supplyForm.has_return = null
            this.supplyForm.brand = null
            await this.clearErrors();
        },
        setSupplyForm(supply) {
            this.supplyForm.id = supply.id
            this.supplyForm.category_id = supply.category_id
            this.supplyForm.unit_id = supply.unit_id
            this.supplyForm.name = supply.name
            this.supplyForm.cost = supply.cost
            this.supplyForm.stock = supply.stock
            this.supplyForm.minimum_stock = supply.minimum_stock
            this.supplyForm.has_return = supply.has_return
            this.supplyForm.brand = supply.brand
        },
        closeForm() {
            this.drawer = false
        },
        storeSupply() {
            if (!this.existErrors()) {
                this.setSupply(this.supplyForm)
                this.createSupply()
                this.closeForm()
                this.$notify({
                    group: 'foo',
                    type: 'success',
                    title: 'REGISTRO DE INSUMO',
                    text: 'Insumo registrado de forma correcta.!'
                });
            }
        },
        modifySupply() {
            if (!this.existErrors()) {
                this.setSupply(null)
                this.setSupply(this.supplyForm)
                this.updateSupply()
                this.closeForm()
                this.$notify({
                    group: 'foo',
                    type: 'success',
                    title: 'ACTUALIZACION DE INSUMO',
                    text: 'Insumo actualizado de forma correcta.!'
                });
            }
        },
        loadBrandSupplies () {
            ApiSupplies.get_brands()
                .then( response => {
                    this.brands_supplies = response.data;
                }).catch( error => {
                    this.$notify({
                        group: 'foo',
                        type: 'success',
                        title: 'LISTAR MARCAS',
                        text: 'Ocurrió un error al obtener lista de marcas de insumos'
                    });
                })
        },
        existErrors(){
            let hasErrors = false;

            Object.keys(this.supplyForm).forEach(f => {                
                if (this.$refs[f]) {
                    if (!this.supplyForm[f]) hasErrors = true
                    this.$refs[f].validate(true);
                }                
            });

            return hasErrors;
        },
        clearErrors() {
            Object.keys(this.supplyForm).forEach(f => {
                if (this.$refs[f]) this.$refs[f].reset()                
            });
        },
    },
    created () {
        this.loadBrandSupplies();
    },
    mounted() {
        apiService.getCategoriesDropdown().then((response) => {
            this.categories = response.data   
        });
        apiService.getUnitsDropdown().then((response) => {
            this.units = response.data;            
        });
    }
}
</script>

<style scoped>

</style>