<template>
    <v-dialog
        v-model="dialog"
        width="450"
        transition="fab-transition"
    >
        <v-card v-if="sale" class="pl-0 pr-0">
            <v-card-title>
                <span class="subtitle-2 font-weight-bold">
                    ANULACIÓN DE FACTURA
                </span> 
            </v-card-title>
            <v-divider></v-divider>
            <v-card-text class="pb-0">
                <v-container>
                    <v-row>
                        <v-col cols="6">
                            <v-text-field
                                v-model="sale.serie"
                                label="Serie"
                                outlined
                                hide-details
                                readonly
                                dense
                            >
                            </v-text-field>
                        </v-col>
                        <v-col cols="6">
                            <v-text-field
                                v-model="sale.correlative"
                                label="Número"
                                outlined
                                hide-details
                                readonly
                                dense
                            >
                            </v-text-field>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col cols="12">
                            <v-textarea
                                ref="reason"
                                v-model="form.reason"
                                label="Motivo de anulación"
                                outlined
                                :rules="[() => !!form.reason || 'Es necesario ingresar el motivo']"
                                required
                            >
                            </v-textarea>
                        </v-col>
                    </v-row>
                </v-container>
            </v-card-text>
            <v-card-actions>
                <v-container class="pt-0 pb-0">
                    <v-row>
                        <v-col cols="6">
                            <v-btn dark color="red" block @click="handleCancel">
                                Cancelar
                            </v-btn>
                        </v-col>
                        <v-col cols="6">
                            <v-btn dark color="green" block @click="handleCancelInvoice">
                                Aceptar
                            </v-btn>
                        </v-col>
                    </v-row>
                </v-container>                    
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
import ApiReports from '../../apis/Reports';

export default {
    name: 'CancelInvoice',
    data () {
        return {
            dialog: false,
            sale: {},
            form: {
                sale_id: null,
                reason: null
            }
        }
    },
    methods: {
        show (sale) {
            this.clearForm();
            this.sale = sale;
            this.dialog = !this.dialog;
        },
        clearForm () {
            this.form.sale_id = null;
            this.form.reason = null;
            this.clearErrors();
        },
        closeForm() {
            this.clearForm();
            this.dialog = false;
        },
        handleCancel () {
            this.closeForm();
        },
        async handleCancelInvoice () {
            if (!this.existErrors()) {
                console.log('factura anulada');
                /*
                this.form.sale_id = this.sale.id;
                await this.storeCreditNote(this.form);
                this.getSales({
                    company_id: this.company_id
                });
                this.closeForm();
                */
            }            
        },
        existErrors(){
            let hasErrors = false;

            Object.keys(this.form).forEach(f => {                
                if (this.$refs[f]) {
                    if (!this.form[f]) hasErrors = true
                    this.$refs[f].validate(true);
                }                
            });

            return hasErrors;
        },
        clearErrors() {
            Object.keys(this.form).forEach(f => {
                if (this.$refs[f]) this.$refs[f].reset()                
            });
        }
    }
}
</script>

<style scoped>

</style>