<template>
    <v-navigation-drawer
        v-model="drawer"          
        width="900"
        app
        temporary
        right
        class="wost-drawer"
    >
        <div class="form-head">
            Movimientos de Caja
        </div>
    </v-navigation-drawer>
</template>

<script>
export default {
    name: 'DetailCash',
    data() {
        return {
            drawer: false,
            cash_id: null,
            cash_date: null
        }
    },
    methods: {
        showForm(cash_id, cash_date) {
            this.cash_id = cash_id
            this.cash_date = cash_date
            this.drawer = !this.drawer
        },
    }
}
</script>

<style>

</style>