<template>
    <v-navigation-drawer
        v-model="drawer"          
        width="450"
        app
        temporary
        right
        class="wost-drawer"
    >
        <div class="form-head">
            REPORTE PARA CONTABILIDAD
        </div>

        <div class="wrapper-form-crud overflow-y-auto">
            <v-container class="pt-0 pb-0">
                <v-row>
                    <v-col cols="12">
                        <v-card>
                            <v-card-text>
                                <v-container>
                                    <v-row>
                                        <v-col cols="12">
                                            <v-menu
                                                v-model="menuDateFrom"
                                                :close-on-content-click="false"
                                                :nudge-right="40"
                                                transition="scale-transition"
                                                offset-y
                                                min-width="290px"
                                            >
                                                <template v-slot:activator="{ on }">
                                                    <v-text-field
                                                    ref="date_from"
                                                    v-model="form.date_from"
                                                    label="Desde"
                                                    readonly
                                                    dense
                                                    outlined
                                                    clearable
                                                    v-on="on"
                                                    :rules="[() => !!form.date_from || 'Debe ingresar fecha de inicio']"
                                                    hide-details="auto"
                                                    required                                  
                                                    ></v-text-field>
                                                </template>
                                                <v-date-picker v-model="form.date_from" 
                                                    @input="menuDateFrom = false" 
                                                    no-title
                                                    locale="es">
                                                </v-date-picker>
                                            </v-menu>
                                        </v-col>
                                    </v-row>
                                    <v-row>
                                        <v-col cols="12">
                                            <v-menu
                                                v-model="menuDateUntil"
                                                :close-on-content-click="false"
                                                :nudge-right="40"
                                                transition="scale-transition"
                                                offset-y
                                                min-width="290px"
                                            >
                                                <template v-slot:activator="{ on }">
                                                    <v-text-field
                                                    ref="date_until"
                                                    v-model="form.date_until"
                                                    label="Hasta"
                                                    readonly
                                                    dense
                                                    outlined
                                                    clearable
                                                    v-on="on"
                                                    :rules="[() => !!form.date_from || 'Debe ingresar fecha final']"
                                                    hide-details="auto"
                                                    required                                 
                                                    ></v-text-field>
                                                </template>
                                                <v-date-picker v-model="form.date_until" 
                                                    @input="menuDateUntil = false" 
                                                    no-title
                                                    locale="es">
                                                </v-date-picker>
                                            </v-menu>
                                        </v-col>
                                    </v-row>
                                </v-container>
                            </v-card-text>
                        </v-card>
                    </v-col>
                </v-row>
                
            </v-container>
        </div>

        <div class="mt-3 pl-3 pr-3">
            <v-container class="pt-0 pb-0">
                <v-row>
                    <v-col cols="6" class="pt-0 pb-0">
                        <v-btn color="red"
                            block
                            dark
                            @click="handleCancel">
                            Cancelar
                        </v-btn>
                    </v-col>
                    <v-col cols="6" class="pt-0 pb-0">
                        <v-btn color="green"
                            block
                            dark
                            @click="handleDownload">
                            Descargar
                        </v-btn>
                    </v-col>
                </v-row>
            </v-container>
        </div>
    </v-navigation-drawer>
</template>

<script>
import axios from 'axios';
import ApiReport from '../../apis/Reports';

export default {
    name: 'ReportAccounting',
    data () {
        return {
            drawer: false,
            menuDateFrom: false,
            menuDateUntil: false,
            form: {
                date_from: null,
                date_until: null
            }
        }
    },
    methods: {
        show () {
            this.clearForm();
            this.drawer = !this.drawer;
        },
        async clearForm () {
            this.form.date_from = null;
            this.form.date_until = null;
            await this.clearErrors();
        },
        closeForm () {
            this.drawer = false;
        },
        handleCancel () {
            this.closeForm();
        },
        handleDownload () {
            if (!this.existErrors()) {
                ApiReport.downloadSalesAccounting(this.form)
                    .then( (response) => {
                        let blob = new Blob([response.data], {
                            type: "application/vnd.ms-excel"
                        });
                        const url = window.URL.createObjectURL(blob);
                        const link = document.createElement('a');
                        link.href = url;
                        link.setAttribute('download', 'rventas.xlsx');
                        document.body.appendChild(link);
                        link.click();
                    }).catch( error => {
                        this.$notify({
                            group: 'foo',
                            type: 'error',
                            title: 'ERROR',
                            text: 'Ocurrió un error al descargar reporte'
                        });
                    })                    
            }            
        },
        existErrors(){
            let hasErrors = false;

            Object.keys(this.form).forEach(f => {                
                if (this.$refs[f]) {
                    if (!this.form[f]) hasErrors = true
                    this.$refs[f].validate(true);
                }                
            });

            return hasErrors;
        },
        clearErrors() {
            Object.keys(this.form).forEach(f => {
                if (this.$refs[f]) this.$refs[f].reset()                
            });
        },
    }
}
</script>

<style scoped>

</style>