<template>
    <v-container app :fluid="true" class="pt-1 pb-2">
        <v-row>
            <v-col cols="12" class="pt-0 pb-2">
                <v-btn dark 
                    color="indigo" 
                    height="40" 
                    class="float-right wost-btn-new"
                    @click="handleViewConfigure">
                    Configurar
                </v-btn>
            </v-col>
        </v-row>
        <v-row>

            <v-col cols="3" class="pt-1 pb-1">
                <v-card>
                    <v-card-title class="pt-2 pb-2">
                        <v-icon size="18" color="red" class="mr-2">
                            fas fa-shopping-cart
                        </v-icon>
                        <span class="subtitle-2">Clientes que no estan comprando</span>
                    </v-card-title>
                    <v-divider></v-divider>
                    <v-card-text class="pl-1 pr-1">
                        <v-simple-table
                            height="65vh"
                        >
                            <tbody>
                                <tr v-for="item in customers" :key="item.id">
                                    <td>{{ item.messages }}</td>
                                </tr>
                            </tbody>
                        </v-simple-table>
                    </v-card-text>
                </v-card>
            </v-col>

            <v-col cols="3" class="pt-1 pb-1">
                <v-card>
                    <v-card-title class="pt-2 pb-2">
                        <v-icon size="18" color="amber" class="mr-2">
                            fas fa-money-bill-alt
                        </v-icon>
                        <span class="subtitle-2">Deudas por vencer</span>
                    </v-card-title>
                    <v-divider></v-divider>
                    <v-card-text class="pl-1 pr-1">
                        <v-simple-table
                            height="65vh"
                        >
                            <tbody>
                                <tr v-for="item in debts" :key="item.id">
                                    <td>{{ item.messages }}</td>
                                </tr>
                            </tbody>
                        </v-simple-table>
                    </v-card-text>
                </v-card>
            </v-col>

            <v-col cols="3" class="pt-1 pb-1">
                <v-card>
                    <v-card-title class="pt-2 pb-2">
                        <v-icon size="18" color="blue" class="mr-2">
                            fas fa-tint-slash
                        </v-icon>
                        <span class="subtitle-2">Bidones pendientes de entregar</span>
                    </v-card-title>
                    <v-divider></v-divider>
                    <v-card-text class="pl-1 pr-1">
                        <v-simple-table
                            height="65vh"
                        >
                            <tbody>
                                <tr v-for="item in drums" :key="item.id">
                                    <td>{{ item.messages }}</td>
                                </tr>
                            </tbody>
                        </v-simple-table>
                    </v-card-text>
                </v-card>
            </v-col>

            <v-col cols="3" class="pt-1 pb-1">
                <v-card>
                    <v-card-title class="pt-2 pb-2">
                        <v-icon size="18" color="green" class="mr-2">
                            fas fa-recycle
                        </v-icon>
                        <span class="subtitle-2">Activos prestados</span>
                    </v-card-title>
                    <v-divider></v-divider>
                    <v-card-text class="pl-1 pr-1">
                        <v-simple-table
                            height="65vh"
                        >
                            <tbody>
                                <tr v-for="item in borroweds" :key="item.id">
                                    <td>{{ item.messages }}</td>
                                </tr>
                            </tbody>
                        </v-simple-table>
                    </v-card-text>
                </v-card>
            </v-col>

        </v-row>

        <Configure ref="configure"></Configure>
    </v-container>
</template>

<script>
import {mapState, mapActions} from 'vuex';

import Configure from '../../components/Notifications/Configure';

export default {
    name: 'Notifications',
    components: {
        Configure
    },
    data () {
        return {
            customers: [],
            debts: [],
            drums: [],
            borroweds: []
        }
    },
    computed: {
        ...mapState('notifications', [
            'notifications'
        ])
    },
    methods: {
        ...mapActions('notifications', [
            'getTypesNotifications'
        ]),
        pullCustomers () {
            this.customers = [];
            if (this.notifications.length > 0) {
                this.notifications.forEach(element => {
                    if (element.type_notification_id == 1) {
                        this.customers.push(element);
                    }
                });
            }
        },
        pullDebts () {
            this.debts = [];
            if (this.notifications.length > 0) {
                this.notifications.forEach(element => {
                    if (element.type_notification_id == 2) {
                        this.debts.push(element);
                    }
                });
            }
        },
        pullDrums () {
            this.drums = [];
            if (this.notifications.length > 0) {
                this.notifications.forEach(element => {
                    if (element.type_notification_id == 3) {
                        this.drums.push(element);
                    }
                });
            }
        },
        pullBorroweds () {
            this.borroweds = [];
            if (this.notifications.length > 0) {
                this.notifications.forEach(element => {
                    if (element.type_notification_id == 4) {
                        this.borroweds.push(element);
                    }
                });
            }
        },
        handleViewConfigure () {
            this.$refs.configure.show();
        }
    },
    created () {
        this.pullCustomers();
        this.pullDebts();
        this.pullDrums();
        this.pullBorroweds();
        this.getTypesNotifications();
    }
}
</script>

<style scoped>

</style>