<template>
    <v-navigation-drawer
        v-model="drawer"          
        width="1080"
        app
        temporary
        right
        class="wost-drawer"
    >
        <div class="form-head">
            {{ titleForm }}
        </div>
        <div class="pl-3 pt-3 pr-3">
            <v-card>
                <v-card-text v-if="customerSelected" class="pt-0 pb-0">
                    <template>
                        <v-row>
                            <v-col cols="6">
                                <span v-if="customerSelected.type_document === 'DNI'" class="title">
                                    {{ customerSelected.name }} {{ customerSelected.surname }}
                                </span>
                                <span v-else class="title">{{ customerSelected.name }}</span>
                                <span class="d-block">
                                    <b>{{ customerSelected.type_document }}</b>
                                    {{ customerSelected.document }}
                                </span>
                            </v-col>
                            <v-col cols="6">
                                <v-btn v-if="selectedRows.length > 0"
                                    color="green" 
                                    dark
                                    small
                                    class="float-right"
                                    @click="handleGenerateDocument">
                                    GENERAR {{ type_document }}
                                </v-btn>
                            </v-col>
                        </v-row>
                    </template>
                </v-card-text>                
            </v-card>

            <v-card class="mt-3">
                <v-card-text class="pt-0 pb-0">
                    <template>
                        <v-row>
                            <v-col cols="12" class="pl-0 pr-0">
                                <v-data-table
                                    class="wost-table table-report-sale"
                                    :headers="headers"
                                    :items="debtsCustomer"
                                    :items-per-page="10"
                                    item-key="id"
                                    height="60vh"
                                    no-data-text=""
                                    show-expand
                                    dense
                                    :single-expand="true"
                                    show-select
                                    v-model="selectedRows"
                                >
                                    <!--
                                    <template v-slot:item.data-table-select="{ item, isSelected, select }">
                                        <v-simple-checkbox
                                            v-if="item.status == 'pagada'"
                                            color="green" 
                                            :value="isSelected"
                                            @input="select($event)"
                                        ></v-simple-checkbox>
                                    </template>
                                    -->

                                    <template v-slot:item.order_id="{ item }">
                                        #{{ item.order_id | numberOrder }}
                                    </template>
                                    <template v-slot:item.serie="{item}">
                                        <span v-if="item.serie">{{ item.serie }}-{{item.correlative}}</span>
                                    </template>
                                    <template v-slot:item.guide_number="{item}">
                                        <span v-if="item.credit_sales_guide">{{ item.credit_sales_guide }}</span>
                                        <span v-else>{{ item.guide_number }}</span>
                                    </template>
                                    <template v-slot:item.entry_date="{ item }">
                                        {{ item.entry_date | moment("DD/MM/YYYY") }}
                                    </template>                                    
                                    <template v-slot:item.amount="{ item }">
                                        {{ item.amount | currency('S/ ') }}
                                    </template>
                                    <template v-slot:item.amount_paid="{ item }">
                                        {{ item.amount_paid | currency('S/ ') }}
                                    </template>
                                    <template v-slot:item.amount_pending="{ item }">
                                        {{ item.amount_pending | currency('S/ ') }}
                                    </template>
                                    <template v-slot:item.due_date="{item}">
                                        <span v-if="item.due_date">
                                            {{ item.due_date | moment('DD/MM/YYYY') }}
                                        </span>
                                    </template>
                                    <template v-slot:item.status="{ item }">
                                        <span v-if="item.status == 'pendiente'" class="text-red">{{ item.status | capitalize }}</span>
                                        <span v-else class="text-green">{{ item.status | capitalize }}</span>
                                    </template>
                                    <template v-slot:item.action="{ item }">
                                        <v-btn
                                            v-if="item.type_document && item.amount_pending > 0 && verifyPermission('registrar_pago_deudas')"
                                            small
                                            color="primary" 
                                            @click="handlePayDebt(item)"> 
                                            Pagar
                                        </v-btn>
                                    </template>
                                    <template v-slot:expanded-item="{ item, headers }">
                                        <td :colspan="headers.length" class="wost-td-expanded">
                                            <template>
                                                <v-container>
                                                    <v-row>
                                                        <v-col cols="12" class="pt-1 pb-1">
                                                            <span class="font-weight-medium caption">Detalle de pagos</span>
                                                        </v-col>
                                                    </v-row>
                                                    <v-row>
                                                        <v-col cols="12" class="pt-1">
                                                            <v-simple-table class="wost-table-detail">
                                                                <thead class="debt-header-payment">
                                                                    <tr>
                                                                        <th class="text-left">Fecha y Hora de pago</th>
                                                                        <th class="text-left">Monto Pagado</th>
                                                                        <th class="text-left">Forma de Pago</th>
                                                                        <th class="text-left">Observaciones</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr v-for="payment in item.payments" :key="payment.id">
                                                                        <td>{{ payment.payment_date  | moment("DD/MM/YYYY, h:mm a") }}</td>
                                                                        <td>{{ payment.amount_payment | currency('S/') }}</td>
                                                                        <td>{{ payment.method_payment  }}</td>
                                                                        <td>{{ payment.observaciones}}</td>
                                                                    </tr>
                                                                </tbody>
                                                            </v-simple-table>
                                                        </v-col>
                                                    </v-row>
                                                </v-container>
                                                
                                            </template>
                                            
                                        </td>
                                    </template>
                                </v-data-table>
                            </v-col>
                        </v-row>
                    </template>
                </v-card-text>
            </v-card>
        </div>
        <pay-debt ref="payDebt"></pay-debt>

        <pay-group ref="payGroup"></pay-group>
    </v-navigation-drawer>
</template>

<script>
import { mapActions, mapMutations, mapState } from 'vuex'

import PayDebt from './PayDebt';
import PayGroup from './PayGroup';
import VoucherTools from '../../helpers/VoucherTools';
import ArrayTools from '../../helpers/ArrayTools';

import JQuery from 'jquery';
let $ = JQuery;

export default {
    name: 'DebtDetail',
    components: {
        PayDebt,
        PayGroup
    },
    data() {
        return {
            enabled: null,
            titleForm: '',
            drawer: false,
            headers: [
                { text: '', value: 'data-table-expand', width: 5, class: 'header-table-expand' },
                { text: 'Pedido', value: 'order_id', align: 'left', sortable: false, class: 'header-table'},
                { text: 'Comprobante', value: 'serie', align: 'left', sortable: false, class: 'header-table'},
                { text: 'Guía', value: 'guide_number', align: 'left', sortable: false, class: 'header-table'},
                { text: 'F. Deuda', value: 'entry_date', align: 'left', sortable: false, class: 'header-table'},               
                { text: 'Monto', value: 'amount', align: 'end', sortable: false, class: 'header-table', width: 100 },
                { text: 'Pagado', value: 'amount_paid', align: 'end', sortable: false, class: 'header-table', width: 100},
                { text: 'Pendiente', value: 'amount_pending', align: 'end', sortable: false, class: 'header-table', width: 100},
                { text: 'Vencimiento', value: 'due_date', align: 'center', sortable: false, class: 'header-table'},
                { text: 'Estado', value: 'status', align: 'center', sortable: false, class: 'header-table', width: 100},
                { text: 'Acciones', value: 'action', sortable: false, class: 'header-table', width: 35 }
            ],
            selectedRows: [],
            type_document: null
        }
    },
    computed: {
        ...mapState('authentication', [
            'companyData'
        ]),
        ...mapState('cash', [
            'cashCurrent'
        ]),
        ...mapState('debts', [
            'customerSelected',
            'debtsCustomer',
            'selectedDebt',
            'invoice'
        ])
    },
    methods:{
        ...mapActions('debts', [
            'runSetSelectedDebt',
            'generateInvoice',
            'setInvoice',
            'setTotalDebt',
            'setTotalPaid',
            'setTotalPending'
        ]),
        isEnabled (slot) {
            return this.enabled === slot
        },
        showForm(title) {
            this.clearTotals();
            this.selectedRows = [];
            this.titleForm = title;
            this.setInvoice(null);
            this.type_document = this.setTypeDocument(this.customerSelected);
            this.drawer = !this.drawer
        },
        clearTotals () {
            this.setTotalDebt(null);
            this.setTotalPaid(null);
            this.setTotalPending(null);
        },
        setTypeDocument(customer) {
            let type = 'FACTURA';
            if (customer.type_document == 'DNI') {
                type = 'BOLETA';
            }

            return type;
        },
        handlePayDebt(debt){
            if (this.cashCurrent == null || this.cashCurrent == '') {
                this.$swal({
                    text: "Caja esta cerrada, no puede realizar pago.",
                    icon: "warning",
                    showCancelButton: false,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Aceptar"
                });
            } else {
                this.runSetSelectedDebt(null)
                this.runSetSelectedDebt(debt)
                this.$refs.payDebt.showForm('Registrar Pago')
            }
        },
        verifyPermission(permission) {
            return this.$hasPermision(permission)
        },
        handleSelectItem(selected) {
            console.log(selected);
            if (selected.value) {
                if (selected.item.status == 'pagada') {
                    this.selectedRows.push(selected.item)
                }                
            } else {
                let index_found = ArrayTools.getIndexById(this.selectedRows, selected.item.id)
                if (index_found > -1) {
                    this.selectedRows.splice(index_found, 1)
                }
            }
        },
        handleSelectAll(selected){
            console.log(selected)
        },
        verifySelectedRows(option) {
            let rows = [];
            if (option == true) {
                this.selectedRows.forEach( element => {
                    if (element.status == 'pagada') {
                        rows.push(element);
                    }
                })
            }            
            this.selectedRows = rows;
        },
        calculateTotal () {
            let total = 0;
            this.selectedRows.forEach( element => {
                total = total + parseFloat(element.amount);
            })

            return total;
        },
        sumSelectedOrdersAmounts () {
            let total = 0;
            let paid = 0;
            let pending = 0;
            for (let item of this.selectedRows) {
                total += parseFloat(item.amount);
                paid += parseFloat(item.amount_paid);
                pending += parseFloat(item.amount_pending);
            }
            this.setTotalDebt(total);
            this.setTotalPaid(paid);
            this.setTotalPending(pending);
        },
        generateData () {
            let customer_id = this.customerSelected.id;
            let orders_id = [];
            this.selectedRows.forEach( element => {
                orders_id.push(element.order_id);
            });

            return {
                customer_id: customer_id,
                orders_id: orders_id
            };
        },
        async handleGenerateDocument () {
            if (this.cashCurrent == null || this.cashCurrent == '') {
                this.$swal({
                    text: "Caja esta cerrada, no puede realizar pago.",
                    icon: "warning",
                    showCancelButton: false,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Aceptar"
                });
            } else {
                if (!this.verifySelectedAreNotInvoices()) {
                    this.$notify({
                        group: 'foo',
                        type: 'error',
                        title: 'GENERAR COMPROBANTE',
                        text: 'Debe seleccionar deudas no facturadas.'
                    });
                } else {
                    this.sumSelectedOrdersAmounts();
                    let customer_id = this.customerSelected.id;
                    let orders_codes = this.getOrdersId();      
                    this.$refs.payGroup.showForm('Generar Comprobante', customer_id, this.type_document.toLowerCase(), orders_codes);
                }
            }            
        },
        verifyAllSelectedIsPayment() {
            let is_payment = true;
            this.selectedRows.forEach( element => {
                if (element.status == 'pendiente') {
                    is_payment =  false;
                }
            });

            return is_payment;
        },
        verifySelectedAreNotInvoices () {
            let not_invoice = true;
            for (let item of this.selectedRows) {
                if (item.type_document) {
                    not_invoice = false;
                }
            }
            return not_invoice;
        },
        getOrdersId () {
            let orders_id = [];
            for (let item of this.selectedRows) {
                orders_id.push(item.order_id);
            }

            return orders_id;
        },
        async handlePrintVoucher (order) {
            if (order) {
                if (order.type_document == 'FACTURA' || order.type_document == 'BOLETA') {
                    let content = await VoucherTools.generateVoucherSale(order, this.companyData);
                    this.printVoucher(content);
                } 
            }
        },
        printVoucher (content) {
            $('<iframe>', {name: 'voucheriframe',class: 'printFrame'})
            .appendTo('body')
            .contents().find('body')
            .append(content);

            window.frames['voucheriframe'].focus();
            setTimeout(() => {                 
                window.frames['voucheriframe'].print();
            }, 500);

            setTimeout(() => { $(".printFrame").remove(); }, 1000);
        }
    }
}
</script>

<style>
.debt-header-payment > tr > th {
    background-color: #3F51B5;
    color: #ffffff !important;
    height: 30px !important;
}
</style>