<template>
    <v-navigation-drawer
        v-model="drawer"          
        width="550"
        absolute
        temporary
        right
        class="wost-drawer"
    >
        <div class="form-head">
            {{ titleForm }}
        </div>
        <div class="pl-3 pt-3 pr-3">
            <v-card>
                <v-card-subtitle class="pt-1 pb-1">
                    <span class="font-weight-bold">Datos de deuda</span>
                </v-card-subtitle>
                <v-divider></v-divider>
                <v-card-text>
                    <template>
                        <v-row>                            
                            <v-col cols="12">
                                <div class="d-table table-debt-data">
                                    <div class="d-table-row">
                                        <div class="d-table-cell">
                                            <span class="font-weight-medium">Monto Deuda</span>
                                        </div>
                                        <div class="d-table-cell text-right">
                                            <span>{{ total_debt | currency('S/') }}</span>
                                        </div>
                                    </div>
                                    <div class="d-table-row">
                                        <div class="d-table-cell">
                                            <span class="font-weight-medium">Monto Pagado</span>
                                        </div>
                                        <div class="d-table-cell text-right">
                                            <span class="text-green">{{ total_paid | currency('S/')  }}</span>
                                        </div>
                                    </div>
                                    <div class="d-table-row">
                                        <div class="d-table-cell ">
                                            <span class="font-weight-medium">Monto Pediente</span>
                                        </div>
                                        <div class="d-table-cell text-right">
                                            <span class="text-red">{{ total_pending | currency('S/') }}</span>
                                        </div>
                                    </div>
                                </div>
                            </v-col>
                        </v-row>
                    </template>
                </v-card-text>
            </v-card>

            <v-card class="mt-3">
                <v-card-subtitle class="pt-1 pb-1">
                    <span class="font-weight-bold">Datos del pago</span>
                </v-card-subtitle>
                <v-divider></v-divider>
                <v-card-text>
                    <template>
                        <v-row>
                            <v-col cols="4">
                                <span>Importe a pagar</span>
                            </v-col>
                            <v-col cols="8">
                                <v-text-field
                                    outlined
                                    dense
                                    hide-details
                                    prefix="S/"
                                    placeholder="0"
                                    type="number"
                                    v-model="amount_payment"
                                ></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="4">
                                <span>Forma de pago</span>
                            </v-col>
                            <v-col cols="8">
                                <v-select
                                    v-model="method"
                                    :items="paymentMethods"
                                    outlined
                                    dense
                                    hide-details
                                ></v-select>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="4">
                                <span>Observaciones</span>
                            </v-col>
                            <v-col cols="8">
                                <v-textarea
                                    outlined
                                    rows="4"
                                    v-model="observation"
                                ></v-textarea>
                            </v-col>
                        </v-row>
                    </template>
                </v-card-text>
            </v-card>

            <div class="mt-3" style="text-align: right;">    
                <template>
                    <v-row>
                        <v-col cols="6">
                            <v-btn @click="handleCancel" block height="48" outlined color="red darken-1">
                                Cancelar
                            </v-btn>
                        </v-col>
                        <v-col cols="6">
                            <v-btn dark 
                                color="green darken-1" 
                                block 
                                height="48"
                                :disabled="processing"
                                @click="handleRegisterPayment">
                                Pagar
                            </v-btn>
                        </v-col>
                    </v-row>
                </template>
            </div>
        </div>
    </v-navigation-drawer>
</template>

<script>
import { mapActions, mapMutations, mapState } from 'vuex';

import VoucherTools from '../../helpers/VoucherTools';

import {APIService} from '@/APIService';
const apiService = new APIService();

import JQuery from 'jquery';
let $ = JQuery;


export default {
    name: 'PayGroup',
    data() {
        return {
            paymentMethods: ['CASH', 'TRANSFERENCIA', 'YAPE'],
            titleForm: '',
            drawer: false,
            amount_payment: null,
            observation: null,
            method: null,
            customer_id: null,
            order_codes: [],
            type_document: null,
            processing: false
        }
    },
    computed: {
        ...mapState('authentication', [
            'companyData'
        ]),
        ...mapState('cash', [
            'cashCurrent'
        ]),
        ...mapState('debts', [
            'selectedDebt',
            'total_debt',
            'total_paid',
            'total_pending',
            'invoice',
            'debt_response'
        ])
    },
    methods:{
        ...mapActions('debts', [
            'getDebts',
            'getDebtsByCustomer',
            'replaceCustomerDebtInDebtsList',
            'getTotalAmount',
            'generateInvoice',
            'setInvoice'
        ]),
        clearData(){
            this.setInvoice(null);
            this.amount_payment = null;
            this.observation = null;
            this.method = null;
            this.customer_id = null;
            this.order_codes = [];
            this.type_document = null;
        },
        showForm(title, customer_id, type_document, order_codes) {
            this.clearData();
            this.titleForm = title;
            this.customer_id = customer_id;
            this.type_document = type_document;
            this.order_codes = order_codes;
            this.drawer = !this.drawer
        },
        closeForm () {
            this.drawer = false;
        },
        handleCancel(){
            this.closeForm();
        },        
        handleRegisterPayment(){
            this.processing = true;
            if (this.amount_payment === null || this.amount_payment <= 0) {
                this.processing = false;
                this.$notify({
                    group: 'foo',
                    type: 'error',
                    title: 'RESULTADO DE PAGO',
                    text: 'Debe ingresar el monto a pagar!'
                });
            } else {
                let validate = this.hasError();
                if (validate.error == true) {
                    this.processing = false;
                    this.$notify({
                        group: 'foo',
                        type: 'error',
                        title: 'RESULTADO DE PAGO',
                        text: validate.message
                    });
                } else {
                    let payment = {
                        cash_id: this.cashCurrent.id,
                        amount_payment: this.amount_payment,
                        observations: this.observation,
                        method: this.method,
                        customer_id: this.customer_id,
                        orders_id: this.order_codes
                    }
                    this.$swal({
                        title: "¿Desea confirmar?",
                        text: "Confirma que desea generar "+ this.type_document  + " por un importe de S/ " + this.amount_payment,
                        icon: "question",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Confirmar",
                        cancelButtonText: "Cancelar",
                    }).then(async (result) => {
                        if(result.value){
                            if(result.value === true){
                                await this.generateInvoice(payment);
                                this.processing = false;
                                if (this.invoice) {
                                    this.getDebtsByCustomer();
                                    this.getDebts();
                                    this.closeForm();
                                    this.handlePrintVoucher(this.invoice)
                                } else {
                                    this.$notify({
                                        group: 'foo',
                                        type: 'error',
                                        title: 'RESULTADO DE PAGO',
                                        text: 'Ocurrió un error al generar comprobante'
                                    });
                                }
                            }
                        } else {
                            this.processing = false;
                        }
                    });
                }                
            }
        },
        hasError() {
            let error = false;
            let message = null;
            if (parseFloat(this.amount_payment) > parseFloat(this.total_pending)) {
                return {
                    error: true,
                    message: 'Monto a pagar sobrepasa la deuda pendiente.'
                }
            }

            if (this.method == null || this.method == '') {
                return {
                    error: true,
                    message: 'Debe seleccionar forma de pago.'
                }
            }

            return {
                error: error,
                message: message
            }
        },
        async handlePrintVoucher (order) {
            if (order) {
                if (order.type_document == 'FACTURA' || order.type_document == 'BOLETA') {
                    let content = await VoucherTools.generateVoucherSale(order, this.companyData);
                    this.printVoucher(content);
                } 
            }
        },
        printVoucher (content) {
            $('<iframe>', {name: 'voucheriframe',class: 'printFrame'})
            .appendTo('body')
            .contents().find('body')
            .append(content);

            window.frames['voucheriframe'].focus();
            setTimeout(() => {                 
                window.frames['voucheriframe'].print();
            }, 500);

            setTimeout(() => { $(".printFrame").remove(); }, 1000);
        }
    }
}
</script>

<style>

.table-debt-data{
    width: 100% !important;
}

</style>