<template>
    <v-card outlined>
        <v-card-title class="pt-2 pb-1">
            <span class="subtitle-2 font-weight-black">Productos</span>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text class="pt-1">
            <v-list-item v-for="item in order.products" :key="item.id" class="cart-item-product pl-0 pr-0" two-line flat>
                <template>                                
                    <v-list-item-content>
                        <v-list-item-title class="pay-product-name">
                            {{ item.name | uppercase() }}
                        </v-list-item-title>
                        <v-list-item-subtitle>
                            <span class="mr-4 pb-1 pay-product-quantity">
                                Cantidad: {{ item.pivot.quantity }}
                            </span>
                        </v-list-item-subtitle>
                    </v-list-item-content>
                    <v-list-item-action class="btn-quantity">
                        <div class="product-price">
                            <span class="ml-2">
                                {{ item.pivot.subtotal | currency('S/') }}
                            </span>
                        </div>                                            
                    </v-list-item-action>
                </template>
            </v-list-item>
        </v-card-text>
    </v-card>
</template>

<script>
import { mapActions, mapMutations, mapState } from 'vuex';

export default {
    name: 'CardProducts',
    computed: {
        ...mapState('orders', [
            'order'
        ]),
    },
    methods: {
        ...mapActions('orders', [
            'selectOrder'
        ]),
    }
}
</script>

<style scoped>

</style>