<template>
    <v-container app :fluid="true" class="padding-top-0">
        <v-row>
            <v-col cols="12" class="padding-top-0">
                <v-card>
                    <v-card-text>
                        <div>
                            <v-data-table
                                class="wost-table"
                                :headers="headers"
                                :items="orders"
                                hide-default-footer
                                item-key="id"
                            >
                                <template v-slot:item.customer_id="{ item }">
                                    {{ item.customer.name }} {{ item.customer.surname }}
                                </template>

                                <template v-slot:item.entry_time="{ item }">
                                    {{ item.entry_time | moment("h:mm:ss a") }}
                                </template>

                            </v-data-table>
                        </div>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
    
</template>

<script>
import { mapActions, mapMutations, mapState } from 'vuex';

export default {
    name: 'Detail',
    data() {
        return {
            search: '',
            headers: [
                { text: 'Cliente', value: 'customer_id', align: 'left', sortable: false, class: 'header-table'},
                { text: 'Hora Ingreso', value: 'entry_time', align: 'left', sortable: false, class: 'header-table' },
                { text: 'Hora Entrega', value: 'delivery_time', align: 'left', sortable: false, class: 'header-table' },
                { text: 'Acciones', value: 'action', sortable: false, class: 'header-table', width: 35 }
            ],
        }
    },
    computed: {
        ...mapState('orders', [
            'orders',
        ]),
    },
    methods: {
        ...mapActions('orders', [
            'getOrders'
        ]),
        ...mapMutations('orders', [
            'setOrders'
        ]),
    },
    mounted() {
        this.getOrders()
    }

}
</script>

<style scoped>

</style>