<template>
    <v-card outlined color="#F8F8F8" class="pl-4" style="width: 100% !important;">
        <template>
            <v-row justify="center">
                <v-col cols="4" class="text-bold text-upper header-detail-order">
                    <span class="pl-6 list-product-title">Descripción</span>                    
                </v-col>
                <v-col cols="2" class="text-right text-bold text-upper header-detail-order">
                    <span class="pr-1 list-product-title">Cantidad</span>                    
                </v-col>
                <v-col cols="2" class="text-right text-bold text-upper header-detail-order">
                    <span class="pr-3 list-product-title">Precio</span>                    
                </v-col>
                <v-col cols="2" class="text-right text-bold text-upper header-detail-order">
                    <span class="pr-3 list-product-title">Descuento</span>                    
                </v-col>
                <v-col cols="2" class="text-right text-bold text-upper header-detail-order">
                    <span class="pr-8 list-product-title">Total</span>
                </v-col>
            </v-row>
        </template>
        <v-card-text class="pl-1 pt-0 content-detail-products wost-scroll">
            <v-card v-for="product in order.detail" :key="product.id" class="mb-2 pl-4 pt-3 pb-3 ">
                <template>
                    <v-row dense justify="center">
                        <v-col cols="4">
                            {{ product.name | uppercase() }}
                        </v-col>
                        <v-col cols="2" class="text-right">
                            <span class="mr-3">{{ product.quantity }}</span>                            
                        </v-col>
                        <v-col cols="2" class="text-right">
                            <span class="mr-3">{{ product.base_price | currency('S/ ') }}</span> 
                        </v-col>
                        <v-col cols="2" class="text-right">
                            <span v-if="product.discount_group == true" class="mr-3 type-discount">
                                {{ parseFloat(product.discount_value) * parseFloat(product.quantity)  | currency('S/ ') }}
                            </span>
                            <span v-else class="mr-3 type-discount">
                                {{ product.discount_value | currency('S/ ') }}
                            </span> 
                            
                        </v-col>
                        <v-col cols="2" class="text-right">
                            <span class="mr-3">{{ product.subtotal | currency('S/ ') }}</span> 
                        </v-col>
                    </v-row>
                </template>
            </v-card>
        </v-card-text>
    </v-card>    
</template>

<script>
import { mapActions, mapMutations, mapState } from 'vuex';

export default {
    name: 'ListProducts',
    computed: {
        ...mapState('orders', [
            'order'
        ]),
    },
    methods: {
        ...mapActions('orders', [
            'selectOrder'
        ]),
    }
}
</script>

<style>
.header-detail-order{
    font-size: .8rem;
}

.content-detail-products{
    height: 21vh;
    overflow-y: auto;
}

.type-discount {
    color: #F44336;
}

.list-product-title {
    font-size: 12px;
}
</style>