<template>
    <v-navigation-drawer
        v-model="drawer"          
        width="500"
        app
        temporary
        right
        class="wost-drawer"
    >
        <div class="form-head">
            {{ titleForm }}
        </div>
        <div class="pl-3 pt-3 pr-3">
            
        </div>
    </v-navigation-drawer>
</template>

<script>
export default {
    name: 'CreateUpdate',
    data() {
        return {
            titleForm: '',
            drawer: false,
            actionCrud: '',
        }
    },
    methods: {
        showForm(title, actionCrud) {
            this.titleForm = title
            this.drawer = !this.drawer
        },
    }
}
</script>

<style scoped>

</style>