<template>
    <v-navigation-drawer
        v-model="drawer"          
        width="850"
        app
        temporary
        right
        class="wost-drawer"
    >
        <div class="form-head">
            {{ title_form }}
        </div>
        <div class="pl-3 pt-3 pr-3" style="height: 80vh;">
            <v-card>
                <v-card-title class="pt-1 pb-1">
                    <span class="subtitle-2">Datos de precio</span>
                </v-card-title>
                <v-divider></v-divider>
                <v-card-text class="pt-1 pb-1">
                    <v-container>
                        <v-row>
                            <v-col cols="6">
                                <v-autocomplete
                                    ref="product_id"
                                    v-model="form.product_id"
                                    :items="products"
                                    label="Seleccione producto"
                                    outlined
                                    dense
                                    :item-text="customText"
                                    item-value="id"
                                    clearable
                                    :rules="[() => !!form.product_id || 'Es necesario seleccionar un producto']"
                                    hide-details="auto"
                                    required
                                ></v-autocomplete>
                            </v-col>
                            <v-col cols="2">
                                <v-text-field v-model="form.price"
                                    ref="price"
                                    label="Precio"
                                    outlined
                                    dense
                                    prefix="S/"
                                    type="number"
                                    :rules="[() => !!form.price || 'Es necesario ingresar precio']"
                                    hide-details="auto"
                                    required
                                ></v-text-field>
                            </v-col>
                            <v-col cols="4">
                                <v-btn v-if="!form.id"
                                    color="success"
                                    @click="handleSavePrice">
                                    Guardar
                                </v-btn>
                                <v-btn v-else
                                    color="blue"
                                    dark                                    
                                    @click="handleUpdatePrice">
                                    Actualizar
                                </v-btn>
                                <v-btn color="error"
                                    dark
                                    class="ml-2"
                                    @click="clearForm">
                                    Limpiar
                                </v-btn>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-card-text>
            </v-card>

            <v-card class="mt-3">
                <v-card-title class="pt-1 pb-1">
                    <span class="subtitle-2">Lista de precios</span>
                </v-card-title>
                <v-divider></v-divider>
                <v-card-text class="pt-1 pb-1">
                    <v-container>
                        <v-row>
                            <v-col cols="12">
                                <v-simple-table dense>
                                    <thead>
                                        <tr>
                                            <th>Producto</th>
                                            <th>Precio</th>
                                            <th>&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(item, index) in customer_prices" :key="index">
                                            <td>
                                                <span v-if="item.product">
                                                    {{ item.product.name }}
                                                </span>
                                            </td>
                                            <td>{{ item.price | currency('S/') }}</td>
                                            <td>
                                                <v-icon color="amber"
                                                    size="16"
                                                    @click="handleEditPrice(item)">
                                                    fas fa-pen
                                                </v-icon>

                                                <v-icon color="red"
                                                    size="16"
                                                    class="ml-2"
                                                    @click="handleDeletePrice(item)">
                                                    far fa-times-circle
                                                </v-icon>
                                            </td>
                                        </tr>
                                    </tbody>
                                </v-simple-table>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-card-text>
            </v-card>
        </div>
    </v-navigation-drawer>
</template>

<script>
import ApiProducts from '../../apis/Product';
import ApiPrices from '../../apis/Prices';

export default {
    name: 'CustomerPrices',
    data () {
        return {
            drawer: false,
            customer_id: null,
            customer_prices: [],
            title_form: null,
            products: [],
            form: {
                id: null,
                product_id: null,
                price: null
            }
        }
    },
    methods: {
        show (customer) {
            this.clearData();
            this.clearForm();
            this.title_form = 'PRECIOS PARA ' + customer.fullname;
            this.customer_id = customer.id;
            this.getProducts();
            this.getProductsByCustomer(this.customer_id);
            this.drawer = !this.drawer;
        },
        clearData () {
            this.customer_id = null;
            this.customer_prices = [];
            this.title_form = null;
            this.products = []
        },
        async clearForm () {
            this.form.id = null;
            this.form.product_id = null;
            this.form.price = null;
            await this.clearErrors();
        },
        closeForm () {
            this.drawer = false;
        },
        getProducts () {
            ApiProducts.get_all()
                .then(response => {
                    this.products = response.data;
                }).catch( error => {
                    this.$notify({
                        group: 'foo',
                        type: 'error',
                        title: 'PRECIOS POR CLIENTE',
                        text: 'Se detectó un error al obtener lista de producto.'
                    });
                });
        },
        getProductsByCustomer (customer_id) {
            let filter = {
                customer_id: customer_id
            };
            ApiPrices.get_all(filter)
                .then( response => {
                    this.customer_prices = response.data
                }).catch ( error => {
                    this.$notify({
                        group: 'foo',
                        type: 'error',
                        title: 'PRECIOS POR CLIENTE',
                        text: 'Se detectó un error al obtener precios por cliente.'
                    });
                })
        },
        customText(item){
            let text = item.name
            
            return text
        },
        handleSavePrice () {
            if (!this.existErrors()) {
                let itemPrice = {
                    customer_id: this.customer_id,
                    product_id: this.form.product_id,
                    price: this.form.price
                };
                if (!this.existProductInList(itemPrice.product_id)) {
                    ApiPrices.store(itemPrice)
                        .then( response => {
                            this.getProductsByCustomer(this.customer_id);
                            this.clearForm();
                        }).catch( error => {
                            this.$notify({
                                group: 'foo',
                                type: 'error',
                                title: 'PRECIOS POR CLIENTE',
                                text: 'Se detectó un error al registrar precio.'
                            });
                        });
                } else {
                    this.$notify({
                        group: 'foo',
                        type: 'error',
                        title: 'PRECIOS POR CLIENTE',
                        text: 'Producto ya ha sido agregado.'
                    });
                }                
            }
        },
        handleEditPrice (itemPrice) {
            this.form.id = itemPrice.id;
            this.form.product_id = itemPrice.product_id;
            this.form.price = itemPrice.price;
        },
        handleUpdatePrice () {
            if (!this.existErrors()) {
                let itemPrice = {
                    id: this.form.id,
                    customer_id: this.customer_id,
                    product_id: this.form.product_id,
                    price: this.form.price
                };
                ApiPrices.update(itemPrice)
                    .then( response => {
                        this.getProductsByCustomer(this.customer_id);
                        this.clearForm();
                    }).catch( error => {
                        this.$notify({
                            group: 'foo',
                            type: 'error',
                            title: 'PRECIOS POR CLIENTE',
                            text: 'Se detectó un error al actualizar precio.'
                        });
                    });
            } 
        },
        handleDeletePrice (itemPrice) {
            this.$swal({
                    title: "¿Desea confirmar?",
                    text: "Confirma que desea eliminar precio",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Confirmar",
                    cancelButtonText: "Cancelar",
                }).then((result) => {
                    if(result.value){
                        if(result.value === true){
                            ApiPrices.delete(itemPrice)
                                .then((response) => {
                                    this.getProductsByCustomer(this.customer_id);
                                    this.$notify({
                                        group: 'foo',
                                        type: 'success',
                                        title: 'PRECIOS POR CLIENTE',
                                        text: 'Precio fue eliminado de forma correcta'
                                    });
                                }).catch(error => {
                                    this.$notify({
                                        group: 'foo',
                                        type: 'error',
                                        title: 'PRECIOS POR CLIENTE',
                                        text: 'Se detectó un error al eliminar precio.'
                                    });
                                })
                        }
                    }                    
                })
        },
        existErrors(){
            let hasErrors = false;

            Object.keys(this.form).forEach(f => {                
                if (this.$refs[f]) {
                    if (!this.form[f]) hasErrors = true
                    this.$refs[f].validate(true);
                }                
            });

            return hasErrors;
        },
        clearErrors() {
            Object.keys(this.form).forEach(f => {
                if (this.$refs[f]) this.$refs[f].reset()                
            });
        },
        existProductInList (product_id) {
            let founded = false;
            for (let item of this.customer_prices) {
                if (item.product_id == product_id) {
                    founded = true;
                }
            }

            return founded;
        }
    }
}
</script>

<style scoped>

</style>