<template>
    <v-card class="wost-expanded-content" :elevation="5">
        <v-card-text class="wost-customer-detail">                                           
            <v-container fluid>
                <v-row justify="center">                    
                    <v-col cols="6">
                        <v-card>
                            <v-card-text class="padding-all-5">
                                <ul class="detail-card-header">
                                    <li>
                                        <span v-if="customer.type_document == 'DNI'" class="detail-title-cliente">
                                            {{ customer.name.toUpperCase() + ' ' + customer.surname.toUpperCase()}}
                                        </span>
                                        <span v-else class="detail-title-cliente">{{ customer.name.toUpperCase() }}</span>
                                    </li>                                                                        
                                    <li><span :class="'status-' + customer.status.toLowerCase() + ' detail-card-status'">{{ customer.status }}</span></li>
                                </ul>
                            </v-card-text>
                            <v-divider></v-divider>
                            <v-card-text class="padding-all-5">
                                <ul class="wost-customer-detail-data">
                                    <li>
                                        <i class="fas fa-address-card"></i><span>{{ customer.document }}</span>
                                    </li>
                                    <li>
                                        <i class="fas fa-home"></i><span>{{ customer.address }}</span>
                                    </li>
                                    <li>
                                        <i class="fas fa-phone-square-alt"></i><span>{{ customer.phone }}</span>
                                    </li>
                                    <li>
                                        <i class="fas fa-envelope"></i><span style="text-transform: lowercase !important;">{{ customer.email }}</span>
                                    </li>
                                </ul>
                            </v-card-text>
                            <v-divider></v-divider>
                            <v-card-text class="padding-all-5">
                                <ul class="wost-customer-detail-data">
                                    <li>
                                        <strong>Crédito </strong><span class="text-green">{{ customer.credit_line | currency('S/') }}</span>
                                    </li>
                                    <li>
                                        <strong>Descuento </strong><span class="text-red">{{ customer.discount | currency('S/') }}</span>
                                    </li>
                                </ul>
                            </v-card-text>
                        </v-card>
                    </v-col>
                </v-row>
            </v-container>
        </v-card-text>
    </v-card>
</template>

<script>
export default {
    name: 'CustomerDetail',
    props: ['customer']    
}
</script>

<style>

</style>