<template>
    <v-navigation-drawer
        v-model="drawer"          
        width="850"
        app
        temporary
        right
        class="wost-drawer"
    >
        <div class="form-head">
            {{ titleForm }}
        </div>

        <div class="pl-3 pt-3 pr-3" style="height: 80vh;">
            <v-card>
                <v-card-title class="pt-1 pb-1">
                    <span class="subtitle-2">Datos de dirección</span>
                </v-card-title>
                <v-divider></v-divider>
                <v-card-text class="pt-1 pb-1">
                    <v-container>
                        <v-row>
                            <v-col cols="6">
                                <v-textarea
                                    ref="address"
                                    label="Dirección"
                                    v-model="form.address"
                                    :rows="3"
                                    outlined
                                    dense
                                    :rules="[() => !!form.address || 'Es necesario ingresar una dirección']"
                                    hide-details="auto"
                                    required
                                ></v-textarea>
                            </v-col>
                            <v-col cols="4">
                                <v-textarea
                                    label="Referencia"
                                    v-model="form.reference"
                                    :rows="3"
                                    outlined
                                    dense
                                    hide-details="auto"
                                ></v-textarea>
                            </v-col>
                            <v-col cols="2">
                                <v-btn v-if="!form.id"
                                    color="success"
                                    block
                                    @click="handleSaveAddress">
                                    Guardar
                                </v-btn>
                                <v-btn v-else
                                    color="blue"
                                    dark
                                    block
                                    @click="handleUpdateAddress">
                                    Actualizar
                                </v-btn>
                                <v-btn color="error"
                                    dark
                                    block
                                    class="mt-2"
                                    @click="clearForm">
                                    Limpiar
                                </v-btn>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-card-text>
            </v-card>

            <v-card class="mt-3">
                <v-card-title class="pt-1 pb-1">
                    <span class="subtitle-2">Lista de direcciones</span>
                </v-card-title>
                <v-divider></v-divider>
                <v-card-text class="pt-1 pb-1">
                    <v-container>
                        <v-row>
                            <v-col cols="12">
                                <v-simple-table dense>
                                    <thead>
                                        <tr>
                                            <th>Dirección</th>
                                            <th>Referencia</th>
                                            <th>&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(item, index) in customer_address" :key="index">
                                            <td>{{ item.address }}</td>
                                            <td>{{ item.reference }}</td>
                                            <td>
                                                <v-icon color="amber"
                                                    size="16"
                                                    @click="handleEditAddress(item)">
                                                    fas fa-pen
                                                </v-icon>

                                                <v-icon color="red"
                                                    size="16"
                                                    class="ml-2"
                                                    @click="handleDeleteAddress(item)">
                                                    far fa-times-circle
                                                </v-icon>
                                            </td>
                                        </tr>
                                    </tbody>
                                </v-simple-table>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-card-text>
            </v-card>
        </div>

    </v-navigation-drawer>
</template>

<script>
import ApiAddress from '../../apis/Address';

export default {
    name: 'CustomerAddress',
    data () {
        return {
            drawer: false,
            customer_id: null,
            customer_address: [],
            titleForm: null,
            form: {
                id: null,
                address: null,
                reference: null
            }
        }
    },
    methods: {
        show (customer) {
            this.clearData();
            this.clearForm();
            this.titleForm = 'DIRECCIONES DE ' + customer.fullname;
            this.customer_id = customer.id;
            this.getAddressByCustomer(this.customer_id);
            this.drawer = !this.drawer;
        },
        clearData () {
            this.titleForm = null;
            this.customer_id = null;
            this.customer_address = [];
        },
        async clearForm () {
            this.form.id = null;
            this.form.address = null;
            this.form.reference = null;
            await this.clearErrors();
        },
        closeForm () {
            this.drawer = false;
        },
        getAddressByCustomer (customer_id) {
            let filter = {
                customer_id: customer_id
            };
            ApiAddress.get_all(filter)
                .then( response => {
                    this.customer_address = response.data
                }).catch ( error => {
                    this.$notify({
                        group: 'foo',
                        type: 'error',
                        title: 'DIRECCIONES DE CLIENTE',
                        text: 'Se detectó un error al obtener direcciones del cliente.'
                    });
                })
        },
        handleSaveAddress () {
            if (!this.existErrors()) {
                let itemAddress = {
                    customer_id: this.customer_id,
                    address: this.form.address,
                    reference: this.form.reference
                };
                ApiAddress.store(itemAddress)
                    .then( response => {
                        this.getAddressByCustomer(this.customer_id);
                        this.clearForm();
                    }).catch( error => {
                        this.$notify({
                            group: 'foo',
                            type: 'error',
                            title: 'DIRECCIONES DE CLIENTE',
                            text: 'Se detectó un error al registrar dirección.'
                        });
                    });
            }            
        },
        handleEditAddress (address) {
            this.form.id = address.id;
            this.form.address = address.address;
            this.form.reference = address.reference;
        },
        handleUpdateAddress () {
            if (!this.existErrors()) {
                let itemAddress = {
                    id: this.form.id,
                    customer_id: this.customer_id,
                    address: this.form.address,
                    reference: this.form.reference
                };
                ApiAddress.update(itemAddress)
                    .then( response => {
                        this.getAddressByCustomer(this.customer_id);
                        this.clearForm();
                    }).catch( error => {
                        this.$notify({
                            group: 'foo',
                            type: 'error',
                            title: 'DIRECCIONES DE CLIENTE',
                            text: 'Se detectó un error al actualizar dirección.'
                        });
                    });
            } 
        },
        handleDeleteAddress (address) {
            this.$swal({
                    title: "¿Desea confirmar?",
                    text: "Confirma que desea eliminar dirección",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Confirmar",
                    cancelButtonText: "Cancelar",
                }).then((result) => {
                    if(result.value){
                        if(result.value === true){
                            ApiAddress.delete(address)
                                .then((response) => {
                                    this.getAddressByCustomer(this.customer_id);
                                    this.$notify({
                                        group: 'foo',
                                        type: 'success',
                                        title: 'DIRECCIONES DE CLIENTE',
                                        text: 'Dirección fue eliminada de forma correcta'
                                    });
                                }).catch(error => {
                                    this.$notify({
                                        group: 'foo',
                                        type: 'error',
                                        title: 'DIRECCIONES DE CLIENTE',
                                        text: 'Se detectó un error al eliminar dirección.'
                                    });
                                })
                        }
                    }                    
                })
        },
        existErrors(){
            let hasErrors = false;

            Object.keys(this.form).forEach(f => {                
                if (this.$refs[f]) {
                    if (!this.form[f]) hasErrors = true
                    this.$refs[f].validate(true);
                }                
            });

            return hasErrors;
        },
        clearErrors() {
            Object.keys(this.form).forEach(f => {
                if (this.$refs[f]) this.$refs[f].reset()                
            });
        },
    }
}
</script>

<style scoped>

</style>