<template>
  <v-container app :fluid="true" class="pt-0 pb-0">
    <v-row>
      <v-col cols="6">
        <v-text-field
            v-model="search"
            append-icon="fas fa-search"
            label="Buscar cliente"
            solo
            dense
            hide-details
            class="wost-text-input"
        ></v-text-field>
      </v-col>
      <v-col cols="6">
        <v-btn @click="showCreateCustomer()"
               rised
               color="indigo"
               dark
               height="36"
               class="float-right"
               v-if="verifyPermission('crear_clientes')">
          <v-icon dark left size="12">fas fa-plus</v-icon>
          Nuevo Cliente
        </v-btn>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="10" class="pt-0">
        <v-card>
          <v-card-text>
            <div>
              <v-data-table
                  class="wost-table"
                  :headers="headers"
                  :items="customers"
                  item-key="id"
                  show-expand
                  :search="search"
                  :single-expand="true"
                  :fixed-header="false"
                  height="68vh"
                  @click:row="handleCurrentChange"
                  no-data-text=""
                  v-if="verifyPermission('listar_clientes')"
                  :options.sync="options"
                  :server-items-length="totalItems"
                  :loading="loading"
                  loading-text="Cargando..."
              >
                <template v-slot:item.fullname="{ item }">
                  <span v-if="item.fullname">{{ item.fullname }}</span>
                  <span :class="'status-' + item.status.toLowerCase()">{{ item.status }}</span>
                </template>
                <template v-slot:item.rating="{ item }">
                  <div>
                    <v-icon size="16" :class="'rating ' + item.clasification">fas fa-star</v-icon>
                    <span style="margin-left: 10px">{{ item.rating }}</span>
                  </div>
                </template>
                <template v-slot:item.credit_line="{ item }">
                  {{ item.credit_line | currency('S/') }}
                </template>
                <template v-slot:item.action="{ item }">
                  <v-icon color="blue"
                          size="16"
                          class="mr-2"
                          @click="handleViewAddress(item)">
                    fas fa-home
                  </v-icon>
                  <v-icon color="success"
                          size="18"
                          class="mr-2"
                          @click="handleViewPrices(item)">
                    fas fa-comment-dollar
                  </v-icon>
                  <v-icon v-if="verifyPermission('actualizar_clientes')"
                          color="amber"
                          size="16"
                          class="mr-2"
                          @click="editCustomer(item)">
                    fas fa-pencil-alt
                  </v-icon>
                  <v-icon v-if="item.status.toLowerCase()  === 'activo' && verifyPermission('inactivar_clientes')"
                          color="grey"
                          size="16"
                          @click="changeStatus(item, 'inactivar')">
                    fas fa-minus-circle
                  </v-icon>
                  <v-icon v-else-if="item.status.toLowerCase()  === 'inactivo' && verifyPermission('activar_clientes')"
                          color="green darken-1"
                          size="16"
                          @click="changeStatus(item, 'activar')">
                    fas fa-check-circle
                  </v-icon>
                  <v-icon class="ml-2"
                          color="red darken-1"
                          size="16"
                          @click="handleDeleteCustomer(item)">
                    fas fa-trash-alt
                  </v-icon>
                </template>
                <template v-slot:expanded-item="{ item, headers }">
                  <td :colspan="headers.length" class="wost-td-expanded">
                    <CustomerDetail :customer="item"></CustomerDetail>
                  </td>
                </template>
              </v-data-table>
            </div>
          </v-card-text>
        </v-card>
      </v-col>

      <v-col cols="2" class="pt-0">
        <v-card height="78vh" color="#f9f8ff">
          <v-card-title>
            <div class="stadistic-title">
              <span>RESUMEN</span>
            </div>
          </v-card-title>
          <v-card-text>
            <div class="stadistic-item">
              <span class="stadistic stadistic-item-title">Total de pedidos</span>
              <span class="stadistic stadistic-item-number">
                                {{ currentStadistic.total_orders }}
                            </span>
            </div>
            <div class="stadistic-item">
              <span class="stadistic stadistic-item-title">Bidones no devueltos</span>
              <span class="stadistic stadistic-item-number total_drums">
                                {{ currentStadistic.total_drums }}
                            </span>
            </div>
            <div class="stadistic-item">
              <span class="stadistic stadistic-item-title">Saldo a favor</span>
              <span class="stadistic stadistic-item-number total_balances">
                                {{ currentStadistic.total_balances | currency('S/') }}
                            </span>
            </div>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>

    <create-customer ref="createCustomer"></create-customer>
    <customer-address ref="customerAddress"></customer-address>
    <customer-prices ref="customerPrices"></customer-prices>
  </v-container>
</template>

<script>
import {mapActions, mapState} from 'vuex';
import {APIService} from '@/APIService';
import CustomerDetail from './CustomerDetail'
import CreateCustomer from './CreateCustomer';
import CustomerAddress from './CustomerAddress';
import CustomerPrices from './CustomerPrices';

import ApiCustomer from '../../apis/Customer'
import SunatReniecService from '../../services/SunatReniecService';

import Tools from '../../helpers/Tools'
import ApiCustomers from "../../apis/Customer";

const apiService = new APIService();

export default {
  name: 'newCustomer',
  components: {
    CustomerDetail,
    CreateCustomer,
    CustomerAddress,
    CustomerPrices
  },
  watch: {
    options: {
      handler() {
        console.log(this.options)
        this.perPage = this.options.itemsPerPage
        this.pageSelected = this.options.page
        this.getAllCustomers()
      },
      deep: true,
    }
  },
  data() {
    return {
      menu2: false,
      search: '',
      headers: [
        {text: 'Tipo', value: 'type', align: 'left', sortable: false, class: 'header-table', width: 80},
        {text: 'Nombre', value: 'fullname', align: 'left', sortable: false, class: 'header-table'},
        {
          text: 'T. Documento',
          value: 'type_document',
          align: 'left',
          sortable: false,
          class: 'header-table',
          width: 120
        },
        {text: 'Documento', value: 'document', align: 'left', sortable: false, class: 'header-table', width: 140},
        {text: 'Teléfono', value: 'phone', align: 'left', sortable: false, class: 'header-table', width: 110},
        {
          text: 'Crédito',
          value: 'credit_line',
          align: 'a-right',
          sortable: false,
          class: 'header-table text-a-right',
          width: 135
        },
        {text: 'Acciones', value: 'action', sortable: false, class: 'header-table text-center', width: 150},
        {text: '', value: 'data-table-expand', class: 'header-table-expand', width: 20}
      ],
      isNatural: true,
      drawer: false,
      direction: 'rtl',
      titleForm: 'Registro de nuevo cliente',
      actionCrud: 'create',
      formCustomer: {
        id: null,
        type: 'Natural',
        document: null,
        name: null,
        surname: null,
        gender: null,
        birthdate: null,
        phone: null,
        email: null,
        district: null,
        address: null,
        credit_line: null,
        discount: null
      },
      orders: [],
      currentRow: null,
      currentStadistic: {
        total_orders: 0,
        total_drums: 0,
        total_balances: 0
      },
      finded: false,
      viewProduct: false,
      titleProducts: '',
      products: [],
      searching_document: false,
      totalItems: 10, options: {}, loading: false, pageSelected: 1,
      perPage:10,
      customers:[]

    }
  },
  /*computed: {
    ...mapState('customers', [
      'customers'
    ])
  },*/
  methods: {
   /* ...mapActions('customers', [
      'getAllCustomers'
    ]),*/
    getAllCustomers() {
      this.loading=true
      let filters={
        perPage:this.perPage,
        totalItems:this.totalItems,
        pageSelected: this.pageSelected
      }
      //console.log(filters)
      return  ApiCustomers.get_all_database(filters)
          .then( ({data})=> {
            console.log(data)
            this.customers = data.data
            this.loading=false
            this.totalItems = data.total
          })
          .catch( error => {
            this.loading=false
            console.log(error)
          })
    },
    setCurrent(row) {
      this.$refs.singleTable.setCurrentRow(row);
    },
    handleCurrentChange(val) {
      this.currentRow = val;
      this.finded = true;
      this.getStadistic(this.currentRow.id);
    },
    closeDrawer() {
      this.drawer = false
      this.clearForm()
    },
    clearForm() {
      if (this.$refs.formCustomer) {
        this.$refs.formCustomer.resetFields();
      }
      this.formCustomer.id = null;
      this.formCustomer.type = 'Natural';
      this.formCustomer.document = null;
      this.formCustomer.name = null;
      this.formCustomer.surname = null;
      this.formCustomer.gender = null;
      this.formCustomer.birthdate = null;
      this.formCustomer.phone = null;
      this.formCustomer.email = null;
      this.formCustomer.district = null;
      this.formCustomer.address = null;
      this.formCustomer.credit_line = null;
      this.formCustomer.discount = null;
    },
    showCreateCustomer() {
      this.$refs.createCustomer.showForm('Registro de nuevo cliente', 'create', 'crud');
    },
    editCustomer(customer) {
      this.clearForm();
      this.setIsNatural(customer.type);
      this.formCustomer.id = customer.id;
      this.formCustomer.type = customer.type;
      this.formCustomer.document = customer.document;
      this.formCustomer.name = customer.name;
      this.formCustomer.surname = customer.surname;
      this.formCustomer.gender = customer.gender;
      if (customer.birthdate == null) {
        this.formCustomer.birthdate = null
      } else {
        this.formCustomer.birthdate = Tools.prepareCurrentDate(new Date(customer.birthdate));
      }
      this.formCustomer.phone = customer.phone;
      this.formCustomer.email = customer.email;
      this.formCustomer.district = customer.district;
      this.formCustomer.address = customer.address;
      this.formCustomer.credit_line = customer.credit_line;
      this.formCustomer.discount = customer.discount;
      this.formCustomer.reference = customer.reference;
      this.formCustomer.mobile = customer.mobile;
      this.$refs.createCustomer.showForm('Modificación de cliente', 'update', 'crud', this.formCustomer);
    },
    changeStatus(customer, status) {
      let label_status = status
      let label_name = customer.name
      if (customer.type_document === 'DNI') {
        label_name = label_name + ' ' + customer.surname
      }
      this.$swal({
        title: "¿Desea confirmar?",
        text: "Confirma que desea " + label_status + " al cliente: " + label_name,
        icon: "question",
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        confirmButtonText: "Confirmar",
        cancelButtonText: "Cancelar",
      }).then((result) => {
        if (result.value) {
          if (result.value === true) {
            apiService.changeStatusCustomer(customer.id).then((response) => {
              let index = this.findCustomer(response.data.id);
              this.customers.splice(index, 1, response.data);
              this.$notify({
                group: 'foo',
                type: 'success',
                title: 'ESTADO DE CLIENTE',
                text: 'Se cambió el estado del cliente.!'
              });
            });
          }
        }
      })
    },
    getProducts(orderNumber) {
      this.viewProduct = true;
      this.titleProducts = 'Productos en orden ' + orderNumber;
    },
    setIsNatural(type) {
      this.isNatural = true;
      if (type == 'Jurídico') {
        this.isNatural = false;
      }
    },
    findCustomer(id) {
      let indexFounded = -1;
      this.customers.findIndex(function (element, index) {
        if (element.id === id) {
          indexFounded = index;
        }
      });
      return indexFounded;
    },
    getStadistic(customer_id = null) {
      ApiCustomer.getSummary(customer_id).then((response) => {
        this.currentStadistic = response.data
      }).catch(function (error) {
        console.log('Ocurrió un error')
      })
    },
    handleSearchDocument() {
      this.searching_document = true;
      let type_customer = this.formCustomer.type.toLowerCase();
      let document_number = this.formCustomer.document;

      SunatReniecService.searchDocument(document_number)
          .then(response => {
            this.searching_document = false;
            this.formCustomer.name = response.data.name;
            this.formCustomer.surname = response.data.surname;
            this.formCustomer.address = response.data.address;
          }).catch(error => {
        this.searching_document = false;
        this.$notify({
          group: 'foo',
          type: 'error',
          title: 'BÚSQUEDA DE DOCUMENTO',
          text: 'Documento no existe.'
        });
      })
    },
    handleViewAddress(customer) {
      this.$refs.customerAddress.show(customer);
    },
    handleViewPrices(customer) {
      this.$refs.customerPrices.show(customer);
    },
    handleDeleteCustomer(customer) {
      let fullname = customer.name;
      if (customer.surname) {
        fullname = fullname + ' ' + customer.surname;
      }
      this.$swal({
        title: "¿Desea confirmar?",
        text: "Confirma que desea eliminar al cliente: " + fullname,
        icon: "question",
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        confirmButtonText: "Confirmar",
        cancelButtonText: "Cancelar",
      }).then((result) => {
        if (result.value) {
          if (result.value === true) {
            ApiCustomer.delete(customer).then((response) => {
              let index = this.findCustomer(response.data.id);
              this.customers.splice(index, 1);
              this.$notify({
                group: 'foo',
                type: 'success',
                title: 'ELIMINACIÓN',
                text: 'El cliente fué eliminado de forma correcta!'
              });
            });
          }
        }
      })
    },
    verifyPermission(permission) {
      return this.$hasPermision(permission)
    }
  },
  created() {
    this.getStadistic();
    this.getAllCustomers();
  },
}
</script>

<style>
.total_drums {
  color: #E53935 !important;
}

.total_balances {
  color: #43A047 !important;
}
</style>