<template>
    <v-navigation-drawer
        v-model="drawer"          
        width="550"
        app
        temporary
        right
        class="wost-drawer"
    >
        <div class="form-head">
            Cerra Caja
        </div>
        <div class="pl-3 pt-3 pr-3">
            <v-card>
                <v-card-text>
                    <template>
                        <v-row>
                            <v-col cols="6">
                                <v-text-field
                                    label="Monto en efectivo"
                                    outlined
                                    type="number"
                                    hide-details
                                    dense
                                    prefix="S/"
                                    v-model="amount_cash"
                                ></v-text-field>
                            </v-col>
                            <v-col cols="6">
                                <v-text-field
                                    label="Monto Esperado"
                                    outlined
                                    type="number"
                                    hide-details
                                    dense
                                    prefix="S/"
                                    disabled
                                    v-model="totalMoney"
                                ></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="6">
                                <v-text-field
                                    label="Monto en tarjetas"
                                    outlined
                                    type="number"
                                    hide-details
                                    dense
                                    prefix="S/"
                                    v-model="amount_cards"
                                ></v-text-field>
                            </v-col>
                            <v-col cols="6">
                                <v-text-field
                                    label="Monto Esperado"
                                    outlined
                                    type="number"
                                    hide-details
                                    dense
                                    prefix="S/"
                                    disabled
                                    v-model="totalCards"
                                ></v-text-field>
                            </v-col>
                        </v-row>
                    </template>
                </v-card-text>
            </v-card>            
        </div>

        <div class="mt-3 pl-3 pt-3 pr-3">
                <v-card>
                    <v-card-text class="pt-1 pb-1">
                        <v-simple-table 
                            fixed-header height="300px"
                            dense>
                            <thead>
                                <tr>
                                    <th class="text-left">Usuario</th>
                                    <th class="text-left">Monto Efectivo</th>
                                    <th class="text-left">Monto Tarjeta</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="user in movementsUser" :key="user.user_id">
                                    <td>{{ user.first_name }} {{ user.last_name }}</td>
                                    <td class="text-end">{{ calculateAmountEfective(user) | currency('S/') }}</td>
                                    <td class="text-end">{{ user.card | currency('S/') }}</td>
                                </tr>
                            </tbody>
                        </v-simple-table>
                    </v-card-text>
                </v-card>                    
            </div>

        <div class="mt-3 pl-3 pt-3 pr-3">
            <template>
                <v-row>
                    <v-col cols="6">
                        <v-btn outlined color="red darken-1" @click="handleCancel" block>
                            Cancelar
                        </v-btn>
                    </v-col>
                    <v-col cols="6">
                        <v-btn dark color="primary" block @click="handleCloseCash">
                            Cerrar Caja
                        </v-btn>
                    </v-col>
                </v-row>
            </template>
        </div>
    </v-navigation-drawer>
</template>

<script>
import {mapActions, mapState} from 'vuex';

import ApiCashflow from '../../apis/Cashflow';

export default {
    name: 'CloseCash',
    data () {
        return {
            drawer: false,
            cash_id: null,
            amount_cash: null,
            totalMoney: null,
            amount_cards: null,
            totalCards: null,
            totalIncomes: null,
            totalExpenses: null,
            totalCash: null
        }
    },
    computed: {
        ...mapState('cash', [
            'movementsUser'
        ])
    },
    methods: {
        ...mapActions('cash', [
            'getHistory',
            'getMovementsUser'
        ]),
        async show (cash) {
            this.clearData();
            this.setData(cash);
            await this.getMovementsUser(this.cash_id);
            this.drawer = !this.drawer;
        },
        clearData () {
            this.cash_id = null;
            this.totalMoney = null;
            this.totalCards = null;
            this.totalIncomes = null;
            this.totalExpenses = null;
            this.totalCash = null;
            this.amount_cash = null;
            this.amount_cards = null;
        },
        setData (cash) {
            this.cash_id = cash.cash_id;
            this.totalMoney = cash.totalMoney;
            this.totalCards = cash.totalCards;
            this.totalIncomes = cash.totalIncomes;
            this.totalExpenses = cash.totalExpenses;
            this.totalCash = cash.totalCash;
        },
        handleCancel () {
            this.clearData();
            this.drawer = false;
        },
        getCashes(){
            let params = {
                from: null,
                until: null
            }
            this.getHistory(params);
        },
        handleCloseCash () {
            if(this.amount_cash ==null || this.amount_cards== null || parseFloat(this.amount_cash) < 0 || parseFloat(this.amount_cards) < 0) {
                this.$notify({
                    group: 'foo',
                    type: 'error',
                    title: 'RESULTADO DE OPERACIÓN',
                    text: 'Los montos ingresados deben ser mayores o iguales a cero.'
                })
            } else {
                let condition = 'cuadre'

                if(parseFloat(this.amount_cash) < this.totalMoney) {
                    condition = 'faltante'
                }
                if(parseFloat(this.amount_cash) > this.totalMoney) {
                    condition = 'sobrante'
                }

                if(parseFloat(this.amount_cards) < this.totalCards) {
                    condition = 'faltante'
                }
                if(parseFloat(this.amount_cards) > this.totalCards) {
                    condition = 'sobrante'
                }

                let params = {
                    cash_id: this.cash_id,
                    amount_cash: this.amount_cash,
                    amount_cards: this.amount_cards,
                    amount_income: this.totalIncomes,
                    amount_expense: this.totalExpenses,
                    total_amount: this.totalCash,
                    condition: condition
                }
                ApiCashflow.close(params)
                    .then(({data}) => {
                        this.drawer = false;
                        this.getCashes();
                    })
            }
        },
        calculateAmountEfective (user) {
            let total = parseFloat(user.income) 
                + parseFloat(user.cash) 
                + parseFloat(user.debt) 
                + parseFloat(user.balance_favor) 
                - parseFloat(user.expense);

            return total;
        }        
    }
}
</script>