<template>
    <v-navigation-drawer
        v-model="drawer"          
        width="550"
        app
        temporary
        right
        class="wost-drawer"
    >
        <div class="form-head">
            REGISTRAR DEVOLUCIÓN
        </div>

        <div class="wrapper-form-crud overflow-y-auto">
            <v-container :fluid="true" class="pt-0 pb-0">
                <v-row>
                    <v-col cols="12">
                        <v-card>
                            <v-card-text>
                                <v-container>
                                    <v-row>
                                        <v-col cols="12">
                                            <v-menu
                                                v-model="menuRegisterDate"
                                                :close-on-content-click="false"
                                                :nudge-right="40"
                                                transition="scale-transition"
                                                offset-y
                                                min-width="290px"
                                            >
                                                <template v-slot:activator="{ on }">
                                                    <v-text-field
                                                        ref="register_date"
                                                        v-model="form.register_date"
                                                        label="Fecha de devolución"
                                                        readonly
                                                        clearable
                                                        v-on="on"
                                                        outlined
                                                        dense
                                                        :rules="[() => !!form.register_date || 'Debe ingresar una fecha']"
                                                        hide-details="auto"
                                                        required                         
                                                    ></v-text-field>
                                                </template>
                                                <v-date-picker v-model="form.register_date" 
                                                    @input="menuRegisterDate = false" 
                                                    no-title
                                                    locale="es">
                                                </v-date-picker>
                                            </v-menu>
                                        </v-col>
                                    </v-row>
                                    <v-row>
                                        <v-col cols="12">
                                            <v-autocomplete v-model="form.customer_id"
                                                ref="customer_id"
                                                :items="customers"
                                                dense
                                                outlined
                                                clearable 
                                                clear-icon="far fa-times-circle"               
                                                label="Cliente"
                                                persistent-hint
                                                :item-text="customText"
                                                item-value="id"
                                                :filter="customFilter"
                                                :rules="[() => !!form.customer_id || 'Debe seleccionar un cliente']"
                                                hide-details="auto"
                                                required
                                            >
                                                <template v-slot:item="data">
                                                    <v-list-item-content>
                                                        <v-list-item-title v-if="data.item.type_document === 'DNI' ">
                                                            {{ data.item.name }} {{ data.item.surname }}
                                                        </v-list-item-title>
                                                        <v-list-item-title v-else>
                                                            {{ data.item.name }}
                                                        </v-list-item-title>
                                                        <v-list-item-subtitle>
                                                            {{ data.item.type_document }}: {{ data.item.document }}
                                                        </v-list-item-subtitle>
                                                    </v-list-item-content>
                                                </template>
                                            </v-autocomplete>
                                        </v-col>
                                    </v-row>
                                    <v-row>
                                        <v-col cols="12">
                                            <v-autocomplete v-model="form.product_id"
                                                ref="product_id"
                                                :items="products"
                                                dense
                                                outlined
                                                clearable 
                                                clear-icon="far fa-times-circle"               
                                                label="Producto"
                                                persistent-hint
                                                :item-text="customTextProducts"
                                                item-value="id"
                                                :rules="[() => !!form.product_id || 'Debe seleccionar un producto']"
                                                hide-details="auto"
                                                required
                                            ></v-autocomplete>
                                        </v-col>
                                    </v-row>
                                    <v-row>
                                        <v-col cols="12">
                                            <v-combobox
                                                ref="brand"
                                                v-model="form.brand"
                                                :items="brands_drums"
                                                label="Marca"
                                                outlined
                                                dense
                                                :rules="[() => !!form.brand || 'Debe ingresar la marca']"
                                                hide-details="auto"
                                                required
                                            ></v-combobox>
                                        </v-col>
                                    </v-row>
                                    <v-row>
                                        <v-col cols="12">
                                            <v-text-field v-model="form.quantity"
                                                ref="quantity"
                                                label="Cantidad"
                                                outlined
                                                dense
                                                type="number"
                                                :rules="[() => !!form.quantity || 'Debe ingresar una cantidad']"
                                                hide-details="auto"
                                                required
                                            ></v-text-field>
                                        </v-col>
                                    </v-row>
                                    <v-row>
                                        <v-col cols="12">
                                            <v-textarea v-model="form.observation"
                                                label="Observación"
                                                outlined
                                                dense
                                                hide-details="auto"
                                            ></v-textarea>
                                        </v-col>
                                    </v-row>
                                </v-container>
                            </v-card-text>
                        </v-card>
                    </v-col>
                </v-row>
            </v-container>
        </div>

        <div class="mt-3 pl-3 pr-3">
            <v-container class="pt-0 pb-0">
                <v-row>
                    <v-col cols="6" class="pt-0 pb-0">
                        <v-btn color="red"
                            block
                            dark
                            @click="handleCancel">
                            Cancelar
                        </v-btn>
                    </v-col>
                    <v-col cols="6" class="pt-0 pb-0">
                        <v-btn color="green"
                            block
                            dark
                            @click="handleSave">
                            Guardar
                        </v-btn>
                    </v-col>
                </v-row>
            </v-container>
        </div>

    </v-navigation-drawer>
</template>

<script>
import {mapActions, mapState} from 'vuex';

export default {
    name: 'RegisterReturn',
    data () {
        return {
            drawer: false,
            menuRegisterDate: false,
            form: {
                customer_id: null,
                register_date: null,
                product_id: null,
                brand: null,
                quantity: null,
                observation: null
            }
        }
    },
    computed: {
        ...mapState('customers', [
            'customers'
        ]),
        ...mapState('products', [
            'products'
        ]),
        ...mapState('drums', [
            'brands_drums',
            'response_drums',
            'filters_drums'
        ])
    },
    methods: {
        ...mapActions('drums', [
            'getAllDrums',
            'calculateTotals',
            'storeReturn'
        ]),    
        show () {
            this.clearForm();
            this.form.register_date = this.$moment().format('YYYY-MM-DD');
            this.drawer = !this.drawer;
        },
        async clearForm () {
            this.form.customer_id = null;
            this.form.register_date = null;
            this.form.product_id = null;
            this.form.brand = null;
            this.form.quantity = null;
            this.form.observation = null;
            await this.clearErrors();
        },
        closeForm () {
            this.drawer = false;
        },
        customTextProducts(item){
            let text = item.name;
            
            return text
        },
        customText(item){
            let text = item.name
            if (item.type_document === 'DNI') {
                text = item.name + ' ' + item.surname
            }
            return text
        },
        customFilter(item, queryText, itemText) {
            let textName = '';
            if (item.name) {
                textName = item.name.toLowerCase(); 
                if (item.surname) {
                    textName += item.surname.toLowerCase();
                }           
            }

            let textDocument = '';
            if (item.document) {
                textDocument = item.document.toLowerCase();
            }
            
            let searchText = queryText.toLowerCase()

            return textName.indexOf(searchText) > -1 || textDocument.indexOf(searchText) > -1
        },
        handleCancel () {
            this.closeForm();
        },
        async handleSave () {
            if (!this.existErrors()) {
                await this.storeReturn(this.form);
                if (this.response_drums == 'error') {
                    this.$notify({
                        group: 'foo',
                        type: 'error',
                        title: 'ERROR',
                        text: 'Ocurrió un error al registrar devolución.'
                    });
                } else {
                    this.$notify({
                        group: 'foo',
                        type: 'success',
                        title: 'CORRECTO',
                        text: 'La devolución se realizó de forma correcta'
                    });
                    this.closeForm();
                    let filtersData = Object.assign({}, this.filters_drums);
                    await this.getAllDrums(filtersData);
                    this.calculateTotals();
                }
            }
        },
        existErrors(){
            let hasErrors = false;

            Object.keys(this.form).forEach(f => {                
                if (this.$refs[f]) {
                    if (!this.form[f]) hasErrors = true
                    this.$refs[f].validate(true);
                }                
            });

            return hasErrors;
        },
        clearErrors() {
            Object.keys(this.form).forEach(f => {
                if (this.$refs[f]) this.$refs[f].reset()                
            });
        },
    }
}
</script>

<style scoped>

</style>