.background-white{
    background-color: white;
}

.background-section-right{
    background-color: #F9F8FF;
}

.rating-green{
    color: green !important;
}

.gold{
    color: #efb810 !important;
}

.silver{
    color: #C0C0C0 !important;
}

.cooper{
    color: #B87333 !important;
}

.text-green{
    color: #238C2A !important;
}

.text-red{
    color: #E53935 !important;
}