.crud-btn-new{
    font-family: GhotamClara;
    float: right;
    margin-right: 50px;
    border: none;
    background: none;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    color: #8d88e2;
    font-size: 14px;
}

.crud-btn-new > i {
    font-weight: bold;
}

.crud-input-search{
    width: 250px;  
    padding-left: 25px;
    font-family: GhotamClara;
}

.crud-input-search > .el-input__inner{
    border-radius: 30px;
    height: 30px;
    line-height: 30px;
}

.crud-input-search > .el-input__prefix{
    padding-left: 25px;
}

.crud-icon-search{
    line-height: 30px;
}

.crud-label-activos{
    color: #5C73F2;
    font-weight: 800;
    font-size: .8em;
}

.crud-header-cell{
    color: #C2C2C2 !important;
}

.crud-cell{
    font-weight: bold;
    color: #4c4c4c;
}

.detail-cliente{
    width: 80%;
}

.detail-cliente > tbody > tr > td{
    border: none;
}

.detail-label{
    font-weight: bold;
}

.detail-title-cliente{
    color: #5C73F2;
    font-weight: bold;
    font-size: 1.2em;
    font-family: GhotamMediana;
}

.detail-prop{
    width: 100px;
}

.detail-space{
    width: 100px;
}

.btn-actions{
    font-size: 1.2em;
    padding-left: 10px;
    text-decoration: none;
}

.btn-actions > i{
    font-size: 1em;
}

.btn-edit{
    color: #5C73F2;
}

.btn-delete{
    color: #F56C6C;
}

.detail-card{
    border: none !important;
}

.detail-card > .el-card__header{
    padding: 0px;
    border: 0px;
}

.detail-card > .el-card__body{
    padding: 0px;
}

.detail-list-orders{
    display: inline-block;
    width: 70%;
    padding: 5px;
    float: left;
    
}

.detail-customer-data{
    display: inline-block;
    width: 30%;
    float: left;
}

.detail-customer-data > .el-card{
    /*width: 200px;*/
}

.detail-customer-data > ul{
    padding-left: 15px;
}

.detail-customer-data > .detail-card > .el-card__body > div > ul > li{
    list-style-type: none;
    padding: 3px;    
}

.detail-customer-data > .detail-card > .el-card__body > div > ul > li > i{
    padding-right: 10px;
    font-size: 1.2em;
    color: #6F6A6A;
}

.detail-customer-data > .detail-card > .el-card__body > div > ul {
    border: 1px solid #F3F3F3;
    border-radius: 10px;
    padding: 15px;
}

.detail-customer-data > .detail-card > .el-card__body > div > ul > li > span{
    font-size: 1em;
    font-weight: 500;
    color: #6F6A6A;
}

.wost-customer-detail{
    padding: 0px !important;
}

.wost-customer-detail-data > li{
    list-style-type: none;
}

.wost-customer-detail-data > li > i{
    padding-right: 10px;
    font-size: 1.2em;
    color: #6F6A6A;
}

.separador{
    border-color: #F3F3F3 !important;
    border-top: 1px solid;
    border-bottom: none;
}

.order-detail{
    width: 100%;
    border: 0px;
}

.order-detail > tbody > tr > td{
    border: 0px;
    color: #6F6A6A;
}

.order-detail > tbody > tr{
    line-height: 8px;
}

.order-detail > tbody > tr:hover{
    background-color: #ffffff;
}

.detail-card-header{
    padding-left: 5px;
}

.detail-card-header > li{
    list-style-type: none;
}

.detail-card-status{
    display: block;
    width: 70px;
    text-align: center;
    color: #6F6A6A;
    font-size: .9em;
    font-weight: bold;
}

.detail-id-cliente{
    color: #6F6A6A;
    font-size: .9em;
    font-weight: bold;
}

.crud-drawer{
    background-color: #EEF1F5;
}

.crud-drawer > header.el-drawer__header{
    padding-left: 15px;
    background-color: #FFFFFF !important;
    color: #131212;
    text-align: left;
    font-weight: bold;
}

.crud-new-form{
    padding: 0 15px;
}

.crud-title-drawer{
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #FFFFFF;
    margin-bottom: 15px;
    padding-left: 15px;
    color: #131212;
    text-align: left;
    font-size: 1.3em;
    font-weight: bold;
    vertical-align: middle;
}

.crud-title-drawer > div{
    display: inline-block;
    float: left;
}

.crud-title-drawer > div.btn-save{
    float: right;
    margin-right: 15px;
}

.form-contact-data{
    background-color: #FFFFFF;
    display: inline-block;
    width: 68%;
    margin-right: 30px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    float: left;
}

.form-commercial-data{
    background-color: #FFFFFF;
    display: inline-block;
    width: 23%;
    padding-right: 15px;
    padding-left: 10px;
    padding-top: 15px;
    border-radius: 5px;
    padding-bottom: 15px;
}

.el-form-item__label{
    font-size: .8em;
    font-weight: bold;
    color: #6F6A6A;
}

.slider-close {
    background-color: #6F6A6A;
    position:absolute;
    left:36%;
    right:0px;
    bottom:0px;
    height:50px;
    z-index:0;
    width: 50px;
    border-radius: 10px;
    top: 7px;
    transition: all .3s ease-in-out;
}

.form-contact-data .el-form-item__label,
.form-commercial-data .el-form-item__label{
    line-height: 25px !important;
    padding: 0 0 0px;
}

.crud-label .el-form-item__label{
    color: #FFFFFF;
}

.el-form-item {
    margin-bottom: 10px;
}

.crud-form-header{
    margin: 0px;
    border-bottom: 1px solid #C0C4CC;
    height: 30px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: .9em;
}

.el-textarea{
    font-family: GhotamClara !important;
}

.btn-activate{
    color: #30D648;
}

/* Product style */
.v-data-table__expanded__row{
    border-top: 2px solid #F56C6C;
    border-left: 2px solid #F56C6C;
    border-right: 2px solid #F56C6C;
}

.v-data-table__expanded__content{
    border-bottom: 2px solid #F56C6C;
    border-left: 2px solid #F56C6C;
    border-right: 2px solid #F56C6C;
}

.wrapper-form-crud{    
    padding: 15px;    
}

.v-text-field{
    padding-top: 0px !important;
    margin-top: 0px !important;
}

.v-input{
    font-family: GhotamClara !important;
    font-size: 1em !important;
}

.v-text-field .v-label{
    font-family: GhotamClara !important;
    font-size: 14px !important;
}

.v-label{
    font-size: 14px !important;
}

.form-head{
    background-color: #3F51B5;
    background: linear-gradient(to bottom right, #1A237E, #90CAF9);
    color: #ffffff;
    font-family: GhotamMediana;
    font-size: 1rem;
    padding: 13px;
}

.header-table{
    color: #0D0D0D !important;
    height: 15px !important;
    line-height: 35px;
    font-size: 12px !important;
    text-transform: uppercase;
}

.header-table-expand{
    font-size: 14px !important;
}

.wost-btn-new{
    -webkit-box-shadow: 0px 4px 5px 0px rgba(153,150,153,1);
    -moz-box-shadow: 0px 4px 5px 0px rgba(153,150,153,1);
    box-shadow: 0px 4px 5px 0px rgba(153,150,153,1);
}

.wost-select{
    width: 150px;
    margin-right: 20px;
}

.wost-text-input{
    font-size: 14px !important;
}

.wost-indicators{
    background-color: #f9f8ff;
}

/** Table expanded ************************ */
table.table {
    margin:0 auto;
    width: 98%;
    max-width: 98%;
}

.datatable-cell-wrapper {
    width: inherit;
    position: relative;
    z-index: 4;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.v-data-table__expanded__content .card__text {
    z-index: 3;
    position: relative;
}

.wost_card__text {
    z-index: 3;
    position: relative;
    max-height: 400px;
}

.datatable-container {
    position: absolute;
    background-color: white;
    top: -50px;
    left: -14px;
    right: -14px;
    bottom: 0;
    z-index: 2;
    border:1px solid #ccc;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.15), 0 1px 10px 0 rgba(0,0,0,0.15), 0 2px 4px -1px rgba(0,0,0,0.2);
}

.wost-td-expanded{
    background-color: #FFFFFF;
    padding-left: 1px !important;
    padding-right: 1px !important;
}

.wost-expanded-content{
    margin-top: 1px;
    margin-bottom: 15px;
}