.wost-form-input {
    border: 1px solid #cedcdc;
    background: #fff;
    height: 48px;
    font-size: 15px;
    border-radius: 3px;
    padding-left: 12px;
    color: #000;
    padding-right: 12px;
    position:absolute;
    z-index:1;
    transition: border-color 200ms ease-in-out;
    outline:none;
}

.wost-form-input:focus{
    -webkit-box-shadow: 1px 3px 15px 0px #5C73F2; 
    box-shadow: 1px 3px 15px 0px #5C73F2;
}


/*-------------------------------------------------------*/

.wost-form{
    padding: 10px;
}

.wost-form input{
    padding: 10px 0;
    margin-bottom: 30px;
    border: 1px solid #DCDFE6;
    border-radius: 3px;   
    height: 48px;
    font-size: 1em;
}

.wost-form label{
    /* position: absolute; */
    top: 15px;
    left: 0px;
    transition: .5s;
    pointer-events: none;
    font-size: .9em;
    font-weight: bold;
    color: #6F6A6A;
}

.wost-form input{
    width: 100%;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    padding-left: 10px;
}

.wost-form div{
    position: relative;
}

.wost-form div label{
    position: absolute;
    top: 15px;
    left: 10px;    
    color: #999;
    transition: .5s;
    pointer-events: none;
}

.wost-form input:focus{
    border: 1px solid #5C73F2;
    -webkit-box-shadow: 1px 3px 15px 0px #5C73F2; 
    box-shadow: 1px 3px 15px 0px #5C73F2;
}

.wost-form input:focus ~ label,
.wost-form input:valid ~ label{
    top: -20px;
    left: 10px;
    font-size: .9em;
    font-weight: bold;
    color: #6F6A6A;
}

.el-textarea__inner{
    font-family: GhotamClara;
    font-family: GhotamClara;
    font-size: 14px;
    font-weight: 600;
}
  