.el-header{
    padding-right: 0px;
}

.section-user{
    font-family: GhotamClara;
    background-color: #F9F8FF;
    padding-top: 5px;
    padding-left: 30px;
    min-height: 3.4vh;
    font-weight: 800;
    font-size: .8em;
}