@font-face {
    font-family: GhotamClara;
    src: url('../fonts/Gotham-Light_0.otf');
}

@font-face {
    font-family: GhotamMediana;
    src: url('../fonts/Gotham-Medium_0.otf');
}

@font-face {
    font-family: MontserratRegular;
    src: url('../fonts/Montserrat-Regular.otf');
}

@font-face {
    font-family: MontserratMedium;
    src: url('../fonts/Montserrat-Medium.otf');
}

@font-face {
    font-family: BreulGrotesk;
    src: url('../fonts/Breul-Grotesk-A-Bold.ttf');
}

body{
    font-family: MontserratMedium;/*Roboto, "Helvetica Neue", sans-serif;*/
    margin: 0px;
}

.fondo-login {
    background-color: #badefc !important;
}

.fondo-loged {
    background-color: #F8F8F8 !important;
}

.content-margin-top {
    margin-top: 23px;
}

.negrita{
    font-family: GhotamMediana;
    color: #131212;
}

.text-white{
    color: #FFFFFF !important;
}

.title-section{
    font-size: 1.5em;
}

.el-table td, .el-table th{
    padding: 10px 0;
}

.el-header{
    height: 30px !important;
    border-bottom: solid 1px #E6E6E6;
}

.el-main{
    padding: 0px 20px !important;
    padding-right: 0px !important;
}

.el-pagination {
    text-align: center;
}

.float-r{
    float: right;
}

.el-drawer__header{
    margin-bottom: 15px;
    padding: 10px 10px;
    background-color: #409EFF;
    color: #fff;
    text-align: center;
}

.detail-orders{
    width: 50%;
    float: left;
}

.el-table__expanded-cell{
    padding: 10px !important;
}

.sombra {
    box-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 2px 0 #bbb, 0 2px 0 #aaa, 0 2px 0 #acacac, 0 2px 1px rgba(0,0,0,0.1), 0 0 2px rgba(0,0,0,0.1), 0 1px 2px rgba(0,0,0,0.3), 0 2px 2px rgba(0,0,0,0.2), 0 2px 2px rgba(0,0,0,0.25), 0 2px 2px rgba(0,0,0,0.2), 0 2px 2px rgba(0,0,0,0.15);
    float: left;
    width: 100%;
    border: solid 1px #E6E6E6;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;

}

.registrado{
    color: #5C73F2;
    font-weight: bold;
}

.pagado{
    color: #F2BE22;
    font-weight: bold;
}

.entregado{
    color: #238C2A;
    font-weight: bold;
}

.label-activos{
    color: #5C73F2;
    font-weight: 800;
    font-size: .8em;
}

.detail-title{
    font-weight: 900;
}

.products{
    width: 45%;
    float: left;
}

.detail-products-title{
    font-weight: 900;
}

.detail-products{
    margin-top: 10px;
}

.image{
    width: 100%;
    display: block;
}

.detail-product-item{
    margin-top: 10px;
}

.text-center{
    text-align: center;
}

.rating{
    font-size: 20px;
}

.wost-drawer{
    background-color: #F2F2F2 !important;
}

.text-a-right{
    text-align: right !important;
}

.wost-table > .v-data-table__wrapper > table > tbody > tr > td {
    text-transform: uppercase;
}

.wost-table-detail > .v-data-table__wrapper > table > thead > tr > th{
    font-size: .9rem !important;
    font-weight: 500 !important;
    height: 45px !important;
}

.wost-table-detail > .v-data-table__wrapper > table > tbody > tr > td{
    height: 45px;
}

.text-bold{
    font-weight: bold;
}

.text-upper{
    text-transform: uppercase;
}

.custom-notification {
    padding: 20px;
    margin: 0 5px 5px;
    font-size: 14px;
    color: #fff;
    background: #44a4fc;
    border-left: 5px solid #187fe7;
}
.custom-notification.warn {
    background: #ffb648;
    border-left-color: #f48a06;
}
.custom-notification.error {
    background: #e54d42;
    border-left-color: #b82e24;
}
.custom-notification.success {
    background: #68cd86;
    border-left-color: #42a85f;
}

  .custom-notification .notification-title {
    font-weight: bold;
  }

.wost-scroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px #c1c1c1;
	border-radius: 6px;
	background-color: #F5F5F5;
}

.wost-scroll::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

.wost-scroll::-webkit-scrollbar-thumb
{
	border-radius: 6px;
	-webkit-box-shadow: inset 0 0 6px #c1c1c1;
	background-color: #c1c1c1;
}

.table-report-sale td, .table-report-sale th{
    font-size: 12px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}
