.flex{
    display: flex;
}
.w-full{
    width: 100%;
}
.card{
    background: white;
    padding: 1rem;
}
.card .card-header{
    padding: 10px 0;
    margin-bottom:4px ;
}
.card .card-body{
    margin-top: 10px;
}
.btn-add{
    width: 110px;
    background: #0C67BC;
    color: white;
    padding: 5px 8px ;
    border-radius: 250px;
}
.table thead th{
    background: #1E88E5;color: white;
    padding:8px ;
    font-weight: bold;
}
.table tbody tr td{
    padding: 8px;
    vertical-align: middle;
}