@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

.sales-item-catalogue{
    border-bottom: 1px solid #86A0A6;
}

.sales-name-product-list{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 30px !important;
}

.sales-price-list{
    color: #000000 !important;
}

.sales-price-product-list{
    font-weight: bold;
}

.card-product{
    border: 1px solid #BDC3C7 !important;
    -webkit-box-shadow: 11px 10px 6px -6px rgba(0,0,0,0.31); 
    box-shadow: 11px 10px 6px -6px rgba(0,0,0,0.31);
}

.sales-name-product-card{    
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-weight: bold;
    justify-content: center;
    text-transform: uppercase;
    line-height: normal;
}

.sales-price-product-card{
    font-family: 'Pacifico', cursive;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    color: #0C67BC !important;
}

.btn-quantity{
    flex-direction: inherit !important;
}

.cart-item-product{
    border-bottom: 1px solid #86A0A6;
}

.list-products-in-cart{
    height: 335px;
    overflow-y: auto;
}

.list-products-available{
    height: 550px;
    overflow-y: auto;
}

.cart-btn-quantity{
    height: 35px !important;
    border-radius: 3px !important;
}

.cart-item-product:active{
    color: #ffffff !important;
}

.product-name{
    font-weight: bold;
    cursor: pointer;
}

.product-price{
    font-weight: bold;
    color: #BDC3C7 !important;
}

.product-quantity{
    font-weight: bold;
    font-size: 16px;
}

.sales-price-label-list{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.sales-price-value-list{
    font-family: 'Pacifico', cursive;
    font-weight: bold;
    font-size: 15px !important;
    color: #0C67BC !important;
}

.btn-master-card{
    background: url(/images/credit-cards/master-card.jpg) no-repeat;
    background-size: cover;
}

.head-cart{
    background-color: #3949AB;
    background: linear-gradient(to bottom right, #1A237E, #90CAF9);
    color: white;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: normal;
}

.cart-summary{
    text-align: center;
}

.cart-total-quantity{
    font-weight: bold;
    font-size: 22px;
}

.cart-subtotal{
    font-weight: bold;
    color: #0C67BC !important;
    font-size: 22px;
}