.space-inter-inputs{
    padding-top: 0px !important;
}

.space-in-card{
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.padding-top-0{
    padding-top: 0px !important;
}

.padding-bootom-0{
    padding-bottom: 0px;
}

.margin-top-0{
    margin-top: 0px !important;
}

.v-data-table-header > tr > th{
    padding-top: 0px !important;
    height: auto !important;
}

.padding-all-5{
    padding: 5px !important;
}

.margin-left-30{
    margin-left: 30px;
}

.field-discount{
    width: 180px;
    display: inline-block;
}

.label-price-discounted{
    text-decoration: line-through;
    text-decoration-color: #C62828;
}

.padding-all-0{
    padding: 0px !important;
}

.border-radius-15{
    border-radius: 15px !important;
}