.stadistic-section{
    background-color: #F9F8FF;
    padding: 10px;
    padding-left: 30px;
    min-height: 90vh;
}

.stadistic-title{
    margin-bottom: 10px;
    font-weight: 800;
    font-size: .8em;
}

.stadistic{
    padding: 3px;
    text-align: left;
}

.stadistic-item{
    margin-bottom: 12px;
}

.stadistic-item-title{
    display: block;
    font-size: .96em;
    font-weight: bold;
    color: #6F6A6A; /* #9A9A9C */
}

.stadistic-item-number{
    display: block;
    font-size: 1.6em;
    font-family: GhotamMediana;
    color: #131212; /* 303030 */
}

.stadistic-badge > .el-badge__content{
    background-color: transparent;
    padding-bottom: 20px;
    padding-left: 0px;
    color: #938EE4;
}

.stadistic-badge-sup{
    vertical-align: super;
    display: inline-block;
    font-size: 13px;
    font-weight: 300 !important;
    height: 20px;
    line-height: 20px;
    padding: 0 0px;
    text-align: center;
    white-space: nowrap;
}