.status-activo{
    margin-left: 5px;
    background-color: #30D648;
    color: #FFFFFF;
    padding: 3px;
    border-radius: 4px;
    border-color: #30D648;
    font-size: 11px;
}

.status-inactivo{
    margin-left: 5px;
    background-color: #F56C6C;
    color: #FFFFFF;
    padding: 3px;
    border-radius: 4px;
    border-color: #F56C6C;
    font-size: 11px;
}

.incremento{
    color: #238C2A;
    font-family: GhotamMediana;
}

.decremento{
    color: #F56C6C;
    font-family: GhotamMediana;
}

.order-status-registrado{
    color: #757575 !important;
}

.order-status-pagado{
    color: #43A047 !important;
}

.order-status-facturado{
    color: #43A047 !important;
}

.order-status-en-reparto{
    color: #FFB300 !important;
}

.order-status-anulado{
    color: #E53935 !important;
}

.order-status-entregado{
    color: #1E88E5 !important;
}

.order-selected-status-registrado{
    background-color: #757575 !important;
    color: #FFFFFF !important;
}

.order-selected-status-pagado{
    background-color: #43A047 !important;
    color: #FFFFFF !important;
}

.order-selected-status-facturado{
    background-color: #43A047 !important;
    color: #FFFFFF !important;
}

.order-selected-status-en-reparto{
    background-color: #FFB300 !important;
    color: #FFFFFF !important;
}

.order-selected-status-anulado{
    background-color: #E53935 !important;
    color: #FFFFFF !important;
}

.order-selected-status-entregado{
    background-color: #1E88E5 !important;
    color: #FFFFFF !important;
}