@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

.voucher-content{
font-family: 'Open Sans', sans-serif !important;
font-size: 9px !important;
}

.voucher-header{
display: table;
width: 100%
}

.voucher-header-row{
display: table-row;
}

.voucher-header-cell{
display: table-cell;
vertical-align: top;
}

.columna-logo {
width: 60%;
}

.columna-numero{
width: 40%
}

.texto-negrita{
font-weight: bold;
}

.texto-rojo{
color: #E53935;
}

.voucher-number {
border: 1px solid;
padding-left: 20px;
padding-right: 20px;
font-size: 20px;
text-align: center;
padding-top: 15px;
padding-bottom: 15px;
border-radius: 3px;
}

.voucher-customer{
padding-top: 10px;
}

.voucher-customer-data{
border: 1px solid;
border-radius: 3px;
}

.voucher-detail-data{
border: 1px solid;
border-radius: 3px;
}

.voucher-detail{
padding-top: 15px;
}

.borde-inferior{
border-bottom: 1px solid;
}

.borde-derecha{
border-right: 1px solid;
}

.texto-derecha{
text-align: right;
}

.texto-centro{
text-align: center;
}

.all-borders{
border: 1px solid;
}

.borde-izquierdo{
border-left: 1px solid;
}

.borde-arriba{
border-top: 1px solid,
}

.borde-abajo{
border-bottom: 1px solid;
}