<template>
    <v-navigation-drawer
        v-model="drawer"          
        width="1000"
        app
        temporary
        right
        class="wost-drawer"
    >
        <div class="form-head">
            {{ titleForm }}
        </div>
        <div class="pl-3 pt-3 pr-3">
            <v-card>
                    <template>
                        <v-row>
                            <v-col cols="12">
                                <v-icon size="18" class="ml-2 mr-1" color="indigo">
                                    fas fa-tags
                                </v-icon>
                                <span class="subtitle-2 text-uppercase">{{ productName }}</span>
                            </v-col>                            
                            <v-col cols="12" class="pt-0">
                                <v-divider></v-divider>
                                <v-data-table
                                    class="wost-table"
                                    :headers="headers"
                                    :items="kardex"
                                    item-key="id"
                                    no-data-text=""
                                >
                                    <template v-slot:item.type="{item}">
                                        <span :class="'kardex-type kardex-' + item.type.toLowerCase()">{{ item.type }}</span>
                                    </template>

                                    <template v-slot:item.register_date="{item}">
                                        <span>{{ item.register_date | moment("DD/MM/YYYY") }}</span>
                                    </template>

                                    <template v-slot:item.hour_date="{item}">
                                        <span>{{ item.register_date | moment("h:mm a") }}</span>
                                    </template>

                                </v-data-table>
                                
                            </v-col>
                        </v-row>
                    </template>
            </v-card>
        </div>
    </v-navigation-drawer>
</template>

<script>
import { mapActions, mapMutations, mapState } from 'vuex'

export default {
    name: 'Kardex',
    data() {
        return {
            productName: '',
            titleForm: '',
            drawer: false,
            headers: [
                { text: 'Detalle', value: 'description', sortable: false, class: 'header-table'},
                { text: 'Tipo', value: 'type', sortable: false, class: 'header-table', width: 100 },
                { text: 'Cantidad', value: 'quantity', sortable: false, class: 'header-table', width: 100 },
                { text: 'Total', value: 'stock', align: 'end', sortable: false, class: 'header-table', width: 110 },
                { text: 'Fecha', value: 'register_date', sortable: false, class: 'header-table', width: 130 },
                { text: 'Hora', value: 'hour_date', sortable: false, class: 'header-table', width: 100 },
                { text: 'Motivo', value: 'reason_decrease', sortable: false, class: 'header-table' }
            ]
        }
    },
    computed: {
        ...mapState('storehouses', [
            'kardex'
        ]),
    },
    methods: {
        showForm(title, productName) {
            this.titleForm = title
            this.productName = productName
            this.drawer = !this.drawer
        },
    }
}
</script>

<style>
.kardex-type{
    display: block;
    color: #ffffff;
    font-size: 12px !important;
    text-align: center;
    border-radius: 5px;
    width: 110px;
}

.kardex-ingreso {
    background-color: #388E3C;
}

.kardex-salida {
    background-color: #D32F2F;
}

.kardex-merma {
    background-color: #FFA000;
}
</style>