<template>
    <v-navigation-drawer
        v-model="drawer"          
        width="550"
        app
        temporary
        right
        class="wost-drawer"
    >
        <div class="form-head">
            REGISTRAR DESCARGA
        </div>
        <div class="wrapper-form-crud overflow-y-auto">
            <v-container :fluid="true" class="pt-0 pb-0">
                <v-row>
                    <v-col cols="12">
                        <v-card>
                            <v-card-text>
                                <v-container>
                                    <v-row>
                                        <v-col cols="12">
                                            <v-autocomplete v-model="form.inventory_id"
                                                ref="inventory_id"
                                                :items="products"
                                                dense
                                                outlined
                                                clearable 
                                                clear-icon="far fa-times-circle"               
                                                label="Producto"
                                                persistent-hint
                                                :item-text="customTextProducts"
                                                item-value="id"
                                                :rules="[() => !!form.inventory_id || 'Debe seleccionar un producto']"
                                                hide-details="auto"
                                                required
                                            ></v-autocomplete>
                                        </v-col>
                                    </v-row>
                                    <v-row>
                                        <v-col cols="6">
                                            <v-text-field v-model="form.quantity"
                                                label="Cantidad Lleno"
                                                outlined
                                                dense
                                                type="number"
                                            ></v-text-field>
                                        </v-col>
                                        <v-col cols="6">
                                            <v-text-field v-model="form.quantity_empty"
                                                label="Cantidad Vacio"
                                                outlined
                                                dense
                                                type="number"
                                            ></v-text-field>
                                        </v-col>
                                    </v-row>
                                </v-container>
                            </v-card-text>
                        </v-card>
                    </v-col>
                </v-row>
            </v-container>
        </div>

        <div class="mt-3 pl-3 pr-3">
            <v-container class="pt-0 pb-0">
                <v-row>
                    <v-col cols="6" class="pt-0 pb-0">
                        <v-btn color="red"
                            block
                            dark
                            @click="handleCancel">
                            Cancelar
                        </v-btn>
                    </v-col>
                    <v-col cols="6" class="pt-0 pb-0">
                        <v-btn color="green"
                            block
                            dark
                            @click="handleSave">
                            Guardar
                        </v-btn>
                    </v-col>
                </v-row>
            </v-container>
        </div>

    </v-navigation-drawer>
</template>

<script>
import {mapActions, mapState} from 'vuex';

import ApiStorehouses from '../../apis/Storehouses';

export default {
    name: 'RegisterDischarge',
    data () {
        return {
            drawer: false,            
            form: {
                storehouse_id: null,
                inventory_id: null,
                quantity: null,
                quantity_empty: null
            }
        }
    },
    computed: {
        ...mapState('storehouses', [
            'storehouseSelected',
            'products',
        ]),
    },
    methods: {
        ...mapActions('storehouses', [
            'getProductsInStorehouse',
        ]),
        show (storehouse) {
            this.clearForm();
            this.form.storehouse_id = storehouse.id;
            this.drawer = !this.drawer;
        },
        customTextProducts(item){
            let text = item.name;
            
            return text
        },
        async clearForm () {
            this.form.storehouse_id = null;
            this.form.inventory_id = null;
            this.form.quantity = null;
            this.form.quantity_empty = null;
            await this.clearErrors();
        },
        closeForm () {
            this.drawer = false;
        },
        handleCancel () {
            this.closeForm();
        },
        handleSave () {
            if (!this.existErrors()) {
                ApiStorehouses.saveDischarge(this.form)
                    .then(({data}) => {                 
                        this.getProductsInStorehouse(this.storehouseSelected.id);
                        this.clearForm();
                        this.drawer = false
                        this.$notify({
                            group: 'foo',
                            type: 'success',
                            title: 'RESULTADO DE OPERACIÓN',
                            text: 'El registro de descarga se realizó de manera exitosa!'
                        });
                    }).catch( error => {
                        this.$notify({
                            group: 'foo',
                            type: 'error',
                            title: 'ERROR',
                            text: 'Se detectó un error al registrar descarga.'
                        });
                    })
            }
        },
        existErrors(){
            let hasErrors = false;

            Object.keys(this.form).forEach(f => {                
                if (this.$refs[f]) {
                    if (!this.form[f]) hasErrors = true
                    this.$refs[f].validate(true);
                }                
            });

            return hasErrors;
        },
        clearErrors() {
            Object.keys(this.form).forEach(f => {
                if (this.$refs[f]) this.$refs[f].reset()                
            });
        },
    }
}
</script>

<style scoped>

</style>