<template>
    <v-container app :fluid="true" class="pt-0 pb-0">
        <v-row>
            <v-col cols="6">
                <v-text-field
                    v-model="search"
                    append-icon="fas fa-search"
                    label="Buscar producto"
                    solo
                    dense
                    hide-details
                    class="wost-text-input"
                ></v-text-field>
            </v-col>
            <v-col cols="6">
                <v-btn @click="showCreateCustomer()" 
                    rised 
                    color="indigo" 
                    dark 
                    height="36" 
                    class="float-right"
                    v-if="verifyPermission('crear_productos')">
                    <v-icon dark left size="12">fas fa-plus</v-icon>Nuevo Producto
                </v-btn>
            </v-col>
        </v-row>
        <v-row>
            <v-col cols="10" class="pt-0">
                <v-card>
                    <v-card-text>
                        <div>
                            <v-data-table
                                class="wost-table"
                                :headers="headers"
                                :items="products"
                                item-key="name"
                                :search="search"
                                height="68vh"
                                @click:row="handleCurrentChange"
                                no-data-text=""
                                v-if="verifyPermission('listar_productos')"
                            >
                                <template v-slot:item.name="{ item }">
                                    {{ item.name }}
                                    <span :class="'status-' + item.status.toLowerCase()">{{ item.status }}</span>                           
                                </template>
                                <template v-slot:item.cost="{ item }">
                                    <div class="datatable-cell-wrapper">{{ item.cost | currency('S/') }}</div>                                
                                </template>
                                <template v-slot:item.unit_price="{ item }">
                                    <div class="datatable-cell-wrapper"><span>{{ item.unit_price | currency('S/') }}</span></div>
                                </template>
                                <template v-slot:item.wholesale_price="{ item }">
                                    <div class="datatable-cell-wrapper"><span>{{ item.wholesale_price | currency('S/') }}</span></div>
                                </template>
                                <template v-slot:item.preferential_price="{ item }">
                                    <div class="datatable-cell-wrapper"><span>{{ item.preferential_price | currency('S/') }}</span></div>
                                </template>
                                <template v-slot:item.action="{ item }">
                                    <div class="datatable-cell-wrapper">
                                        
                                        <v-icon v-if="verifyPermission('actualizar_productos')"
                                            color="amber"
                                            size="16"
                                            @click="editProduct(item)">
                                            fas fa-pencil-alt
                                        </v-icon>                                        

                                        <v-icon v-if="item.status === 'activo' && verifyPermission('inactivar_productos')"
                                            color="grey"
                                            size="16"
                                            class="ml-2"
                                            @click="deleteProduct(item, 'inactivar')">
                                            fas fa-minus-circle
                                        </v-icon>
                                        <v-icon v-else-if="item.status.toLowerCase()  === 'inactivo' && verifyPermission('activar_productos')"
                                            color="green"
                                            size="16"
                                            class="ml-2"
                                            @click="deleteProduct(item, 'activar')">
                                            fas fa-check-circle
                                        </v-icon>

                                        <v-icon
                                            color="red darken-1" 
                                            size="16"
                                            class="ml-2"
                                            @click="handleDeleteProduct(item)">
                                            fas fa-trash-alt
                                        </v-icon>
                                    </div>
                                </template>                           
                                                              
                            </v-data-table>
                        </div>
                    </v-card-text>
                </v-card>
            </v-col>
            <v-col cols="2" class="pt-0">
                <v-card height="78vh" color="#f9f8ff">
                    <v-card-title class="pl-1 pt-1 pb-1">
                        Resumen
                    </v-card-title>
                    <v-card-text class="pl-1">
                        <div class="stadistic-item">
                            <span class="stadistic stadistic-item-title">Monto de ventas</span>
                            <span class="stadistic stadistic-item-number">
                                {{ currentStadistic.total_sales | currency('S/') }}
                            </span>
                        </div>
                        <div class="stadistic-item">
                            <span class="stadistic stadistic-item-title">Monto de ventas completo</span>
                            <span class="stadistic stadistic-item-number">
                                {{ currentStadistic.total_sales_complete | currency('S/') }}
                            </span>
                        </div>
                        <div class="stadistic-item">
                            <span class="stadistic stadistic-item-title">Monto de ventas recarga</span>
                            <span class="stadistic stadistic-item-number">
                                {{ currentStadistic.total_sales_recharge | currency('S/') }}
                            </span>
                        </div>
                        <!--
                        <div class="stadistic-item">
                            <span class="stadistic stadistic-item-title">Número de ventas</span>
                            <span class="stadistic stadistic-item-number">
                                {{ currentStadistic.quantity_sales }}
                            </span>
                        </div>
                        -->
                        <div class="stadistic-item">
                            <span class="stadistic stadistic-item-title">Ventas por mes</span>
                            <span class="stadistic stadistic-item-number">
                                {{ currentStadistic.total_sales_month | currency('S/') }}
                            </span>
                        </div>
                        <div class="stadistic-item">
                            <span class="stadistic stadistic-item-title">Ventas por semana</span>
                            <span class="stadistic stadistic-item-number">
                                {{ currentStadistic.total_sales_week | currency('S/') }}
                            </span>
                        </div>
                        <!--
                        <div class="stadistic-item">
                            <span class="stadistic stadistic-item-title">Ventas por día</span>
                            <span class="stadistic stadistic-item-number">
                                {{ currentStadistic.total_sales_today | currency('S/') }}
                            </span>
                        </div>
                        -->
                        <div class="stadistic-item">
                            <span class="stadistic stadistic-item-title">Ventas por día completo</span>
                            <span class="stadistic stadistic-item-number">
                                {{ currentStadistic.total_sales_today_complete | currency('S/') }}
                            </span>
                        </div>
                        <div class="stadistic-item">
                            <span class="stadistic stadistic-item-title">Ventas por día recarga</span>
                            <span class="stadistic stadistic-item-number">
                                {{ currentStadistic.total_sales_today_recharge | currency('S/') }}
                            </span>
                        </div>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>

        <v-navigation-drawer
            v-model="drawer"          
            width="750"
            app
            temporary
            right
            class="wost-drawer"
        >
            <div class="form-head">
                {{ titleForm }}
            </div>
            <div class="wrapper-form-crud overflow-y-auto">               
                <v-form>
                    <v-card class="padding-bootom-0">
                        <v-card-text>
                            <v-container>
                                <v-row>
                                    <v-col :cols="6" class="space-inter-inputs">
                                        <v-text-field v-model="formProduct.name" label="Nombre" color="blue"></v-text-field>
                                    </v-col>
                                    <v-col :cols="6"  class="d-flex space-inter-inputs">
                                        <v-select v-model="formProduct.category_id" :items="categories" label="Categoria" ></v-select>
                                    </v-col>
                                </v-row>
                                <v-row>
                                    <v-col :cols="6" class="space-inter-inputs">
                                        <v-select v-model="formProduct.unit_id" :items="units" label="Unidad de medida" ></v-select>
                                    </v-col>
                                    <v-col :cols="6" class="space-inter-inputs">
                                        <v-text-field v-model="formProduct.cost" label="Costo" disabled></v-text-field>
                                    </v-col>                                    
                                </v-row>
                                <v-row>
                                    <v-col :cols="4"  class="d-flex space-inter-inputs">
                                        <v-text-field v-model="formProduct.unit_price" label="Precio unitario"></v-text-field>
                                    </v-col>
                                    <v-col :cols="4" class="space-inter-inputs">
                                        <v-text-field v-model="formProduct.wholesale_price" label="Precio por mayor"></v-text-field>
                                    </v-col>
                                    <v-col :cols="4" class="space-inter-inputs">
                                        <v-text-field v-model="formProduct.preferential_price" label="Precio preferencial"></v-text-field>
                                    </v-col>
                                </v-row>
                            </v-container>
                        </v-card-text>

                    </v-card>
                    <br>
                    <v-card class="padding-bootom-0">
                        <v-card-title class="space-in-card">
                            Inventario
                        </v-card-title>
                        <v-card-text class="space-in-card">
                            <v-container class="padding-top-0">
                                <v-row>
                                    <v-col :cols="6" class="space-inter-inputs padding-bootom-0">                                        
                                        <v-switch v-model="formProduct.compound" class="ma-2 margin-top-0" label="Artículo compuesto" ></v-switch>
                                    </v-col>
                                </v-row>
                                <v-row v-if="formProduct.compound">
                                    <v-col :cols="12" class="space-inter-inputs padding-bootom-0">
                                        <v-autocomplete
                                        label="Insumos"
                                        :items="suppliesDropdown"
                                        v-model="supply"
                                        @change="handleChangeSupply">
                                        </v-autocomplete>
                                    </v-col>
                                </v-row>
                                <v-row v-if="formProduct.compound">
                                    <v-col :cols="12" class="space-inter-inputs">
                                        <v-data-table
                                            :headers="headersComposition"
                                            :items="formProduct.supplies"
                                            :disable-sort="true"
                                            :hide-default-footer="true"
                                            no-data-text=""
                                        >
                                            <template v-slot:item.quantity="props">
                                                <v-edit-dialog
                                                    :return-value.sync="props.item.quantity"
                                                    @close="handleCloseQuantity"
                                                    > {{ props.item.quantity }}
                                                    <template v-slot:input>
                                                        <v-text-field
                                                        v-model="props.item.quantity"
                                                        label="Edit"
                                                        single-line
                                                        type="number"
                                                        ></v-text-field>
                                                    </template>
                                                </v-edit-dialog>
                                            </template>
                                            <template v-slot:item.cost="{ item }">
                                                {{ getCurrency(item.quantity * item.cost) }}
                                            </template>
                                            <template v-slot:item.action="{ item }">
                                                <a href="#" title="Eliminar" class="btn-actions btn-delete" @click="deleteComponent(item)">
                                                    <i class="fas fa-minus-circle"></i>
                                                </a>
                                            </template>
                                        </v-data-table>
                                    </v-col>
                                </v-row>
                                <v-row>
                                    <v-col :cols="12" class="space-inter-inputs padding-bootom-0">
                                        <v-switch v-model="formProduct.check_inventory" class="ma-2 margin-top-0" label="Seguir el inventario" ></v-switch>
                                    </v-col>
                                </v-row>
                                <v-row v-if="formProduct.check_inventory">
                                    <v-col :cols="6" class="space-inter-inputs">
                                        <v-text-field label="En stock" v-model="formProduct.stock"></v-text-field>
                                    </v-col>
                                    <v-col :cols="6" class="space-inter-inputs">
                                        <v-text-field label="Inventario bajo" v-model="formProduct.minimum_stock"></v-text-field>
                                    </v-col>
                                </v-row>
                                <v-row>
                                    <v-col :cols="2">
                                        <span>Retorno</span>
                                    </v-col>
                                    <v-col :cols="10">
                                        <v-btn-toggle v-model="formProduct.has_return" dense>
                                            <v-btn :value="true">Si</v-btn>
                                            <v-btn :value="false">No</v-btn>
                                        </v-btn-toggle>
                                    </v-col>
                                </v-row>
                            </v-container>
                        </v-card-text>
                    </v-card>
                    <br>
                    <v-card class="padding-bootom-0">
                        <v-card-text>
                            <v-container>
                                <v-row>
                                    <v-col cols="12">
                                        <v-file-input v-model="formProduct.image" label="Imagen del producto"></v-file-input>
                                    </v-col>
                                </v-row>
                            </v-container>
                        </v-card-text>
                    </v-card>
                    <br>
                    <v-divider></v-divider>
                    <br>
                    <div class="text-a-right">
                        <v-btn color="error" outlined @click="closeDrawer()" :elevation="10">Cancelar</v-btn>
                        &nbsp;
                        <v-btn v-if="actionCrud === 'create'" color="primary" raised @click="addProduct()" :elevation="10">Guardar</v-btn>
                        <v-btn v-else color="primary" raised @click="updateProduct()" :elevation="10">Actualizar</v-btn>
                    </div>
                    
                </v-form>
            </div>
        </v-navigation-drawer>

    </v-container>
</template>

<script>
import {mapActions, mapState} from 'vuex';

import ApiProduct from '../../apis/Product'
import {APIService} from '@/APIService';

const apiService = new APIService();

export default {
     data () {
      return {
        drawer: false,
        expanded: [],
        singleExpand: false,
        isCompound: false,
        checkInventory: false,
        titleForm: 'Registro de nuevo producto',
        actionCrud: 'create',
        formProduct: {
            id: null,
            name: null,
            category_id: null,
            unit_id: null,
            cost: null,
            unit_price: null,
            wholesale_price: null,
            preferential_price: null,
            compound: false,
            supplies: [],
            check_inventory: false,
            stock: null,
            minimum_stock: null,
            image: null,
            has_return: false
        },
        categories: [],
        units: [],
        search: '',
        headers: [
          { text: 'Descripción', align: 'left', sortable: false, value: 'name', class: 'header-table'},
          { text: 'Costo', value: 'cost', align: 'a-right', sortable: false, class: 'header-table', width: 120 },
          { text: 'P. Unitario', value: 'unit_price', align: 'a-right', sortable: false, class: 'header-table', width: 140 },
          { text: 'Stock', value: 'stock', align: 'a-right', sortable: false, class: 'header-table', width: 90 },
          { text: 'P. por mayor', value: 'wholesale_price', align: 'a-right', sortable: false, class: 'header-table', width: 170 },
          { text: 'P. Preferencial', value: 'preferential_price', align: 'a-right', sortable: false, class: 'header-table', width: 170 },
          { text: 'Acciones', value: 'action', sortable: false, class: 'header-table', width: 35 },
          { text: '', value: 'data-table-expand', width: 10, class: 'header-table-expand' }
        ],
        supplies: null,
        suppliesDropdown: [],
        supply: null,
        headersComposition: [
            { text: 'Producto', value: 'product_name'},
            { text: 'Cantidad', value: 'quantity', width: 50, align: 'a-right'},
            { text: 'Costo', value: 'cost', width: 70, align: 'a-right'},
            { text: ' ', value: 'action', width: 30, sortable: false },
        ],
        composition: [],
        products: [],
        currentRow: null,
        currentStadistic: {
            total_sales: 0,
            quantity_sales: 0,
            total_sales_week: 0,
            total_sales_month: 0
        }
      }
    },
    computed: {
        ...mapState('products', [
            'response_products'
        ])
    },
    methods: {
        ...mapActions('products', [
            'delete'
        ]),
        handleCurrentChange(val) {
            this.currentRow = val;
            this.getStadistic(this.currentRow.id);
        },
        showCreateCustomer() {
            this.clearForm()         
            this.drawer = !this.drawer
        },
        handleChangeSupply() {
            let selected = this.supply
            let supplySelected = null
            
            apiService.getSupplyItem(selected).then((response) => {
                supplySelected = response.data
                if (supplySelected.id > 0) {
                    let exist = false;
                    this.formProduct.supplies.map(function(item) {
                        if (item.product_id === supplySelected.id) {
                            exist = true
                        }
                    })
                    if(!exist){
                        this.formProduct.supplies.push({
                            product_id: supplySelected.id,
                            product_name: supplySelected.name,
                            quantity: 1,
                            cost: supplySelected.cost
                        })
                        this.calculateCost()
                    }
                }
            });            
        },
        handleCloseQuantity() {
            this.calculateCost()
        },
        closeDrawer() {
            this.drawer = false
            this.clearForm()
        },
        clearForm(){
            this.titleForm = 'Registro de nuevo producto'
            this.actionCrud = 'create'
            this.formProduct.id = null
            this.formProduct.name = null
            this.formProduct.category_id = null
            this.formProduct.unit_id = null
            this.formProduct.cost = null
            this.formProduct.unit_price = null
            this.formProduct.wholesale_price = null
            this.formProduct.preferential_price = null
            this.formProduct.compound = false
            this.formProduct.supplies = []
            this.formProduct.check_inventory = false
            this.formProduct.stock = null
            this.formProduct.minimum_stock = null
            this.formProduct.image = null
            this.formProduct.has_return = false
        },
        addProduct() {
            apiService.createProduct(this.formProduct).then((response) => {
                this.drawer = false
                this.products.push(response.data)
                this.$notify({
                    group: 'foo',
                    type: 'success',
                    title: 'REGISTRO DE PRODUCTO',
                    text: 'Producto registrado de forma correcta.!'
                });
            }).catch( function(error){
                this.$notify({
                    group: 'foo',
                    type: 'error',
                    title: 'REGISTRO DE PRODUCTO',
                    text: 'Se detectó un error al registrar producto!'
                });
            });
        },
        editProduct(product) {
            this.titleForm = 'Editar producto'
            this.actionCrud = 'update'
            this.formProduct.id = product.id
            this.formProduct.name = product.name
            this.formProduct.category_id = product.category_id
            this.formProduct.unit_id = product.unit_id
            this.formProduct.cost = product.cost
            this.formProduct.unit_price = product.unit_price
            this.formProduct.wholesale_price = product.wholesale_price
            this.formProduct.preferential_price = product.preferential_price
            this.formProduct.compound = (product.compound === 1 || product.compound === true) ? true : false
            this.formProduct.supplies = []
            this.formProduct.check_inventory = (product.check_inventory === 1 || product.check_inventory === true) ? true : false
            this.formProduct.stock = product.stock
            this.formProduct.minimum_stock = product.minimum_stock
            this.formProduct.image = product.image
            this.formProduct.has_return = product.has_return
            
            if (product.has_return || product.has_return == 1) {
                this.formProduct.has_return = true
            } else{
                this.formProduct.has_return = false
            }
            
            if (this.formProduct.compound === true) {
                apiService.getComposition(product.id).then((response) => {
                    this.formProduct.supplies = response.data
                    this.drawer = true
                });
            } else{
                this.drawer = true
            }
        },
        updateProduct() {
            apiService.updateProduct(this.formProduct.id, this.formProduct).then((response) => {
                this.clearForm();
                let index = this.findProduct(response.data);
                this.products.splice(index, 1, response.data);
                this.drawer = false;
                this.$notify({
                    group: 'foo',
                    type: 'success',
                    title: 'ACTUALIZACION DE PRODUCTO',
                    text: 'Producto actualizado de manera exitosa!'
                });
            });
        },
        deleteProduct(product, status) {
            let label = 'Product 1'
            this.$swal({
                    title: "¿Desea confirmar?",
                    text: "Confirma que desea " + status + " el producto: " + product.name,
                    icon: "question",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Confirmar",
                    cancelButtonText: "Cancelar",
                }).then((result) => {
                    if(result.value){
                        if(result.value === true){
                            apiService.inactivateProduct(product.id).then((response) => {
                                let index = this.findProduct(response.data);
                                this.products.splice(index, 1, response.data);                            
                            });
                            this.$notify({
                                group: 'foo',
                                type: 'success',
                                title: 'ESTADO DE PRODUCTO',
                                text: 'El estado del producto se actualizó de manera exitosa!'
                            });
                        }
                    }
                })
        },
        getCurrency(amount) {
            let currency = amount.toLocaleString('en-US', { style: 'currency', currency: 'PEN' });
            currency = currency.replace("PEN", "S/");

            return currency;
        },
        getStadistic(product_id = null){
            ApiProduct.getSummary(product_id).then((response) => {
                this.currentStadistic = response.data
            }).catch( function(error){
                this.$notify({
                    group: 'foo',
                    type: 'error',
                    title: 'ESTADISTICAS DE PRODUCTO',
                    text: 'Ocurrió un error al obtener estadísticas del producto'
                });
            })
        },
        deleteComponent(supply) {
            let indexFounded = -1;
            this.formProduct.supplies.findIndex(function(element, index){
                if(element.product_id === supply.product_id){
                    indexFounded = index
                }
            });
            if (indexFounded > -1) {
                this.formProduct.supplies.splice(indexFounded, 1)
                this.calculateCost()
            }
        },
        calculateCost() {
            let cost = 0.0
            this.formProduct.supplies.map(function(item){
                cost = cost + (item.quantity * item.cost)
            })
            this.formProduct.cost = cost
        },
        findProduct(product) {
            let indexFounded = -1;
            this.products.findIndex(function(element, index){
                if(element.id === product.id){
                    indexFounded = index
                }
            })

            return indexFounded
        },
        verifyPermission(permission) {
            return this.$hasPermision(permission)
        },
        handleDeleteProduct (product) {
            this.$swal({
                    title: "¿Desea confirmar?",
                    text: "Confirma que desea eliminar el producto: " + product.name,
                    icon: "question",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Confirmar",
                    cancelButtonText: "Cancelar",
                }).then(async (result) => {
                    if(result.value){
                        if(result.value === true){
                            await this.delete(product);
                            if (this.response_products == 'error') {
                                this.$notify({
                                    group: 'foo',
                                    type: 'error',
                                    title: 'ELIMINACIÓN DE PRODUCTO',
                                    text: 'Ocurrió un error al eliminar producto'
                                });
                            } else {
                                this.getProducts();
                                this.$notify({
                                    group: 'foo',
                                    type: 'success',
                                    title: 'ELIMINACIÓN DE PRODUCTO',
                                    text: 'El producto fue eliminado de forma correcta'
                                });
                            }
                        }
                    }
                })
        },
        getProducts () {
            apiService.getProducts().then((response) => {
                this.products = response.data;
            });
        }
    },
    created() {
        this.getStadistic();
        this.getProducts();

        apiService.getCategoriesDropdown().then((response) => {
            this.categories = response.data;            
        });

        apiService.getUnitsDropdown().then((response) => {
            this.units = response.data;            
        });

        apiService.getSuppliesDropdown().then((response) => {
            this.suppliesDropdown = response.data;            
        });
    }
}
</script>

<style>

</style>