<template>
    <v-container class="page-login">
        <v-row justify="center">
            <v-col cols="3">
                <template>
                    <v-row justify="center">
                        <v-col cols="12" class="content-logo">
                            <img class="section-logo" src="images/logo-login.png" width="250">
                        </v-col>
                    </v-row>
                </template> 
            </v-col>
        </v-row>
        <v-row justify="center">
            <v-col cols="3" class="pt-0">
                <template>
                    <v-row>
                        <v-col cols="12">
                            <v-text-field
                                label="Usuario"
                                :value="loginUsername"
                                @input="setLoginUsername"
                                filled
                                dense
                                background-color="#ffebef"
                                color="#0047a5"
                                hide-details="auto"
                            ></v-text-field>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col cols="12">
                            <v-text-field
                                label="Contraseña"
                                type="password"
                                :value="loginPassword"
                                @input="setLoginPassword"
                                filled
                                dense
                                background-color="#ffebef"
                                color="#0047a5"
                                hide-details="auto"
                            ></v-text-field>
                        </v-col>
                    </v-row>
                    <v-row justify="center">
                        <v-col cols="12">
                            <v-btn color="#0047a5" block dark @click="login" height="40">
                                <v-icon class="mr-2">fas fa-sign-in-alt</v-icon>
                                Ingresar
                            </v-btn>
                        </v-col>
                    </v-row>
                </template>
            </v-col>
        </v-row>
        
        <v-row justify="center" v-if="loginError">
            <v-col cols="4">
                <v-alert type="error" :value="loginError" dismissible>
                    {{ loginError }}
                </v-alert>
            </v-col>
        </v-row>
        
    </v-container>
</template>

<script>
import {mapState, mapMutations, mapActions} from 'vuex';

import router from '@/router/index';

export default {
    computed: {
        ...mapState('authentication', [
            'loginUsername',
            'loginPassword',
            'loginError',
            'currentUser',
            'action_root'
        ]),
    },
    methods: {
        ...mapMutations('authentication', [
            'setLoginUsername',
            'setLoginPassword',
            'setLoginError'
        ]),
        ...mapActions('authentication', [
            'login'
        ])
    },
    mounted() {
        if (this.action_root !== null) {
            router.push(this.action_root)
        }
    }
    
}
</script>

<style scoped>
.h-100{
    height: 100%;
}

.content-logo{
    margin-top: 30% !important;
}

.section-logo{
    display:block;
    margin:auto;
}
</style>