<template>
    <div>
        <el-row>
            <el-col :span="20">
                <div>
                    <h1 class="negrita title-section">
                        Clientes
                        <el-input placeholder="Buscar cliente" class="crud-input-search">
                            <i slot="prefix" class="el-input__icon crud-icon-search el-icon-search"></i>
                        </el-input>

                        <button class="crud-btn-new"  @click="showCreateCustomer()">
                            <i class="el-icon-plus"></i> Nuevo Cliente
                        </button>
                    </h1>
                </div>
                <div>
                    <span class="crud-label-activos">ACTIVOS</span>
                    <el-table ref="singleTable" :data="customers" style="width: 97%" highlight-current-row :stripe="false"
                    @current-change="handleCurrentChange"
                    class="table-clientes" header-cell-class-name="crud-header-cell" height="500">
                        <el-table-column
                            prop="type"
                            label="Tipo"
                            width="80" class-name="crud-cell">
                        </el-table-column>                        
                        <el-table-column
                            label="Nombre" class-name="crud-cell">
                            <template slot-scope="scope">
                                <span v-if="scope.row.type_document === 'DNI'">{{ scope.row.name + ' ' + scope.row.surname }}</span>
                                <span v-else>{{ scope.row.name }}</span>
                                <span :class="'status-' + scope.row.status.toLowerCase()">{{ scope.row.status }}</span>
                            </template>
                        </el-table-column>
                        <el-table-column
                            label="Rating" class-name="crud-cell" width="90">
                            <template slot-scope="scope">
                                <i :class="'el-icon-star-on rating ' + scope.row.clasification"></i>
                                <span style="margin-left: 10px">{{ scope.row.rating }}</span>
                            </template>                            
                        </el-table-column>
                        <el-table-column
                            prop="type_document"
                            label="T. Documento" class-name="crud-cell" width="140">
                        </el-table-column>
                        <el-table-column
                            prop="document"
                            label="Documento" class-name="crud-cell" width="140">
                        </el-table-column>                        
                        <el-table-column
                            prop="phone"
                            label="Teléfono"
                            width="110" class-name="crud-cell">
                        </el-table-column>
                        <el-table-column
                            label="Crédito"
                            width="135" class-name="crud-cell">
                            <template slot-scope="scope">
                                <span>{{ getCurrency(scope.row.credit_line) }}</span>
                            </template> 
                        </el-table-column>
                        <el-table-column
                            label="Acciones" width="90">
                            <template slot-scope="scope">
                                <a href="#" title="Editar" class="btn-actions btn-edit" @click="editCustomer(scope.row)">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a v-if="scope.row.status === 'Activo'" href="#" title="Inactivar" class="btn-actions btn-delete" @click="deleteCustomer(scope.row)">
                                    <i class="fas fa-minus-circle"></i>
                                </a>
                                <a v-else href="#" title="Activar" class="btn-actions btn-activate" @click="deleteCustomer(scope.row)">
                                    <i class="fas fa-check-circle"></i>
                                </a>
                            </template>
                        </el-table-column>
                        <el-table-column type="expand" width="20">
                            <template slot-scope="props">
                                <div class="sombra">
                                    <div class="detail-customer">
                                        <div>
                                            <div class="detail-list-orders">
                                                <span class="detail-title">Ordenes</span>
                                                <table class="order-detail">
                                                    <tbody>
                                                        <tr v-for="item in props.row.orders" v-bind:key="item.number" @click="getProducts(item.number)">
                                                            <td>{{ item.number }}</td>
                                                            <td> S/ {{ item.amount }}</td>
                                                            <td>{{ item.date }}</td>
                                                            <td><span :class="item.status.toLowerCase()">{{ item.status }}</span></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="detail-customer-data">
                                                <el-card class="detail-card" shadow="never">
                                                    <div slot="header" class="clearfix">
                                                        <div>
                                                            <ul class="detail-card-header">
                                                                <li>
                                                                    <span v-if="props.row.type_document == 'DNI'" class="detail-title-cliente">{{ props.row.name.toUpperCase() + ' ' + props.row.surname.toUpperCase()}}</span>
                                                                    <span v-else class="detail-title-cliente">{{ props.row.name.toUpperCase() }}</span>
                                                                </li>
                                                                <li><span class="detail-id-cliente">#{{ props.row.id }}</span></li>
                                                                <li><span :class="'status-' + props.row.status.toLowerCase() + ' detail-card-status'">{{ props.row.status }}</span></li>
                                                            </ul>                                                            
                                                        </div>                                                        
                                                    </div>
                                                    <div>
                                                        <ul>
                                                            <li>
                                                                <i class="fas fa-address-card"></i><span>{{ props.row.document }}</span>
                                                            </li>
                                                            <li>
                                                                <i class="fas fa-home"></i><span>{{ props.row.address }}</span>
                                                            </li>
                                                            <li>
                                                                <i class="fas fa-phone-square-alt"></i><span>{{ props.row.phone }}</span>
                                                            </li>
                                                            <li>
                                                                <i class="fas fa-envelope"></i><span>{{ props.row.email }}</span>
                                                            </li>
                                                            <hr class="separador">
                                                            <li>
                                                                <strong>Crédito </strong><span>{{ getCurrency(props.row.credit_line) }}</span>
                                                            </li>
                                                            <li>
                                                                <strong>Descuento </strong><span>{{ getCurrency(props.row.discount) }}</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </el-card>
                                            </div>
                                        </div>                                        
                                    </div>                                    
                                </div>                                                          
                            </template>
                        </el-table-column>
                    </el-table>
                    <el-pagination
                        :page-size="10"
                        :pager-count="7"
                        layout="prev, pager, next"
                        :total="100">
                    </el-pagination>
                </div>
            </el-col>
            <el-col :span="4">
                <div class="stadistic-section">
                    <div class="stadistic-title">
                        <span>RESUMEN</span>
                    </div>
                    <div class="stadistic-item">
                        <span class="stadistic stadistic-item-title">Total de pedidos</span>
                        <span v-if="finded" class="stadistic stadistic-item-number">
                            {{ currentStadistic.total_pedidos }}                            
                            <sup :class="'stadistic-badge-sup ' + currentStadistic.result">{{ currentStadistic.number_result }}</sup>
                        </span>

                    </div>
                    <div class="stadistic-item">
                        <span class="stadistic stadistic-item-title">Bidones no devueltos</span>
                        <span v-if="finded" class="stadistic stadistic-item-number">
                            {{ currentStadistic.bidones_no_devueltos }}
                            <sup class="stadistic-badge-sup incremento">+8%</sup>
                        </span>
                    </div>
                    <div class="stadistic-item">
                        <span class="stadistic stadistic-item-title">Saldo a favor</span>
                        <span v-if="finded" class="stadistic stadistic-item-number">
                            {{ currentStadistic.saldo_favor }}
                            <sup class="stadistic-badge-sup decremento">-11%</sup>
                        </span>
                    </div>
                    <div class="stadistic-item">
                        <span class="stadistic stadistic-item-title">Deuda</span>
                        <span v-if="finded" class="stadistic stadistic-item-number">{{ currentStadistic.deuda }}</span>
                    </div>
                    <div class="stadistic-item">
                        <span class="stadistic stadistic-item-title">Pedidos en la semana</span>
                        <span v-if="finded" class="stadistic stadistic-item-number">{{ currentStadistic.pedidos_semana }}</span>
                    </div>
                    <div class="stadistic-item">
                        <span class="stadistic stadistic-item-title">Pedidos en el mes</span>
                        <span v-if="finded" class="stadistic stadistic-item-number">{{ currentStadistic.pedidos_mes }}</span>
                    </div>
                    <div class="stadistic-item">
                        <span class="stadistic stadistic-item-title">Pedidos cancelados</span>
                        <span v-if="finded" class="stadistic stadistic-item-number">{{ currentStadistic.pedidos_cancelados }}</span>
                    </div>
                </div>                
            </el-col>
        </el-row>
        <div>
            <div v-if="drawer" class="slider-close">
                <img src="images/close.png" alt="" width="40px">
            </div>  
            <el-drawer
                title="Registro de nuevo cliente"
                :visible.sync="drawer"
                :direction="direction"
                :withHeader=false
                size="70%"
                custom-class="crud-drawer">                             
                <div class="crud-title-drawer">
                    <div><span>{{ titleForm }}</span></div>
                    <div class="btn-save">                    
                        <el-button type="danger" plain @click="drawer = false">CANCELAR</el-button>
                        <el-button v-if="actionCrud == 'create'" type="primary" @click="addCustomer" >REGISTRAR</el-button>
                        <el-button v-else type="primary" @click="updateCustomer" >ACTUALIZAR</el-button>
                    </div>                
                </div>
                <div class="crud-new-form">                
                    <el-form label-width="100px" label-position="top" :model="formCustomer" :rules="rules" ref="formCustomer" :hide-required-asterisk="true">
                        <div class="form-contact-data">
                            <div class="crud-form-header">
                                Datos de contacto
                            </div>
                            <div v-if="isNatural">
                                <el-row :gutter="10">
                                    <el-col :span="12">
                                        <el-form-item label="Tipo" prop="type">
                                            <el-select v-model="formCustomer.type" style="width: 100%;" @change="handleChangeSelect">
                                                <el-option label="Jurídico" value="Jurídico"></el-option>
                                                <el-option label="Natural" value="Natural"></el-option>
                                            </el-select>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="12">
                                        <el-form-item label="DNI" class="crud-label" prop="document">
                                            <el-input v-model="formCustomer.document" placeholder="DNI"></el-input>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                                <el-row :gutter="10">
                                    <el-col :span="12">
                                        <el-form-item label="Nombres" class="crud-label" prop="name">
                                            <el-input v-model="formCustomer.name" placeholder="Nombres"></el-input>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="12">                                
                                        <el-form-item label="Apellidos" class="crud-label" prop="surname">
                                            <el-input v-model="formCustomer.surname" placeholder="Apellidos"></el-input>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                                <el-row :gutter="10">
                                    <el-col :span="12">
                                        <el-form-item label="Género" prop="gender">
                                            <el-select v-model="formCustomer.gender" placeholder="Seleccione género" style="width: 100%;">
                                                <el-option label="Masculino" value="Masculino"></el-option>
                                                <el-option label="Femenino" value="Femenino"></el-option>
                                            </el-select>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="12">
                                        <el-form-item label="Fecha de nacimiento" class="crud-label" prop="birthdate">
                                            <el-date-picker type="date" placeholder="Fecha de nacimiento" v-model="formCustomer.birthdate" style="width: 100%;"></el-date-picker>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                                <el-row :gutter="10">
                                    <el-col :span="12">
                                        <el-form-item label="Teléfono" class="crud-label" prop="phone">
                                            <el-input v-model="formCustomer.phone" placeholder="Teléfono"></el-input>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="12">                                
                                        <el-form-item label="Email" class="crud-label" prop="email">
                                            <el-input v-model="formCustomer.email" placeholder="Email"></el-input>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                                <el-row :gutter="10">
                                    <el-col :span="12">                                
                                        <el-form-item label="Distrito" prop="district">
                                            <el-select v-model="formCustomer.district" placeholder="Seleccione distrito" style="width: 100%;">
                                                <el-option label="Trujillo" value="Trujillo"></el-option>
                                                <el-option label="El Porvenir" value="El Porvenir"></el-option>
                                            </el-select>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="12">                                
                                        <el-form-item label="Dirección" class="crud-label" prop="address">
                                            <el-input type="textarea" v-model="formCustomer.address" placeholder="Dirección" :rows="3"></el-input>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                            </div>
                            <div v-else>
                                <el-row :gutter="10">
                                    <el-col :span="12">
                                        <el-form-item label="Tipo" prop="type">
                                            <el-select v-model="formCustomer.type" style="width: 100%;" @change="handleChangeSelect" >
                                                <el-option label="Jurídico" value="Jurídico"></el-option>
                                                <el-option label="Natural" value="Natural"></el-option>
                                            </el-select>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="12">
                                        <el-form-item label="RUC" class="crud-label" prop="document">
                                            <el-input v-model="formCustomer.document" placeholder="RUC"></el-input>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                                <el-row :gutter="10">
                                <el-col :span="12">
                                    <el-form-item label="Razon Social" class="crud-label" prop="name">
                                        <el-input v-model="formCustomer.name" placeholder="Rason Social"></el-input>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="12">                                
                                    <el-form-item label="Teléfono" class="crud-label" prop="phone">
                                        <el-input v-model="formCustomer.phone" placeholder="Teléfono"></el-input>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-row :gutter="10">
                                <el-col :span="12">
                                    <el-form-item label="Email" class="crud-label" prop="email">
                                        <el-input v-model="formCustomer.email" placeholder="Email"></el-input>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="12">                                
                                    <el-form-item label="Distrito" prop="district">
                                        <el-select v-model="formCustomer.district" placeholder="Seleccione distrito" style="width: 100%;">
                                            <el-option label="Trujillo" value="Trujillo"></el-option>
                                            <el-option label="El Porvenir" value="El Porvenir"></el-option>
                                        </el-select>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-row :gutter="10">
                                <el-col :span="24">
                                    <el-form-item label="Dirección" class="crud-label" prop="address">
                                        <el-input type="textarea" v-model="formCustomer.address" placeholder="Dirección" :rows="3"></el-input>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            </div>                                     
                        </div>
                        <div class="form-commercial-data">
                            <div class="crud-form-header">
                                Datos comerciales
                            </div>
                            <el-row :gutter="10">
                                <el-col :span="24">
                                    <el-form-item label="Linea de Crédito" class="crud-label" prop="credit_line">
                                        <el-input type="text" v-model="formCustomer.credit_line" placeholder="Linea de Crédito"></el-input>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="24">
                                    <el-form-item label="Descuento" class="crud-label" prop="discount">
                                        <el-input type="text" v-model="formCustomer.discount" placeholder="Descuento"></el-input>
                                    </el-form-item>
                                </el-col>
                            </el-row>                            
                        </div>
                    </el-form>                
                </div>
            </el-drawer>
        </div>        
    </div>
</template>

<script>
import {APIService} from '../APIService';

const apiService = new APIService();

export default {
    data () {
        
        var validateDocumentNumber = (rule, value, callback) => {
            let type_doc = null;
            if (this.formCustomer.type === 'Jurídico') {
                type_doc = 'RUC';
                if (!value) {
                    return callback(new Error('Debe ingresar el número de RUC'));
                }
                if(value.length !== 11) {
                    callback(new Error('El número de RUC debe tener 11 dígitos.'))
                }
            } else if(this.formCustomer.type === 'Natural'){
                type_doc = 'DNI';
                if (!value) {
                    return callback(new Error('Debe ingresar el número de DNI'));
                }
                if(value.length !== 8) {
                    callback(new Error('El número de  DNI debe tener 8 dígitos.'))
                }
            }
            if(value){
                apiService.validateDocument(this.formCustomer).then((response) => {
                    let isValid = response.data.isValid
                    if (!isValid) {
                        callback(new Error('El número de ' + type_doc + ' se encuentra registrado.'))
                    }
                }).catch( function(error){
                    console.log(error.response.data);
                });
            }
            

        };
        var validateName = (rule, value, callback) => {
            if (!value) {
                if(this.formCustomer.type === 'Jurídico') {
                    callback(new Error('Debe ingresar la razón social.'));
                } else if(this.formCustomer.type === 'Natural'){
                    callback(new Error('Debe ingresar el nombre del cliente'));
                }
            }
        };
        var validateSurname = (rule, value, callback) => {
            if(this.formCustomer.type === 'Natural') {
                if (!value){
                    callback(new Error('Debe ingresar los apellidos.'));
                } else{
                        if(!value.length < 3){
                        callback(new Error('Los apellidos deben tener como mínimo 3 caracteres.'));
                    }
                }                
            }
        };
        var validateGender = (rule, value, callback) => {
            if(this.formCustomer.type === 'Natural') {
                if (!value){
                    callback(new Error('Debe seleccionar el género.'));
                }
            }
        };
        var validateBirthdate = (rule, value, callback) => {
            if(this.formCustomer.type === 'Natural') {
                if (!value){
                    callback(new Error('Debe seleccionar la fecha de nacimiento.'));
                }
                let currentDate = Date.now()
                let today = new Date(currentDate)
                if(value > today) {
                    callback(new Error('Fecha de nacimiento no debe ser mayor a fecha actual.'));
                }
            }
        };
        var validateCredit = (rule, value, callback) => {
            if(value){
                if(isNaN(value)){
                    callback(new Error('Linea de crédito debe ser un número.'));
                }
                if(value <= 0){
                    callback(new Error('Linea de crédito debe ser mayor a cero.'));
                }
            }
        };
        var validateDiscount = (rule, value, callback) => {
            if(value){
                if(isNaN(value)){
                    callback(new Error('Descuento debe ser un número.'));
                }
                if(value <= 0){
                    callback(new Error('Linea de crédito debe ser mayor a cero.'));
                }
            }
        }
        return {
            isNatural: true,
            drawer: false,
            direction: 'rtl',
            titleForm: 'Registro de nuevo cliente',
            actionCrud: 'create',
            formCustomer: {
                id: null,
                type: 'Natural',
                document: null,
                name: null,
                surname: null,
                gender: null,
                birthdate: null,
                phone: null,
                email: null,
                district: null,
                address: null,
                credit_line: null,
                discount: null
            },
            rules: {
                document: [
                    {validator: validateDocumentNumber, trigger: 'blur'}
                ],
                name: [
                    {validator: validateName, trigger: 'blur'}
                ],
                surname: [
                    {validator: validateSurname, trigger: 'blur'}
                ],
                gender: [
                    {validator: validateGender, trigger: 'change'}
                ],
                birthdate: [
                    {validator: validateBirthdate, trigger: 'blur'}
                ],
                phone: [
                    {required: true, message: 'Debe ingresar el número de teléfono', trigger: 'blur'},
                ],
                credit_line: [
                    {validator: validateCredit, trigger: 'blur'}
                ],
                discount: [
                    {validator: validateDiscount, trigger: 'blur'}
                ]
            },
            customers: [{
                    id: 100001,
                    type: 'Jurídico',
                    name: 'Elbin Flores',
                    type_document: 'RUC',
                    document: '12345678901',
                    address: 'Pj 20 de setiembre #214',
                    phone: '987300897',
                    email: 'elbingr@gmail.com',
                    credit_line: 200,
                    discount: 10,
                    rating: 10,
                    clasification: 'gold',
                    status: 'Activo',
                    orders: [
                        {
                            number: '#00100',
                            amount: 120.00,
                            date: '09/12/2019',
                            status: 'Registrado'
                        },
                        {
                            number: '#00099',
                            amount: 100.00,
                            date: '08/12/2019',
                            status: 'Pagado'
                        },
                        {
                            number: '#00098',
                            amount: 80.00,
                            date: '07/12/2019',
                            status: 'Entregado'
                        },
                        {
                            number: '#00100',
                            amount: 120.00,
                            date: '09/12/2019',
                            status: 'Registrado'
                        },
                        {
                            number: '#00099',
                            amount: 100.00,
                            date: '08/12/2019',
                            status: 'Pagado'
                        },
                        {
                            number: '#00098',
                            amount: 80.00,
                            date: '07/12/2019',
                            status: 'Entregado'
                        }
                    ]
                }
            ],
            currentRow: null,
            currentStadistic: null,
            finded: false,
            viewProduct: false,
            titleProducts: '',
            products: []
        }        
    },   
    methods: {  
        setCurrent(row) {
            this.$refs.singleTable.setCurrentRow(row);
        },
        handleCurrentChange(val) {
            this.currentRow = val;
            this.finded = true;
            this.currentStadistic = this.getStadistic(this.currentRow.id);
        },
        getCustomers(){
            apiService.getCustomers().then((data) => {
                this.customers = data.data;
            });
        },
        clearForm(){
            if(this.$refs.formCustomer){
                this.$refs.formCustomer.resetFields();
            }
            this.formCustomer.id = null;
            this.formCustomer.type = 'Natural';
            this.formCustomer.document = null;
            this.formCustomer.name = null;
            this.formCustomer.surname = null;
            this.formCustomer.gender = null;
            this.formCustomer.birthdate = null;
            this.formCustomer.phone = null;
            this.formCustomer.email = null;
            this.formCustomer.district = null;
            this.formCustomer.address = null;
            this.formCustomer.credit_line = null;
            this.formCustomer.discount = null;
        },
        showCreateCustomer() {
            this.clearForm();
            this.titleForm = 'Registro de nuevo cliente';
            this.actionCrud = 'create';
            this.isNatural = true;
            this.drawer = true;
        },
        addCustomer: function (e) {
            e.preventDefault();
            apiService.createCustomer(this.formCustomer).then((response) => {                
                this.customers.push(response.data);                
                this.clearForm();
                this.$notify({
                    title: 'Correcto',
                    message: 'Cliente registrado con éxito.',
                    type: 'success'
                });
                this.drawer = false;
            }).catch( function(error){
                console.log(error.response.data);
            });
            
        },
        editCustomer(customer) {
            this.clearForm();
            this.setIsNatural(customer.type);
            this.titleForm = 'Datos de cliente';
            this.actionCrud = 'edit';
            this.formCustomer.id = customer.id;
            this.formCustomer.type = customer.type;
            this.formCustomer.document = customer.document;
            this.formCustomer.name = customer.name;
            this.formCustomer.surname = customer.surname;
            this.formCustomer.gender = customer.gender;
            this.formCustomer.birthdate = customer.birthdate;
            this.formCustomer.phone = customer.phone;
            this.formCustomer.email = customer.email;
            this.formCustomer.district = customer.district;
            this.formCustomer.address = customer.address;
            this.formCustomer.credit_line = customer.credit_line;
            this.formCustomer.discount = customer.discount;

            this.drawer = true;
        },
        updateCustomer() {
            apiService.updateCustomer(this.formCustomer.id, this.formCustomer).then((response) => {
                this.clearForm();
                let index = this.findCustomer(response.data.id);
                this.customers.splice(index, 1, response.data);
                this.$notify({
                    title: 'Correcto',
                    message: 'Cliente actualizado con éxito.',
                    type: 'success'
                });
            });
            this.drawer = false;
        },
        deleteCustomer(customer) {
            let name = customer.name;
            if(customer.type_document == 'DNI' ){
                name = customer.name + ' ' + customer.surname;
            }
            this.$confirm('¿Desea eliminar al cliente ' + name + '?', 'Confirmación', {
                confirmButtonText: 'Aceptar',
                cancelButtonText: 'Cancelar',
                type: 'warning'
            }).then(() => {
                apiService.changeStatusCustomer(customer.id).then((response) => {
                    let index = this.findCustomer(response.data.id);
                    this.customers.splice(index, 1, response.data);
                    this.$notify({
                        title: 'Correcto',
                        message: 'el cambio de estado fue correcto.',
                        type: 'success'
                    });
                });
            })
        },
        getProducts: function(orderNumber){
            this.viewProduct = true;
            this.titleProducts = 'Productos en orden ' + orderNumber;
        },
        handleChangeSelect: function(value){
            
            if(this.$refs.formCustomer){
                this.$refs.formCustomer.clearValidate();
            }
            this.isNatural = true;
            if(value == 'Jurídico'){
                this.isNatural = false;
            }
        },
        setIsNatural(type) {
            this.isNatural = true;
            if(type == 'Jurídico'){
                this.isNatural = false;
            }
        },
        findCustomer(id) {
            let indexFounded = -1;
            this.customers.findIndex(function(element, index){
                if(element.id === id){
                    indexFounded = index;
                }
            });
            return indexFounded;
        },
        getStadistic(id){
            let stadistic = {
                customer_id : 1,
                total_pedidos: Math.floor(Math.random() * 100),
                bidones_no_devueltos: Math.floor(Math.random() * 100),
                saldo_favor: Math.floor(Math.random() * 100),
                deuda: Math.floor(Math.random() * 100),
                pedidos_semana: 10,
                pedidos_mes: Math.floor(Math.random() * 100),
                pedidos_cancelados: 8,
                ranking: 5,
                result: 'incremento',
                number_result: '+10%'
            }
            return stadistic;
        },
        getCurrency(amount) {
            let currency = amount.toLocaleString('en-US', { style: 'currency', currency: 'PEN' });
            currency = currency.replace("PEN", "S/");

            return currency;
        }
    },
    mounted() {
        apiService.getCustomers().then((response) => {
            this.customers = null;
            this.customers = response.data;            
        });
    },
}
</script>

<style>
  .el-col {
    border-radius: 4px;
  }
.bg-purple {
    background: #d3dce6;
  }
</style>