<template>
    <el-row>
        <el-col :span="20">
            <span class="text-white">Primera seccion</span>
        </el-col>
        <el-col :span="4">
            <div class="section-user">
                <el-dropdown>
                    <span class="el-dropdown-link">
                        <i class="el-icon-user-solid"></i>
                        Account
                    </span>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item>Perfil</el-dropdown-item>
                        <el-dropdown-item>Salir</el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
            </div>
        </el-col>
    </el-row>
</template>

<script>
export default {
    
}
</script>

<style>

</style>