<template>
    <el-menu :collapse="true" default-active="2" :router="true">
        <el-menu-item index="1">
            <i class="fas fa-chart-bar"></i>
            <span slot="title">Dashboard</span>
        </el-menu-item>
        <el-menu-item index="/customers">
            <i class="fas fa-user-tag"></i>
            <span slot="title">Clientes</span>
        </el-menu-item>
        <el-menu-item index="/products">
            <i class="fas fa-archive"></i>
            <span slot="title">Productos</span>
        </el-menu-item>
        <el-menu-item index="/unidades-moviles">
            <i class="fas fa-truck"></i>
            <span slot="title">Unidades moviles</span>
        </el-menu-item>
    </el-menu>
</template>

<script>
export default {
    
}
</script>

<style>
.el-menu{
    min-height: 100vh;    
}

li.el-menu-item > div > i{
    /*color: #5C73F2 !important;*/
    font-size: 1.2em !important;
}

.el-menu-item.is-active {
    color: #5C73F2;
}
</style>