<template>
  <v-dialog
      v-model="dialog"
      width="500"
      persistent
  >
    <v-card>
      <v-card-title class="text-h5 grey lighten-2">
        Nueva Zona
      </v-card-title>
      <v-container fluid>
        <v-card-text>
          <v-text-field v-model="form.nombre" label="Nombre" clearable></v-text-field>
          <v-textarea rows="2" v-model="form.descripcion" label="Descripcion" clearable></v-textarea>
          <v-textarea rows="2" v-model="form.referencia" label="Referencia" clearable></v-textarea>
        </v-card-text>
      </v-container>
      <v-divider></v-divider>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
            color="primary"
            text
            @click="close"
        >
          Cancelar
        </v-btn>
        <v-btn
            color="primary"
            text
            @click="registrarZona"
        >
          Aceptar
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import ModuloPreventa from "../../../../apis/ModuloPreventa";

export default {
  name: "AddZona",
  props: ['insertarZonaRegistrada'],
  data() {
    return {
      dialog: false,
      form: {
        descripcion: null,
        nombre: null,
        referencia: null
      }
    }
  },
  methods: {
    show() {
      this.dialog = true
    },
    limpiarData() {
      this.form = {
        descripcion: null,
        nombre: null,
        referencia: null
      }
    },
    registrarZona() {
      ModuloPreventa.zona.store(this.form)
          .then((data, status) => {
            this.$notify({
              group: 'foo',
              type: 'success',
              title: 'ESTADO DE ZONA',
              text: 'Se registro una zona.!'
            });
            this.insertarZonaRegistrada(data.data)
            this.close()
          })
      .catch(error=>{
          const{data}=error.response
        this.$notify({
          group: 'foo',
          type: 'error',
          title: 'ESTADO DE ZONA',
          text: 'error al registrar .!<br>'+data.error.sqlMessage

        });
      })
    },
    close() {
      this.dialog = false
      this.limpiarData()
    }
  }
}
</script>

<style scoped>

</style>