<template>
  <v-dialog
      v-model="dialog"
      width="500"
      persistent
  >
    <v-card>
      <v-card-title class="text-h5 grey lighten-2">
        Actualizar Zona
      </v-card-title>
      <v-container fluid>
        <v-card-text>
          <v-text-field v-model="nombre" label="Nombre" clearable></v-text-field>
          <v-textarea rows="2" v-model="descripcion" label="Descripcion" clearable></v-textarea>
          <v-textarea rows="2" v-model="referencia" label="Referencia" clearable></v-textarea>
        </v-card-text>
      </v-container>
      <v-divider></v-divider>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
            color="primary"
            text
            @click="close"
        > Cancelar
        </v-btn>
        <v-btn
            color="primary"
            text
            @click="actualizarZona"
        > Aceptar
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import ModuloPreventa from "../../../../apis/ModuloPreventa";

export default {
  name: "EditZona",
  props:['updateZonas'],
  data() {
    return {
      dialog: false,
      nombre:null,
      descripcion:null,
      referencia:null,
      id:null
    }
  },
  methods: {
    show(zona) {
      this.dialog = true
      this.nombre=zona.nombre
      this.descripcion=zona.descripcion
      this.referencia=zona.referencia
      this.id=zona.id
    },
    limpiarData() {
      this.nombre=null
      this.descripcion=null
      this.referencia=null
      this.id=null
    },
   async actualizarZona() {
      let form={
        id:this.id,
        nombre:this.nombre,
        descripcion:this.descripcion,
        referencia:this.referencia
      }
     // console.log(form)
     await ModuloPreventa.zona.update(form)
          .then((data, status) => {
            this.updateZonas()
            this.close()
          })
    },
    close() {
      this.dialog = false
      this.limpiarData()
    }
  }
}
</script>

<style scoped>

</style>