<template>
    <v-container app :fluid="true" class="padding-top-0">
      <v-row>
        <v-col cols="6" class="padding-top-0">
          <Card :cliente="clienteSeleccionado"
                :list-clientes="listClientes"
                :handle-seleccionar-cliente="handleSeleccionarCliente"
                :selected-products="selectedProducts"
                :delete-product="deleteProduct"
                :update-product-list="updateProductList"
                :insertar-nuevo-cliente-list="insertarNuevoClienteList"
                :handle-modal-update-cantidad="handleModalUpdateCantidad"
                :limpiar-card-preventa="limpiarCardPreventa"
          ></Card>
        </v-col>
        <v-col cols="6" class="padding-top-0">
          <v-container fluid>
            <v-row>
              <v-col cols="12" class="padding-top-0">
                <SearchProducts :type_view="handleTypeView"
                                :search="search"
                                :handle-search-producto="handleSearchProducto">
                </SearchProducts>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" class="padding-top-0 padding-bootom-0">
                <Products :handle-select-product="handleSelectProduct"
                          :type_view="type_view"
                          :available-products="filterProducts"
                          :verify-permission="verifyPermission"
                ></Products>
              </v-col>
            </v-row>
          </v-container>
        </v-col>
      </v-row>
      <UpdateQuantity ref="addQuantity"
                    :product="productoSeleccionado"
                    :customer="clienteSeleccionado"
                    :actualizar-cantidad="actualizarCantidad"
                    :modal-update-cantidad="modalUpdateCantidad"
                    :update-product-list-selected="updateProductListSelected"
                      :handle-modal-update-cantidad="handleModalUpdateCantidad"
      ></UpdateQuantity>
      <AddProductoSeleccionado ref="productoSeleccionado"
                               :product="productoSeleccionado"
                               :customer="clienteSeleccionado"
                               :actualizar-cantidad="actualizarCantidad"
                               :insert-list-producto-selected="insertListProductoSelected"
      :loading="loading"></AddProductoSeleccionado>
    </v-container>
</template>
<script>

import ApiCustomer from '../../apis/Customer'
import {APIService} from '@/APIService';
import UpdateQuantity from './components/UpdateQuantity';
import Card from "./components/Card";
import Products from "./components/Products";
import SearchProducts from "./components/SearchProducts";
import apiPreventa from '../../apis/Preventa'
import OPERACIONES_COMUNES from "../../operaciones/operaciones_comunes";
import PulseLoader from 'vue-spinner/src/PulseLoader.vue'
import AddProductoSeleccionado from "./components/AddProductoSeleccionado";
const apiService = new APIService();
export default {
  name: 'Preventas',
  components: {
    AddProductoSeleccionado,
    SearchProducts,
    Card,
    UpdateQuantity,
    Products,
   // PulseLoader
  },
  data() {
    return {
      listClientes: [],
      listProductos: [],
      clienteSeleccionado: null | {},
      productoSeleccionado: null | {
        base_price: 0,
        discount_amount: 0,
        discount_group: false,
        discount_item: 0,
        discount_type: null,
        discount_value: 0,
        has_return: 0,
        id: "",
        is_bonus: false,
        name: "",
        preferential_price: 0,
        price: 0,
        quantity: 0,
        set_discount_customer: false,
        type_product: "",
        type_sale: "",
        unit_price: 0,
        wholesale_price: 0
      },
      search: '',
      type_view: '',
      availableProducts: [],
      filterProducts: [],
      selectedProducts: [],
      loading:false,
      modalUpdateCantidad:false

    }
  },
  created() {
    this.getClientes()
    this.getCatalogo()
  },
  watch: {
    search() {
      if (this.search.length > 0) {
        this.filterProducts = this.availableProducts.filter(element => {
          return element.name.toLowerCase().indexOf(this.search.toLowerCase()) > -1
        })
      } else {
        this.filterProducts = this.availableProducts
      }
    }
  },
  methods: {
    limpiarCardPreventa(){
      this.productoSeleccionado=null|{}
      this.clienteSeleccionado=null|{}
      this.selectedProducts=[]
      this.search= ''
          this.type_view= 0

    },
    updateProductListSelected(){
      let product=this.productoSeleccionado
      let auxSelectedProducts=this.selectedProducts
      let indexProduct=OPERACIONES_COMUNES.findIndexFromItem(auxSelectedProducts,product.id)
      auxSelectedProducts.splice(indexProduct,1,product)
      this.selectedProducts=auxSelectedProducts
      //this.productoSeleccionado=null||{}
      this.modalUpdateCantidad=false
    },
    handleModalUpdateCantidad(estado,producto){
      this.productoSeleccionado=producto
      this.modalUpdateCantidad=estado
    },
    insertarNuevoClienteList(cliente){
      this.clienteSeleccionado={}
      this.listClientes.push(cliente)
    },
    insertListProductoSelected(product) {
      this.selectedProducts.push(product)
      this.productoSeleccionado=null||{}
    },
    updateProductList(index,product){
      let auxProduct=this.selectedProducts
      this.selectedProducts=[]
      auxProduct[index]=product
      this.selectedProducts=auxProduct
      //this.selectedProducts.splice(index,1,product)
      //console.log(auxProduct)
      //this.selectedProducts.splice(index,1,product)
    },
    actualizarCantidad(quantity, price, unit_price) {
      //console.log('actualizando cantidad',{quantity,price,unit_price})
      this.productoSeleccionado.quantity = parseInt(quantity)
      this.productoSeleccionado.price = price
      this.productoSeleccionado.base_price = unit_price
      //reiniciamos precios de cliente seleccioando
      this.clienteSeleccionado.price=null
     // console.log('actualizando cantidad',this.productoSeleccionado)
    },
    handleTypeView(event) {
      this.type_view = event
    },
    deleteProduct(product) {
      let indexProduct=OPERACIONES_COMUNES.findIndexFromItem(this.selectedProducts,product.id)
      this.selectedProducts.splice(indexProduct,1)
    },
    handleClickSettingItem(item) {
     //quitando la configuracion
    },
    verifyPermission(permission) {
      return this.$hasPermision(permission)
    },
    handleSelectProduct(product) {
      //console.log(product)
      this.loading=true
      this.productoSeleccionado = {
        ...product,
        discount_amount: 0,
        discount_group: false,
        discount_item: 0,
        discount_type: null,
        discount_value: 0,
        is_bonus: false,
        set_discount_customer: false,
        type_product: "producto",
        type_sale: "recarga",
      }
      const encontrarProducto=OPERACIONES_COMUNES.findIndexFromItem(this.selectedProducts,product.id)
      if (encontrarProducto==-1) {
        let data_id = this.productoSeleccionado.id.split('-');
        let producto_id = data_id[1];
        if (this.clienteSeleccionado.id) {
          let customer_id = this.clienteSeleccionado.id
          apiPreventa.getPriceCustomerProduct(producto_id, customer_id)
              .then(({data, status}) => {
                // console.log(data, status)
                if (status) {
                  //console.log(data)
                  let aux = this.clienteSeleccionado
                  this.clienteSeleccionado = {...aux, price: data}
                  //this.$refs.addQuantity.show()
                  this.$refs.productoSeleccionado.show()
                  this.loading = false
                }
              })
              .catch(error => {
                this.clienteSeleccionado = null || {}
                this.loading = false
                console.log(error)
                //console.log(error)
              })
        } else {
          this.productoSeleccionado = null || {}
          this.$notify({
            group: 'foo',
            type: 'error',
            title: 'RESULTADO DE INGRESO DE PEDIDO',
            text: 'Debe seleccionar un cliente'
          });
        }
      }else{
        this.productoSeleccionado = null || {}
        this.loading=false
        this.$notify({
          group: 'foo',
          type: 'error',
          title: 'RESULTADO DE INGRESO DE PEDIDO',
          text: 'El Producto ya ha sido seleccionado'
        });
      }

    },
    handleSearchProducto(event) {
      this.search = event
    },
    getCatalogo() {
      apiService.getCatalogue()
          .then(({data}) => {
            //console.log(data)
            this.availableProducts = data
            this.filterProducts = data
          }).catch(error => {
        //console.log(error)
      })
    },
    handleSeleccionarCliente(cliente) {
      //console.log('clienten seleccionado',cliente)
      if (cliente == undefined) {
        this.selectedProducts = []
        this.clienteSeleccionado = null||{}
        this.productoSeleccionado = {}
      } else {
        this.clienteSeleccionado = cliente
      }

    },
    getClientes() {
      ApiCustomer.get_all()
          .then(({data}) => {
            this.listClientes = data
          })
          .catch(error => {
            console.log(error)
          })

    },
  }
}
</script>

<style>

</style>