<template>
    <v-navigation-drawer
        v-model="drawer"          
        width="500"
        app
        temporary
        right
        class="wost-drawer"
    >
        <div class="form-head">
            Configurar Notificaciones
        </div>
        <div class="pl-3 pt-3 pr-3">
            <v-card>
                <v-card-text>
                    <v-container>
                        <v-row>
                            <v-col cols="7">
                                <span>Clientes que no estan comprando</span>
                            </v-col>
                            <v-col cols="5">
                                <v-text-field
                                    v-model="form.customers_days"
                                    label="Días de evaluación"
                                    dense
                                    hide-details
                                    type="number"
                                ></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="7">
                                <span>Deudas por vencer</span>
                            </v-col>
                            <v-col cols="5">
                                <v-text-field
                                    v-model="form.debts_days"
                                    label="Días de anticipación"
                                    dense
                                    hide-details
                                    type="number"
                                ></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="7">
                                <span>Activos prestados</span>
                            </v-col>
                            <v-col cols="5">
                                <v-text-field
                                    v-model="form.borrowed_days"
                                    label="Días de evaluación"
                                    dense
                                    hide-details
                                    type="number"
                                ></v-text-field>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-card-text>
            </v-card>
        </div>

        <div class="mt-3 mr-3" style="text-align: right;">
            <v-btn @click="handleCancel">
                Cancelar
            </v-btn>
            <v-btn class="ml-3" dark color="primary" @click="handleStore">
                Guardar
            </v-btn>
        </div>
    </v-navigation-drawer>
</template>

<script>
import {mapActions, mapState} from 'vuex';

export default {
    name: 'Configure',
    data () {
        return {
            drawer: false,
            form: {
                customers_days: null,
                debts_days: null,
                borrowed_days: null
            }
        }
    },
    computed: {
        ...mapState('notifications', [
            'types_notifications'
        ])
    },
    methods: {
        ...mapActions('notifications', [
            'storeTypesNotifications'
        ]),
        show () {
            this.setValues();
            this.drawer = !this.drawer;
        },
        setValues() {
            if (this.types_notifications) {
                let items = Object.assign({}, this.types_notifications);
                this.form.customers_days = items.customers_days;
                this.form.debts_days = items.debts_days;
                this.form.borrowed_days = items.borrowed_days;
            }
        },
        handleCancel () {
            this.drawer = false;
        },
        async handleStore () {
            this.drawer = false;
            await this.storeTypesNotifications(this.form);
            this.$notify({
                group: 'foo',
                type: 'success',
                title: 'REGISTRO DE ACTIVO',
                text: 'Configuración registrada de forma correcta.!'
            });
        }
    }
}
</script>

<style scoped>

</style>