<template>
    <div>
        <v-list>
            <v-list-item v-for="item in notifications" :key="item.id"
                style="min-height: 40px;"
                class="notification-item pl-2">
                <v-list-item-avatar class="mr-2">
                    <v-icon size="18" color="red" v-if="item.type_notification_id == 1">
                        fas fa-shopping-cart
                    </v-icon>
                    <v-icon size="18" color="amber" v-if="item.type_notification_id == 2">
                        fas fa-money-bill-alt
                    </v-icon>
                    <v-icon size="18" color="blue" v-if="item.type_notification_id == 3">
                        fas fa-tint-slash
                    </v-icon>
                    <v-icon size="18" color="green" v-if="item.type_notification_id == 4">
                        fas fa-recycle
                    </v-icon>
                </v-list-item-avatar>

                <v-list-item-content class="pt-1 pb-1">
                    <v-list-item-subtitle class="notification-item-subtitle">
                        {{ item.messages }}
                    </v-list-item-subtitle>
                </v-list-item-content>
            </v-list-item>
        </v-list>
    </div>
    
</template>

<script>

import {mapState} from 'vuex';

export default {
    name: 'Notifications',
    computed: {
        ...mapState('notifications', [
            'notifications'
        ])
    }
}
</script>

<style scoped>
.list-notifications{
    max-height: 25vh;
    width: 300px !important;
}

.notification-item{
    border-bottom: 1px solid #e0e0e0;
}

.notification-item-subtitle{
    white-space: inherit !important;
    font-size: .8rem !important;
}

.rounded-circle {
    border-radius: 50%!important;
}

.bg-primary {
    background-color: #44a2d2!important;
}

.font-size-16 {
    font-size: 16px!important;
}

.notification-avatar {
    padding: 8px;
    font-size: 16px!important;
}
</style>