<template>
  <div>
    <v-card class="mb-3">
      <v-card-title dark class="head-cart">
        Nuevo pedido
        <v-spacer></v-spacer>
      </v-card-title>
      <v-card-text class="pt-0 pb-0">
        <v-container class="pt-0 pb-1">
          <v-row>
            <v-col cols="4">
              <Datepicker :obtener-fecha="obtenerFecha" :limpiar-datepicker="limpiarDatepicker"></Datepicker>
            </v-col>
            <v-col cols="8">
              <v-autocomplete
                  ref="autocompletado"
                  dense
                  outlined
                  clearable
                  v-model="clienteSearch"
                  :items="listClientes"
                  label="Buscar Cliente"
                  @change="handleSeleccionarCliente"
                  persistent-hint
                  :filter="customFilter"
                  hide-details
              >
                <template v-slot:append-outer>
                  <v-btn x-small dark color="green darken-2" height="30"
                         @click="$refs.ComponentCliente.showForm('Registro de nuevo cliente', 'create')">
                    <v-icon size="12" dark>fas fa-plus</v-icon>
                  </v-btn>
                </template>
                <template v-slot:item="data">
                  <v-list-item-content>
                    <v-list-item-title v-if="data.item.type_document === 'DNI' ">
                      <span>{{ data.item.name }} </span>
                      <span v-if="data.item.surname">{{ data.item.surname }}</span>
                    </v-list-item-title>
                    <v-list-item-title v-else>{{ data.item.name }}</v-list-item-title>
                    <v-list-item-subtitle>{{ data.item.type_document }}: {{ data.item.document }}</v-list-item-subtitle>
                  </v-list-item-content>
                </template>
                <template v-slot:selection="data">
                  {{ data.item.name }}
                </template>
              </v-autocomplete>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12">
              <v-textarea v-if="cliente.address"
                          outlined
                          name="input-7-4"
                          label="Direccion"
                          readonly
                          :value="cliente.address">
              </v-textarea>
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-text class="list-products-in-cart padding-top-0">
        <v-list-item v-for="(item,i) in selectedProducts" :key="i" class="cart-item-product" three-line flat>
          <template>
            <v-list-item-content>
              <v-list-item-title class="product-name" @click="handleClickPrecios(item)">
                <v-icon v-if="item.is_bonus"
                        color="amber" size="18" class="mr-1">
                  fas fa-gift
                </v-icon>
                <span class="subtitle-2">{{ item.name }}</span>
              </v-list-item-title>
              <v-list-item-subtitle>
              <span>
                  P. Unitario: <b>{{ item.base_price | currency('S/') }}</b>
              </span>
              </v-list-item-subtitle>
              <v-list-item-subtitle v-if="item.discount_value > 0">
                <span>P. Total: </span>
                <span class="label-price-discounted">
                  {{ item.base_price * item.quantity | currency('S/') }}
              </span>
                <span class="ml-2">
                  {{ item.price | currency('S/') }}
              </span>
              </v-list-item-subtitle>
              <v-list-item-subtitle v-else>
            <span>
                P. Total: <b>{{ item.price | currency('S/') }}</b>
            </span>
              </v-list-item-subtitle>
            </v-list-item-content>
            <v-list-item-action class="btn-quantity">
            <span class="ml-4 mr-4 pb-1 product-quantity " style="cursor: pointer"
                  @click="actualizarCantidadSelected(item)">
                {{ item.quantity }}
            </span>
              <v-btn x-small outlined @click="deleteProduct(item)"
                     dark color="error" :elevation="4" height="28">
                <v-icon size="16" dark>fas fa-times</v-icon>
              </v-btn>
            </v-list-item-action>
          </template>
        </v-list-item>
      </v-card-text>
    </v-card>
    <v-btn
        block
        dark
        color="green darken-1"
        height="45"
        @click="handleCreateOrder"
    >
      Ingresar pedido
    </v-btn>
    <v-row>
      <v-col cols="12" class="padding-top-0 padding-bottom-0 cart-summary">
        <span v-if="subtotal > 0" class="cart-amount-subtotal">{{ subtotal | currency('S/ ') }}</span>
        <span v-if="amount_igv > 0" class="cart-amount-igv">IGV: {{ amount_igv | currency('S/ ') }}</span>
        <span v-if="totalQuantity > 0" class="cart-total-quantity">({{ totalQuantity }}) </span>
        <span v-if="total > 0" class="cart-subtotal">{{ total | currency('S/ ') }}</span>
      </v-col>
    </v-row>
    <PreciosDescuentos ref="preciosDescuentos"
                       :selected-products="selectedProducts"
                       :update-product-list="handleUpdateProductList"
                       :limpiar-formulario="limpiarformulario"
                       :product-precio="productPrecio">
    </PreciosDescuentos>
    <CrearCliente ref="ComponentCliente"
                  :insertar-nuevo-cliente-list="insertarNuevoClienteList"
                  :seleccionar-cliente="newSelectCliente"></CrearCliente>
  </div>
</template>

<script>
import Datepicker from "./Datepicker";
import moment from "moment";
import OPERACIONES_COMUNES from "../../../operaciones/operaciones_comunes";
import {APIService} from "../../../APIService";
import PreciosDescuentos from "./PreciosDescuentos";
import CrearCliente from "./CrearCliente";
import UpdateQuantity from "./UpdateQuantity";

const apiService = new APIService()
export default {
  name: "Card",
  components: {CrearCliente, PreciosDescuentos, Datepicker},
  props: [
    'cliente',
    'listClientes',
    'handleSeleccionarCliente',
    'selectedProducts',
    'obtenerEntryTime',
    'deleteProduct',
    'updateProductList',
    'insertarNuevoClienteList',
    'handleModalUpdateCantidad',
    'limpiarCardPreventa'
  ],
  data() {
    return {

      entry_time: moment().format('YYYY-MM-DD'),

      totalQuantity: 0,
      cart_amounts: {} || null,
      subtotal: 0,
      amount_igv: 0,
      total_bonus: 0,
      total: 0,
      clienteSearch: null,
      limpiarformulario: false,
      productPrecio: {},
      limpiarDatepicker:false

    }
  },
  watch: {
    selectedProducts() {
      // console.log(this.selectedProducts)
      this.calcularMontos()
    }
  },
  methods: {
    handleUpdateProductList(index, product) {
      this.limpiarformulario = true
      console.log(index, product)
      this.updateProductList(index, product)
    },
    actualizarCantidadSelected(producto) {
      this.handleModalUpdateCantidad(true, producto)
    },
    newSelectCliente(cliente) {
      this.clienteSearch = cliente
      this.handleSeleccionarCliente(cliente)
    },
    calcularMontos() {
      this.totalQuantity = OPERACIONES_COMUNES.contabilizarProductosEnCarro(this.selectedProducts)
      this.cart_amounts = OPERACIONES_COMUNES.calculatCartAmounts(this.selectedProducts)
      this.subtotal = OPERACIONES_COMUNES.calculateSubTotal(this.cart_amounts.subtotal, 0.18)
      this.amount_igv = this.cart_amounts.subtotal - this.subtotal
      this.total = this.subtotal + this.amount_igv
    },
    handleCreateOrder() {
      this.processing = true;
      let validate = this.validateData()
      if (validate.error) {
        this.processing = false;
        this.$notify({
          group: 'foo',
          type: 'error',
          title: 'RESULTADO DE INGRESO DE PEDIDO',
          text: validate.message
        })
      } else {
        let order = {
          customer: this.cliente,
          products: this.selectedProducts,
          subtotal: this.subtotal,
          amount_igv: this.amount_igv,
          total: this.total,
          entry_time: this.entry_time,
          total_gratuitas: this.total_bonus,
          order_address: this.order_address
        }
        //console.log(order)
        apiService.createOrder(order).then((response) => {
          this.processing = false;
          this.$notify({
            group: 'foo',
            type: 'success',
            title: 'RESULTADO DE INGRESO DE PEDIDO',
            text: 'El pedido se registró de manera exitosa!'
          })
          this.limpiarData()
        })

      }
    },
    limpiarData() {
          this.entry_time = moment().format('YYYY-MM-DD'),
          this.totalQuantity = 0,
          this.cart_amounts = {} || null,
          this.subtotal = 0,
          this.amount_igv = 0,
          this.total_bonus = 0,
          this.total = 0,
          this.clienteSearch = null,
          this.limpiarformulario = false,
          this.productPrecio = {}
      this.limpiarDatepicker=true
      this.processing = false
      this.limpiarCardPreventa()
      this.limpiarDatepicker=false
    },
    customFilter(item, queryText, itemText) {
      //console.log(this.$refs.autocompletado)
      //console.log(item)
      let textName = '';
      if (item.name) {
        textName = item.name.toLowerCase();
        if (item.surname) {
          textName += item.surname.toLowerCase();
        }
      }

      let textDocument = '';
      if (item.document) {
        textDocument = item.document.toLowerCase();
      }

      let searchText = queryText.toLowerCase()

      return textName.indexOf(searchText) > -1 || textDocument.indexOf(searchText) > -1
    },
    validateData() {
      let error = false
      let message = ""
      if (this.entry_time == null || this.entry_time == '' || this.entry_time == undefined) {
        error = true
        message = "Debe ingresar la fecha"
      }

      if (this.cliente == null) {
        error = true
        message = "Debe seleccionar el cliente."
      }
      if (this.selectedProducts.length <= 0) {
        error = true
        message = "Debe seleccionar al menos un producto."
      }

      return {
        error,
        message
      }
    },
    obtenerFecha(fecha) {
      this.entry_time = fecha
    },
    handleClickPrecios(producto) {
      this.limpiarformulario = false
      this.$refs.preciosDescuentos.showForm('PRECIOS Y DESCUENTOS', producto)
    }

  }
}
</script>

<style scoped>

</style>