<template>
  <v-navigation-drawer
      v-model="drawer"
      width="850"
      app
      temporary
      right
      class="wost-drawer"
  >
    <div class="form-head">
      {{ titleForm }}
    </div>
    <div class="wrapper-form-crud overflow-y-auto">
      <v-form>
        <v-container :fluid="true" class="pt-0 pb-0">
          <v-row>
            <v-col cols="12">
              <v-card>
                <v-card-title class="pt-1 pb-1">
                  <span class="subtitle-2">Datos de contacto</span>
                </v-card-title>
                <v-divider></v-divider>
                <v-card-text>
                  <v-container v-if="isNatural">
                    <v-row>
                      <v-col :cols="6">
                        <v-select v-model="formCustomer.type"
                                  :items="typesCustomers"
                                  label="Tipo"
                                  outlined
                                  dense
                                  hide-details="auto"
                                  @change="handleChangeSelect"
                        ></v-select>
                      </v-col>
                      <v-col :cols="5">
                        <v-text-field v-model="formCustomer.document"
                                      label="DNI"
                                      color="blue"
                                      type="number"
                                      outlined
                                      dense
                                      hide-details="auto"
                                      :loading="searching_document"
                        ></v-text-field>
                      </v-col>
                      <v-col :cols="1">
                        <v-icon color="blue"
                                size="18"
                                class="mt-3"
                                @click="handleSearchDocument">
                          fas fa-search
                        </v-icon>
                      </v-col>
                    </v-row>
                    <v-row>
                      <v-col :cols="6">
                        <v-text-field v-model="formCustomer.name"
                                      label="Nombres"
                                      color="blue"
                                      outlined
                                      dense
                                      hide-details="auto"
                        ></v-text-field>
                      </v-col>
                      <v-col :cols="6">
                        <v-text-field v-model="formCustomer.surname"
                                      label="Apellidos"
                                      color="blue"
                                      outlined
                                      dense
                                      hide-details="auto"
                        ></v-text-field>
                      </v-col>
                    </v-row>
                    <v-row>
                      <v-col :cols="6">
                        <v-select v-model="formCustomer.gender"
                                  :items="genders"
                                  label="Genero"
                                  outlined
                                  dense
                                  hide-details="auto"
                        ></v-select>
                      </v-col>
                      <v-col :cols="6">
                        <v-menu
                            v-model="menu2"
                            :close-on-content-click="false"
                            :nudge-right="40"
                            transition="scale-transition"
                            offset-y
                            min-width="290px"
                        >
                          <template v-slot:activator="{ on }">
                            <v-text-field
                                v-model="formCustomer.birthdate"
                                label="Fecha de nacimiento"
                                outlined
                                dense
                                hide-details="auto"
                                readonly
                                v-on="on"
                            ></v-text-field>
                          </template>
                          <v-date-picker v-model="formCustomer.birthdate"
                                         @input="menu2 = false"
                                         locale="es"
                          ></v-date-picker>
                        </v-menu>
                      </v-col>
                    </v-row>
                    <v-row>
                      <v-col :cols="3">
                        <v-text-field v-model="formCustomer.phone"
                                      label="Teléfono"
                                      color="blue"
                                      outlined
                                      dense
                                      hide-details="auto"
                        ></v-text-field>
                      </v-col>
                      <v-col :cols="3">
                        <v-text-field v-model="formCustomer.mobile"
                                      label="Celular"
                                      color="blue"
                                      outlined
                                      dense
                                      hide-details="auto"
                        ></v-text-field>
                      </v-col>
                      <v-col :cols="6">
                        <v-text-field v-model="formCustomer.email"
                                      label="Email"
                                      color="blue"
                                      outlined
                                      dense
                                      hide-details="auto"
                        ></v-text-field>
                      </v-col>
                    </v-row>
                    <v-row>
                      <v-col :cols="6">
                        <v-textarea
                            name="input-7-1"
                            label="Dirección"
                            v-model="formCustomer.address"
                            :rows="3"
                            outlined
                            dense
                            hide-details="auto"
                        ></v-textarea>
                      </v-col>
                      <v-col :cols="6">
                        <v-textarea v-model="formCustomer.reference"
                                    label="Referencia"
                                    :rows="3"
                                    outlined
                                    dense
                                    hide-details="auto"
                        ></v-textarea>
                      </v-col>
                    </v-row>
                  </v-container>
                  <v-container v-else>
                    <v-row>
                      <v-col :cols="6">
                        <v-select v-model="formCustomer.type"
                                  :items="typesCustomers"
                                  label="Tipo"
                                  outlined
                                  dense
                                  hide-details="auto"
                                  @change="handleChangeSelect"
                        ></v-select>
                      </v-col>
                      <v-col :cols="5">
                        <v-text-field v-model="formCustomer.document"
                                      label="RUC"
                                      color="blue"
                                      type="number"
                                      outlined
                                      dense
                                      hide-details="auto"
                                      :loading="searching_document"
                        ></v-text-field>
                      </v-col>
                      <v-col :cols="1">
                        <v-icon class="mt-3"
                                color="blue"
                                size="18"
                                @click="handleSearchDocument">
                          fas fa-search
                        </v-icon>
                      </v-col>
                    </v-row>
                    <v-row>
                      <v-col :cols="6">
                        <v-text-field v-model="formCustomer.name"
                                      label="Razon Social"
                                      color="blue"
                                      outlined
                                      dense
                                      hide-details="auto"
                        ></v-text-field>
                      </v-col>
                      <v-col :cols="3">
                        <v-text-field v-model="formCustomer.phone"
                                      label="Teléfono"
                                      color="blue"
                                      outlined
                                      dense
                                      hide-details="auto"
                        ></v-text-field>
                      </v-col>
                      <v-col :cols="3">
                        <v-text-field v-model="formCustomer.mobile"
                                      label="Celular"
                                      color="blue"
                                      outlined
                                      dense
                                      hide-details="auto"
                        ></v-text-field>
                      </v-col>
                    </v-row>
                    <v-row>
                      <v-col :cols="12">
                        <v-text-field v-model="formCustomer.email"
                                      label="Email"
                                      color="blue"
                                      outlined
                                      dense
                                      hide-details="auto"
                        ></v-text-field>
                      </v-col>
                    </v-row>
                    <v-row>
                      <v-col :cols="6">
                        <v-textarea
                            name="input-7-1"
                            label="Dirección"
                            v-model="formCustomer.address"
                            :rows="3"
                            outlined
                            dense
                            hide-details="auto"
                        ></v-textarea>
                      </v-col>
                      <v-col :cols="6">
                        <v-textarea v-model="formCustomer.reference"
                                    label="Referencia"
                                    :rows="3"
                                    outlined
                                    dense
                                    hide-details="auto"
                        ></v-textarea>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12">
              <v-card>
                <v-card-title class="pt-1 pb-1">
                  <span class="subtitle-2">Datos comerciales</span>
                </v-card-title>
                <v-divider></v-divider>
                <v-card-text>
                  <v-container>
                    <v-row>
                      <v-col :sm="6" :md="6" :cols="12" class="space-inter-inputs">
                        <v-text-field v-model="formCustomer.credit_line"
                                      label="Linea de crédito"
                                      color="blue"
                                      outlined
                                      dense
                                      hide-details="auto"
                        ></v-text-field>
                      </v-col>
                      <v-col :sm="6" :md="6" :cols="12" class="space-inter-inputs">
                        <v-text-field v-model="formCustomer.discount"
                                      label="Descuento"
                                      color="blue"
                                      outlined
                                      dense
                                      hide-details="auto"
                        ></v-text-field>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>

          <v-divider></v-divider>
          <v-row>
            <v-col cols="12">
              <div class="text-a-right">
                <v-btn color="error"
                       outlined
                       @click="closeDrawer()"
                       :elevation="10"
                >Cancelar</v-btn>
                &nbsp;
                <v-btn v-if="actionCrud === 'create'"
                       color="primary"
                       raised
                       @click="storeCustomer()"
                       :elevation="10"
                >Guardar</v-btn>
              </div>
            </v-col>
          </v-row>
        </v-container>
      </v-form>
    </div>
  </v-navigation-drawer>
</template>

<script>
import SunatReniecService from "../../../services/SunatReniecService";
import {mapActions, mapMutations, mapState} from "vuex";
import ApiCustomers from "../../../apis/Customer";

export default {
  name: "CrearCliente",
  props:['insertarNuevoClienteList','seleccionarCliente'],
  data() {
    return {
      menu2: false,
      drawer: false,
      direction: 'rtl',
      titleForm: 'Registro de nuevo cliente',
      actionCrud: 'create',
      isNatural: true,
      formCustomer: {
        id: null,
        type: 'Natural',
        document: null,
        name: null,
        surname: null,
        gender: null,
        birthdate: null,
        phone: null,
        email: null,
        address: null,
        credit_line: null,
        discount: null,
        reference: null,
        mobile: null
      },
      typesCustomers: [
        {
          text: 'Jurídico',
          value: 'Jurídico'
        },
        {
          text: 'Natural',
          value: 'Natural'
        }
      ],
      genders: [
        {
          text: 'Femenino',
          value: 'Femenino'
        },
        {
          text: 'Masculino',
          value: 'Masculino'
        }
      ],
      searching_document: false,
      source: null,
      formAddress: {
        id: null,
        address: null,
        reference: null
      },
      alternate_directions: []
    }
  },
  computed: {
    ...mapState('customers', [
      //'customerCreated',
      //'response_customers'
    ])
  },
  methods:{
    ...mapMutations('sales', [
      //'setBuyerId',
      //'setBuyer',
    ]),
    ...mapActions('customers', [
     // 'createCustomer',
      //'getAllCustomers',
      //'update'
    ]),
    ...mapActions('sales', [
      //'getCustomers',
      //'selectBuyer'
    ]),
    async createCustomer(customer) {
      return  await ApiCustomers.create(customer)
    },
    showForm(title, action, source = null, customer = null) {
      this.clearForm();
      this.titleForm = title
      this.actionCrud = action
      this.drawer = !this.drawer
    },
    clearForm(){
      this.isNatural = true;
      this.formCustomer.id = null;
      this.formCustomer.type = 'Natural';
      this.formCustomer.document = null;
      this.formCustomer.name = null;
      this.formCustomer.surname = null;
      this.formCustomer.gender = null;
      this.formCustomer.birthdate = null;
      this.formCustomer.phone = null;
      this.formCustomer.email = null;
      this.formCustomer.address = null;
      this.formCustomer.credit_line = null;
      this.formCustomer.discount = null;
      this.formCustomer.reference = null;
      this.formCustomer.mobile = null;
    },
    setCustomerToForm(customer) {
      this.formCustomer.id = customer.id;
      this.formCustomer.type = customer.type;
      this.formCustomer.document = customer.document;
      this.formCustomer.name = customer.name;
      this.formCustomer.surname = customer.surname;
      this.formCustomer.gender = customer.gender;
      this.formCustomer.birthdate = customer.birthdate;
      this.formCustomer.phone = customer.phone;
      this.formCustomer.email = customer.email;
      this.formCustomer.address = customer.address;
      this.formCustomer.credit_line = customer.credit_line;
      this.formCustomer.discount = customer.discount;
      this.formCustomer.reference = customer.reference;
      this.formCustomer.mobile = customer.mobile;
      this.handleChangeSelect(customer.type);
    },
    handleChangeSelect (value){
      if(this.$refs.formCustomer){
        this.$refs.formCustomer.clearValidate();
      }
      this.isNatural = true;
      if(value == 'Jurídico'){
        this.isNatural = false;
      }
    },
    closeDrawer() {
      this.clearForm();
      this.drawer = false
    },
    storeCustomer() {
      if (this.formCustomer.name == null || this.formCustomer.name == '') {
        this.$notify({
          group: 'foo',
          type: 'error',
          title: 'ERROR',
          text: 'Debe ingresar nombre de cliente!'
        });
      } else {
        this.createCustomer(this.formCustomer)
        .then(({data})=>{
          console.log(data)
          this.$notify({
            group: 'foo',
            type: 'success',
            title: 'ÉXITO',
            text: 'El cliente se registró de forma exitosa.'
          });
          if (data) {
            this.insertarNuevoClienteList(data)
            this.seleccionarCliente(data)
             // await this.getCustomers();
              //this.setBuyerId(this.customerCreated.id);
              //this.selectBuyer();
          }
          this.drawer = false;
        })
        .catch(error=>{
          console.log(error)
          this.$notify({
            group: 'foo',
            type: 'error',
            title: 'ERROR',
            text: 'Ocurrió un error al registrar cliente'
          });
        })

      }
    },
    handleSearchDocument () {
      this.searching_document = true;
      let type_customer = this.formCustomer.type.toLowerCase();
      let document_number = this.formCustomer.document;

      SunatReniecService.searchDocument(document_number)
          .then( response => {
            this.searching_document = false;
            this.formCustomer.name = response.data.name;
            this.formCustomer.surname = response.data.surname;
            this.formCustomer.address = response.data.address;
          }).catch( error => {
        this.searching_document = false;
        this.$notify({
          group: 'foo',
          type: 'error',
          title: 'BÚSQUEDA DE DOCUMENTO',
          text: 'Documento no existe.'
        });
      })
    },
    clearFormAddress () {
      this.formAddress.id = null;
      this.formAddress.address = null;
      this.formAddress.reference = null;
    },
    handleAddAddress () {
      let today = new Date();
      let address = {
        id: today.getTime(),
        address: this.formAddress.address,
        reference: this.formAddress.reference
      }
      this.alternate_directions.push(address);
      this.clearFormAddress();
    },
    handleDeleteAddress (index) {
      this.alternate_directions.splice(index, 1);
    }
  }
}
</script>
<style scoped>

</style>