<template>
  <div>
    <v-menu
        v-model="menuPickupDate"
        :close-on-content-click="false"
        max-width="290"
    >
      <template v-slot:activator="{ on, attrs }">
        <v-text-field
            v-model="entry_time"
            clearable
            label="Fecha"
            outlined
            dense
            :nudge-right="40"
            transition="scale-transition"
            offset-y
            v-bind="attrs"
            v-on="on"
            @click:clear="date = null"
        />
      </template>
      <v-date-picker
          v-model="entry_time"
          no-title
          locale="es"
          @change="handleMenuPickupDate"
          elevation="15"
          :min="min_date"
      ></v-date-picker>
    </v-menu>

  </div>

</template>
<script>

import moment from "moment";

export default {
  name: "Datepicker",
  props:['obtenerFecha','limpiarDatepicker'],
  data () {
    return {
      menuPickupDate: false,
      entry_time:moment().format('YYYY-MM-DD'),
      min_date: this.$moment().subtract(6, 'days').format('YYYY-MM-DD'),
    }
  },
  watch:{limpiarDatepicker(){
    if (this.limpiarDatepicker)this.entry_time=moment().format('YYYY-MM-DD')
    }},
  methods:{
    handleMenuPickupDate(events){
      this.menuPickupDate=false
      this.obtenerFecha(events)
    }
  }
}
</script>

<style scoped>

</style>