<template>
  <v-navigation-drawer
      v-model="drawer"
      width="450"
      app
      temporary
      left
      class="wost-drawer"
  >
    <div class="form-head">
      {{ titleForm }}
    </div>
    <div class="wrapper-form-crud overflow-y-auto">
      <v-container>
        <v-row>
          <v-col cols="12" class="pt-0 pb-0">
            <v-text-field
                v-model="formItem.name"
                solo
                hide-details
                readonly
            ></v-text-field>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12" class="pb-0">
            <v-card>
              <v-card-text class="pt-1 pb-2">
                <template>
                  <v-row>
                    <v-col cols="12" class="pt-1 pb-1">
                      <v-switch v-model="formItem.is_bonus"
                                class="mt-1"
                                dense
                                :false-value="false"
                                :true-value="true"
                                inset label="BONIFICACIÓN"
                                @change="handleChangeBonus"
                                hide-details
                      >
                      </v-switch>
                    </v-col>
                  </v-row>
                </template>

              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12" class="pb-0">
            <v-card>
              <v-card-title class="pt-2 pb-1">
                <span class="subtitle-2 font-weight-black">Precios</span>
              </v-card-title>
              <v-divider></v-divider>
              <v-card-text class="pt-1 pb-1">
                <label>Seleccione precio</label>
                <v-radio-group class="mt-0" v-model="formItem.base_price">
                  <v-radio :label="`P. unitario: ${formItem.unit_price}`" :value="formItem.unit_price"></v-radio>
                  <v-radio :label="`P. por mayor: ${formItem.wholesale_price}`" :value="formItem.wholesale_price"></v-radio>
                  <v-radio :label="`P. preferencia: ${formItem.preferential_price}`" :value="formItem.preferential_price"></v-radio>
                </v-radio-group>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12">
            <v-card>
              <v-card-title class="pt-2 pb-1">
                <span class="subtitle-2 font-weight-black">Descuento</span>
              </v-card-title>
              <v-divider></v-divider>
              <v-card-text class="pt-1 pb-1">
                <v-container>
                  <v-row v-if="viewDiscountCustomer()">
                    <v-col cols="12" class="pt-0 pb-0">
                      <v-switch
                          v-model="formItem.set_discount_customer"
                          class="mt-0"
                          label="Aplicar descuento de cliente"
                          hide-details
                          @change="handleChangeSetDiscountCustomer"
                      ></v-switch>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col cols="12" class="pt-0">
                      <v-switch
                          v-model="formItem.discount_group"
                          class="mt-0"
                          label="Descuento por grupo"
                          hide-details
                      ></v-switch>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col cols="12" class="pb-0">
                      <v-btn-toggle
                          v-model="formItem.discount_type"
                          mandatory
                          dense
                          color="green darken-3"
                          class="mr-3">
                        <v-btn value="Monto" class="btn-show-mode">
                          S/
                        </v-btn>
                        <v-btn value="Porcentaje" class="btn-show-mode">
                          %
                        </v-btn>
                      </v-btn-toggle>
                      <v-text-field
                          :label="`${formItem.discount_type} a descontar`"
                          class="field-discount"
                          v-model="formItem.discount_amount"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                </v-container>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12">
            <div class="text-a-right">
              <v-btn
                  class="mr-5"
                  color="error"
                  outlined
                  @click="closeDrawer()"
                  :elevation="10"
              >Cancelar</v-btn>
              <v-btn
                  color="primary"
                  raised
                  @click="saveSetting()"
                  :elevation="10"
              >Guardar</v-btn>
            </div>
          </v-col>
        </v-row>
      </v-container>

    </div>
  </v-navigation-drawer>

</template>


<script>

import CartTools from "../../../operaciones/operaciones_comunes";

export default {
  name: "PreciosDescuentos",
  props:['selectedProducts','updateProductList','LimpiarFormulario'],
  data() {
    return {
      drawer: false,
      titleForm: '',
      type_sale: 'recarga',
      por_igv:0.18,
      formItem:{}
    }
  },
  /*watch:{
    LimpiarFormulario(){
      console.log(this.LimpiarFormulario)
      if(this.LimpiarFormulario){
        this.clearForm()
      }
    },
  },*/
  methods: {
    clearForm() {
      this.formItem={}
    },
    showForm(title,producto) {
      this.setValueToForm(producto)
      this.drawer = !this.drawer
    },
    setValueToForm(item) {
      //console.log('----',item)
      this.formItem.id = item.id
      this.formItem.name = item.name;
      this.formItem.unit_price = item.unit_price
      this.formItem.wholesale_price = item.wholesale_price
      this.formItem.preferential_price = item.preferential_price
      this.formItem.base_price = item.base_price
      this.formItem.price = item.price
      this.formItem.discount_type = item.discount_type
      this.formItem.discount_amount = item.discount_amount
      this.formItem.quantity = item.quantity
      this.formItem.has_return = item.has_return
      this.formItem.discount_value = item.discount_value;
      this.formItem.discount_group = item.discount_group;
      this.formItem.discount_item = item.discount_item;
      this.formItem.type_sale = item.type_sale;
      this.formItem.set_discount_customer = item.set_discount_customer;
      this.formItem.type_product = item.type_product;
      this.formItem.is_bonus = item.is_bonus;
    },
    settingProduct() {
      const productSelected = this.formItem
      let listProducts=this.selectedProducts
      productSelected.price = CartTools.calculatePriceFromProductItem(productSelected)
      let indexFounded = CartTools.findIndexFromItem(listProducts, productSelected.id)
      //console.log(indexFounded)
      this.updateProductList(indexFounded,productSelected)
      //console.log(productSelected)
      this.clearForm()
    },
    closeDrawer() {
      this.drawer = false
    },
    saveSetting() {
      if (this.formItem.discount_group == true) {
        this.formItem.discount_value = CartTools.calculateDiscountValueToPriceUnitItem(this.formItem);
        this.formItem.discount_item = parseFloat(this.formItem.quantity) * this.formItem.discount_value;
      } else {
        this.formItem.discount_value = CartTools.calculateDiscountValueToSubtotalItem(this.formItem);
        this.formItem.discount_item = this.formItem.discount_value;
      }
     // this.runSetItemSelected(this.formItem)
      this.settingProduct()
      this.drawer = false
    },
    viewDiscountCustomer () {
      let show = false;
      if (this.buyer) {
        if (this.buyer.discount) {
          if (parseFloat(this.buyer.discount) > 0) {
            show = true;
          }
        }
      }

      return show;
    },
    handleChangeSetDiscountCustomer (value) {
      if (value == true) {
        this.formItem.discount_amount = this.buyer.discount;
      }
    },
    handleChangeBonus (value) {
      if (value == true) {
        this.formItem.discount_group = false;
        this.formItem.discount_amount = 0;
        this.formItem.discount_value = 0;
        this.formItem.discount_group = 0;
        this.formItem.discount_item = 0;
      }
    }
  }
}
</script>

<style scoped>

</style>