<template>
  <v-container app :fluid="true" class="list-products-available">
    <v-row v-if="type_view === 0">
      <v-col cols="12" class="padding-top-0">
        <v-card flat>
          <v-list-item-group>
            <v-list-item two-line v-for="product in availableProducts" :key="product.id"
                         @click="handleSelectProduct(product)"
                         class="sales-item-catalogue"
                         color="indigo"
                        >
              <v-list-item-content>
                <v-list-item-title class="sales-name-product-list">
                  {{ product.name }}
                </v-list-item-title>
                <v-list-item-subtitle class="sales-price-list">
                    <span class="sales-price-label-list">
                       <v-icon size="18" class="mr-1" color="red darken-1">
                           fas fa-tags
                        </v-icon>Precio:
                    </span>
                  <span class="sales-price-value-list ml-2">
                      {{ product.unit_price | currency('S/ ') }}
                  </span>
                </v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </v-list-item-group>
        </v-card>
      </v-col>
    </v-row>
    <v-row v-else>
      <v-col cols="3" v-for="product in availableProducts" :key="product.id" class="padding-top-0">
        <v-card
            @click="handleSelectProduct(product)" class="card-product">
          <v-img
              src="https://cdn.vuetifyjs.com/images/cards/sunshine.jpg"
              height="100px">
          </v-img>
          <v-card-title class="sales-name-product-card">
            {{ product.name }}
          </v-card-title>
          <v-card-subtitle class="sales-price-product-card">
            {{ product.unit_price | currency('S/ ') }}
          </v-card-subtitle>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "Products",
  props: ['availableProducts', 'type_view', 'handleSelectProduct', 'verifyPermission']
}
</script>

<style scoped>

</style>