<template>
    <v-container app :fluid="true" class="pt-0">
        <v-row justify="center">
            <v-col cols="6">
                <v-text-field
                    v-model="search"
                    append-icon="fas fa-search"
                    label="Buscar insumo"
                    solo
                    dense
                    hide-details
                    class="wost-text-input"
                ></v-text-field>
            </v-col>
            <v-col cols="6">
                <v-btn class="float-right ml-2" 
                    dark 
                    color="green"
                    @click="handleDownloadSupplies">
                    Descargar XLS
                </v-btn>
                <v-btn class="float-right ml-2" dark color="amber" 
                    :disabled="showButtonSave"
                    @click="handleSaveDecrease"
                    v-if="verifyPermission('guardar_inventario')">
                    Guardar Merma
                </v-btn> 
                <v-btn class="float-right" dark color="primary" 
                    :disabled="showButtonSave"
                    @click="handleSaveStock"
                    v-if="verifyPermission('guardar_inventario')">
                    Guardar Stock
                </v-btn>                             
            </v-col>
        </v-row>
        <v-row>
            <v-col cols="12">
                <v-card>
                    <template>
                        <v-row>
                            <v-col cols="12">
                                <v-data-table
                                    class="wost-table"
                                    :headers="headers"
                                    :items="supplies"
                                    hide-default-footer
                                    item-key="id"
                                    :search="search"
                                    height="66vh"
                                    fixed-header
                                    no-data-text=""
                                >
                                    <template v-slot:item.unit_id="{ item }">
                                        {{ item.unit.name }}
                                    </template>
                                    <template v-slot:item.valued="{ item }">
                                        {{ (item.stock * item.cost) | currency('S/') }}
                                    </template>
                                    <template v-slot:item.new_stock="{ item }">
                                        <v-text-field type="number"
                                            v-if="new_stocks[getIndex(item.id)]"
                                            v-model="new_stocks[getIndex(item.id)].new_stock"
                                            outlined
                                            dense
                                            hide-details="auto"
                                        ></v-text-field>
                                    </template>
                                    <template v-slot:item.action="{ item }">
                                        <v-btn small @click="handleViewKardex(item)" 
                                            dark 
                                            color="grey darken-1"
                                            v-if="verifyPermission('ver_kardex_inventario')">
                                            Kardex
                                        </v-btn>
                                    </template>
                                </v-data-table>
                            </v-col>
                        </v-row>
                    </template>
                </v-card>
            </v-col>
        </v-row>
        <Kardex ref="kardex" />
    </v-container>
</template>

<script>
import { mapActions, mapMutations, mapState } from 'vuex';
import ApiSupplies from '../../apis/Supplies';
import Kardex from '../../components/Production/Kardex'

import {APIService} from '@/APIService';
const apiService = new APIService();

export default {
    name: 'Inventory',
    components: {
        Kardex
    },
    computed: {
        ...mapState('production', [
            'supplies',
            'kardexSupply'
        ]),
        showButtonSave(){
            let hideButton = true
            let numberItemsModified = 0
            this.new_stocks.forEach((element)=>{
                if (parseFloat(element.new_stock) > 0) {
                    numberItemsModified++
                }
            })
            if (numberItemsModified > 0) {
                hideButton = false
            }
            return hideButton
        }
    },
    data(){
        return {
            search: '',
            //showButtonSave: false,
            new_stocks: [],
            headers: [
                { text: 'Descripción', value: 'name', sortable: false, class: 'header-table'},
                { text: 'Und. de medida', value: 'unit_id', sortable: false, class: 'header-table', width: 140 },
                { text: 'Marca', value: 'brand', sortable: false, class: 'header-table' },
                { text: 'Stock', value: 'stock', align: 'end', sortable: false, class: 'header-table', width: 170 },
                { text: 'Valorizado', value: 'valued', align: 'end', sortable: false, class: 'header-table', width: 170 },
                { text: 'Cantidad', value: 'new_stock', align: 'end', sortable: false, class: 'header-table', width: 170 },
                { text: 'Acciones', value: 'action', sortable: false, class: 'header-table', width: 35 },
                { text: '', value: 'data-table-expand', width: 10, class: 'header-table-expand' }
            ]
        }
    },
    methods: {
        ...mapActions('production', [
            'getSupplies',
            'runSetSupplySelected',
            'getKardexBySupply',
            'runsetSupplies'
        ]),
        handleViewKardex(supply){
            this.runSetSupplySelected(supply)
            this.getKardexBySupply()
            this.$refs.kardex.showForm('Kardex')
        },
        handleSaveStock(){
            this.$swal({
                title: "¿Desea confirmar?",
                text: "Confirma que desea guardar el nuevo stock",
                icon: "question",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Confirmar",
                cancelButtonText: "Cancelar",
            }).then(async (result) => {
                if(result.value){
                    if(result.value === true){
                        this.saveNewStock();                  
                    }
                }                    
            })
        },
        saveNewStock () {
            let data = this.getDataToSave();
            apiService.saveNewInventory(data).then((response) => {
                this.getSupplies()
                this.fillNewStock()
                this.$notify({
                    group: 'foo',
                    type: 'success',
                    title: 'REGISTRO DE NUEVO STOCK',
                    text: 'El nuevo stock se registró con éxito.!'
                })
            }).catch( function(error){
                this.$notify({
                    group: 'foo',
                    type: 'error',
                    title: 'REGISTRO DE NUEVO STOCK',
                    text: 'Ocurrió un error al registrar nuevo stock.!'
                })
            });
        },
        getDataToSave () {
            let new_inventory = []
            this.new_stocks.forEach((element) => {
                if (parseFloat(element.new_stock)){
                    new_inventory.push(element)
                }
            })
            let data = {
                new_stocks: new_inventory
            }

            return data;
        },
        fillNewStock(){
            this.new_stocks = []
            this.supplies.forEach((element) => {
                let item = {
                    supply_id: element.id,
                    new_stock: null
                }
                this.new_stocks.push(item)
            });
        },
        getIndex(supply_id) {
            return this.new_stocks.findIndex(i => i.supply_id === supply_id)
        },
        async loadData() {
            await apiService.getSuppliesProduction()
                .then(({data}) => {
                    this.runsetSupplies(data)
                    this.fillNewStock()
                })
        },
        verifyPermission(permission) {
            return this.$hasPermision(permission)
        },
        handleDownloadSupplies () {
            ApiSupplies.download()
                .then( (response) => {
                    let blob = new Blob([response.data], {
                        type: "application/vnd.ms-excel"
                    });
                    const url = window.URL.createObjectURL(blob);
                    const link = document.createElement('a');
                    link.href = url;
                    link.setAttribute('download', 'reporte-insumos.xlsx');
                    document.body.appendChild(link);
                    link.click();
                }).catch( error => {
                    this.$notify({
                        group: 'foo',
                        type: 'error',
                        title: 'ERROR',
                        text: 'Ocurrió un error al descargar reporte'
                    });
                })
        },
        handleSaveDecrease () {
            this.$swal({
                title: "¿Desea confirmar?",
                text: "Confirma que desea guardar merma",
                icon: "question",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Confirmar",
                cancelButtonText: "Cancelar",
            }).then(async (result) => {
                if(result.value){
                    if(result.value === true){
                        this.saveDecrease();                  
                    }
                }
            })
        },
        saveDecrease () {
            let data = this.getDataToSave();
            ApiSupplies.store_decrease(data).then((response) => {
                this.getSupplies()
                this.fillNewStock()
                this.$notify({
                    group: 'foo',
                    type: 'success',
                    title: 'REGISTRO DE MERMA',
                    text: 'La merma se registró con éxito.!'
                })
            }).catch( function(error){
                this.$notify({
                    group: 'foo',
                    type: 'error',
                    title: 'REGISTRO DE MERMA',
                    text: 'Ocurrió un error al registrar merma.!'
                })
            });
        }
    },
    created(){
        this.loadData()        
    }
}
</script>

<style scoped>
.header-table-production{
    background-color: #3949AB !important;
    color: #ffffff !important;
    text-transform: uppercase;
    line-height: 30px;
}
</style>