<template>
    <v-navigation-drawer
        v-model="drawer"          
        width="600"
        app
        temporary
        right
        class="wost-drawer"
    >
        <div class="form-head">
            {{ titleForm }}
        </div>
        <div class="wrapper-form-crud overflow-y-auto">               
            <v-form>
                <v-card class="padding-bootom-0">
                    <v-card-text>
                        <v-container>
                            <v-row>
                                <v-col :cols="12" class="space-inter-inputs">
                                    <v-autocomplete
                                    label="Unidad de medida"
                                    :items="units"
                                    v-model="assetForm.unit_id">
                                    </v-autocomplete>
                                </v-col>                                
                            </v-row>
                            <v-row>
                                <v-col :cols="12" class="space-inter-inputs">
                                    <v-text-field v-model="assetForm.name" label="Nombre"></v-text-field>
                                </v-col>
                            </v-row>
                            <v-row>
                                <v-col :cols="12" class="space-inter-inputs">
                                    <v-text-field v-model="assetForm.description" label="Descripción"></v-text-field>
                                </v-col>                                    
                            </v-row>
                            <v-row>
                                <v-col :cols="6" class="space-inter-inputs">
                                    <v-text-field v-model="assetForm.useful_life" label="Vida útil" type="number" suffix="años"></v-text-field>
                                </v-col>
                                <v-col :cols="6" class="space-inter-inputs">
                                    <v-text-field v-model="assetForm.quantity" label="Cantidad"></v-text-field>
                                </v-col>  
                            </v-row>
                            <v-row>
                                <v-col :cols="6" class="space-inter-inputs">
                                    <v-switch
                                        v-model="assetForm.loan"
                                        inset 
                                        class="mt-1"
                                        dense
                                        hide-details
                                        label="PRESTAMO"
                                    ></v-switch>
                                </v-col>
                                <v-col :cols="6" v-if="assetForm.loan"
                                    class="space-inter-inputs">
                                    <v-text-field v-model="assetForm.price" 
                                        label="Precio"
                                        type="number"
                                        prefix="S/">
                                    </v-text-field>
                                </v-col>
                            </v-row>
                        </v-container>
                    </v-card-text>

                </v-card>
                <br>
                <v-divider></v-divider>
                <br>
                <div class="text-a-right">
                    <v-btn color="error" outlined @click="closeForm()" class="wost-btn-new">Cancelar</v-btn>
                    &nbsp;
                    <v-btn v-if="actionCrud === 'create'" color="primary" raised @click="addAsset()" class="wost-btn-new">Guardar</v-btn>
                    <v-btn v-else color="primary" raised @click="modifyAsset()" class="wost-btn-new">Actualizar</v-btn>
                </div>                
            </v-form>
        </div>
        
    </v-navigation-drawer>
</template>

<script>

import { mapActions, mapMutations, mapState } from 'vuex';

import {APIService} from '@/APIService';
const apiService = new APIService();

export default {
    name: 'CreateOrUpdate',
    computed: {
        ...mapState('assets', [
            'assets',
            'asset',
            'assetId'
        ]),
    },
    data() {
        return {
            titleForm: '',
            drawer: false,
            actionCrud: '',
            assetForm: {
                id: null,
                unit_id: null,
                name: null,
                description: null,
                useful_life: null,
                quantity: null,
                price: null,
                loan: false
            },
            units: []
        }
    },
    methods: {
        ...mapActions('assets', [
            'getAssets',
            'createAsset',
            'updateAsset'
        ]),
        ...mapMutations('assets', [
            'setAsset',
            'setAssetId'
        ]),
        showForm(title, action) {
            this.clearform()
            this.titleForm = title
            this.actionCrud = action
            if (this.actionCrud === 'update') {
                this.setAssetId(this.asset.id)
                this.setAssetForm(this.asset)
            }
            this.drawer = !this.drawer
        },
        clearform() {
            this.assetForm.id = null
            this.assetForm.unit_id = null
            this.assetForm.name = null
            this.assetForm.description = null
            this.assetForm.useful_life = null
            this.assetForm.quantity = null
            this.assetForm.price = null
            this.assetForm.loan = false;
        },
        setAssetForm(asset) {
            this.assetForm.id = asset.id
            this.assetForm.unit_id = asset.unit_id
            this.assetForm.name = asset.name
            this.assetForm.description = asset.description
            this.assetForm.useful_life = asset.useful_life
            this.assetForm.quantity = asset.quantity
            this.assetForm.price = asset.price
            this.assetForm.loan = asset.loan
        },
        closeForm() {
            this.drawer = false
        },
        async addAsset() {
            this.setAsset(this.assetForm)
            await this.createAsset()
            this.closeForm()
            this.$notify({
                group: 'foo',
                type: 'success',
                title: 'REGISTRO DE ACTIVO',
                text: 'Activo registrado de forma correcta!'
            });           
        },
        async modifyAsset() {
            this.setAsset(null)
            this.setAsset(this.assetForm)
            await this.updateAsset()
            this.closeForm()
            this.$notify({
                group: 'foo',
                type: 'success',
                title: 'ACTUALIZACIÓN DE ACTIVO',
                text: 'El activo se actualizó de manera exitosa!'
            });
        }
    },
    created() {
        apiService.getUnitsDropdown().then((response) => {
            this.units = response.data;            
        });
    }
}
</script>

<style scoped>

</style>