<template>
    <v-navigation-drawer
        v-model="drawer"          
        width="450"
        app
        temporary
        right
        class="wost-drawer"
    >
        <div class="form-head">
            Registrar recaudación
        </div>

        <div class="wrapper-form-crud overflow-y-auto">
            <v-card>
                <v-card-text>
                    <v-container>
                        <v-row>
                            <v-col cols="12">
                                <v-autocomplete v-model="form.user_id"
                                    ref="user_id"
                                    :items="deliveryUsers"
                                    outlined
                                    dense                                    
                                    clearable 
                                    clear-icon="far fa-times-circle"               
                                    label="Repartidor"
                                    persistent-hint
                                    :item-text="customTextDelivery"
                                    item-value="id"
                                    @change="handleChangeUser"
                                    :rules="[() => !!form.user_id || 'Debe seleccionar un repartidor']"
                                    hide-details="auto"
                                    required
                                    >
                                    <template v-slot:item="data">
                                        <v-list-item-content class="pt-1 pb-1">
                                            <v-list-item-title>{{ data.item.fullname }}</v-list-item-title>
                                        </v-list-item-content>                                    
                                    </template>
                                </v-autocomplete>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="12">
                                <v-menu
                                    v-model="menuRegisterDate"
                                    :close-on-content-click="false"
                                    :nudge-right="40"
                                    transition="scale-transition"
                                    offset-y
                                    min-width="290px"
                                >
                                    <template v-slot:activator="{ on }">
                                        <v-text-field
                                        v-model="form.register_date"
                                        ref="register_date"
                                        label="Fecha"
                                        readonly
                                        dense
                                        outlined
                                        clearable
                                        v-on="on"
                                        @click:clear="handleClearRegisterDate"
                                        :rules="[() => !!form.register_date || 'Debe ingresar una fecha']"
                                        hide-details="auto"
                                        required                                    
                                        ></v-text-field>
                                    </template>
                                    <v-date-picker v-model="form.register_date" 
                                        @input="menuRegisterDate = false" 
                                        no-title 
                                        @change="handleChangeRegisterDate"
                                        locale="es">
                                    </v-date-picker>
                                </v-menu>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="12">
                                <v-text-field v-model="form.total_sales"
                                    label="Total Ventas"
                                    prefix="S/"
                                    type="number"
                                    outlined
                                    dense
                                    readonly
                                    hide-details="auto"
                                ></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="12">
                                <v-text-field v-model="form.total_expenses"
                                    label="Total Gastos"
                                    prefix="S/"
                                    type="number"
                                    outlined
                                    dense
                                    readonly
                                    hide-details="auto"
                                ></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="12">
                                <v-text-field v-model="form.total_delivered"
                                    ref="total_delivered"
                                    label="Total entregado"
                                    prefix="S/"
                                    type="number"
                                    outlined
                                    dense
                                    :rules="[() => !!form.total_delivered || 'Debe ingresar el total entregado']"
                                    hide-details="auto"
                                    required
                                ></v-text-field>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-card-text>
            </v-card>
        </div>

        <div class="mt-3" style="text-align: right;">
            <v-container class="pt-0">
                <v-row>
                    <v-col cols="6" class="pt-0">
                        <v-btn block 
                            color="red" 
                            dark
                            @click="handleCancel">
                            Cancelar
                        </v-btn>
                    </v-col>
                    <v-col cols="6" class="pt-0">
                        <v-btn block
                            dark 
                            color="primary" 
                            @click="handleStoreTaking">
                            Guardar
                        </v-btn>
                    </v-col>
                </v-row>
            </v-container>
        </div>

    </v-navigation-drawer>
</template>

<script>
import {mapActions, mapState} from 'vuex';

export default {
    name: 'RegisterTaking',
    data () {
        return {
            drawer: false,
            menuRegisterDate: false,
            form: {
                user_id: null,
                register_date: null,
                total_sales: null,
                total_expenses: null,
                total_delivered: null
            }
        }
    },
    computed: {
        ...mapState('orders', [
            'deliveryUsers'
        ]),
        ...mapState('takings', [
            'taking_calculated',
            'taking_response'
        ])
    },
    methods: {
        ...mapActions('takings', [
            'getAllTakings',
            'calculateTaking',
            'store'
        ]),
        async show () {
            await this.clearForm();
            this.drawer = !this.drawer;
        },
        clearForm () {
            this.form.user_id = null;
            this.form.register_date = null;
            this.form.total_sales = null;
            this.form.total_expenses = null;
            this.form.total_delivered = null;
            this.clearErrors();
        },
        closeForm () {
            this.drawer = false;
        },
        handleCancel () {
            this.closeForm();
        },
        customTextDelivery(item){
            let text = item.fullname
            return text
        },
        handleChangeUser (value) {
            this.form.user_id = null;
            if (value !== undefined && value !== null) {
                this.form.user_id = value;
            }
            this.calculateByUser();
        },
        handleClearRegisterDate () {
            this.form.register_date = null;
            this.calculateByUser();
        },
        handleChangeRegisterDate (value) {
            this.calculateByUser();
        },
        async calculateByUser () {
            if (this.form.user_id && this.form.register_date) {
                await this.calculateTaking({
                    user_id: this.form.user_id,
                    register_date: this.form.register_date
                });
                if (this.taking_calculated) {
                    this.form.total_sales = this.taking_calculated.total_orders;
                    this.form.total_expenses = this.taking_calculated.total_expense;
                }
            } else {
                this.form.total_sales = null;
                this.form.total_expenses = null;
                this.form.total_delivered = null;
            }
        },
        async handleStoreTaking () {            
            if (!this.existErrors()) {
                await this.store(this.form);
                if (this.taking_response == 'error') {
                    this.$notify({
                        group: 'foo',
                        type: 'error',
                        title: 'ERROR',
                        text: 'Se detectó un error al registrar recaudación.'
                    });
                } else {
                    this.getAllTakings();
                    this.closeForm();
                    this.$notify({
                        group: 'foo',
                        type: 'success',
                        title: 'ÉXITO',
                        text: 'La recaudación fue registrada de forma correcta'
                    });
                }
            }
        },
        existErrors(){
            let hasErrors = false;

            Object.keys(this.form).forEach(f => {                
                if (this.$refs[f]) {
                    if (!this.form[f]) hasErrors = true
                    this.$refs[f].validate(true);
                }                
            });

            return hasErrors;
        },
        clearErrors() {
            Object.keys(this.form).forEach(f => {
                if (this.$refs[f]) this.$refs[f].reset()                
            });
        },
    }
}
</script>

<style scoped>

</style>