<template>
<v-container app :fluid="true" class="pt-0">
    <v-row>
        <v-col cols="3">
            <v-card>
                <v-card-text>
                    <v-menu
                        v-model="menuFromDate"
                        :close-on-content-click="false"
                        :nudge-right="40"
                        transition="scale-transition"
                        offset-y
                        min-width="290px"
                    >
                        <template v-slot:activator="{ on }">
                            <v-text-field
                            v-model="from_date"
                            label="Desde"
                            readonly
                            clearable
                            v-on="on"
                            @click:clear="handleClearFrom"
                            hide-details                                    
                            ></v-text-field>
                        </template>
                        <v-date-picker v-model="from_date" @input="menuFromDate = false" no-title @change="handleChangeFormDate">
                        </v-date-picker>
                    </v-menu>
                </v-card-text>
            </v-card>
        </v-col>

        <v-col cols="3">
            <v-card>
                <v-card-text>
                    <v-menu
                        v-model="menuUntilDate"
                        :close-on-content-click="false"
                        :nudge-right="40"
                        transition="scale-transition"
                        offset-y
                        min-width="290px"
                    >
                        <template v-slot:activator="{ on }">
                            <v-text-field
                            v-model="until_date"
                            label="Hasta"
                            readonly
                            clearable
                            v-on="on"
                            @click:clear="handleClearUntil"
                            hide-details
                            ></v-text-field>
                        </template>
                        <v-date-picker v-model="until_date" @input="menuUntilDate = false" no-title @change="handleChangeUntilDate"></v-date-picker>
                    </v-menu>
                </v-card-text>
            </v-card>
        </v-col>
    </v-row>
    <v-row>
        <v-col cols="12" class="pb-0">
            <v-card>
                <v-data-table
                    :headers="headers"
                    :items="history"
                    :items-per-page="10"
                    class="elevation-1 w-table table-crud"
                    height="60vh"
                >
                    <template v-slot:item.register_date="{item}">
                        <span>{{ item.register_date | moment("DD/MM/YYYY") }}</span>
                    </template>

                    <template v-slot:item.hour_date="{item}">
                        <span>{{ item.register_date | moment("hh:mm a") }}</span>
                    </template>

                    <template v-slot:item.amount_open="{item}">
                        <span>{{ item.amount_open | currency('S/') }}</span>
                    </template>

                    <template v-slot:item.total_amount="{item}">
                        <span>{{ item.total_amount | currency('S/') }}</span>
                    </template>

                    <template v-slot:item.amount_close_cash="{item}">
                        <span>{{ item.amount_close_cash | currency('S/') }}</span>
                    </template>

                    <template v-slot:item.amount_close_cards="{item}">
                        <span>{{ item.amount_close_cards | currency('S/') }}</span>
                    </template>

                    <template v-slot:item.status="{item}">
                        <span v-if="item.status == 'abierta'" :class="'cash-label cash-' + item.status">
                            En uso
                        </span>
                        <span v-else :class="'cash-label cash-' + item.condition">
                            {{ item.condition }}
                        </span>
                    </template>

                    <template v-slot:item.close_date="{item}">
                        <span v-if="item.close_date">{{ item.close_date | moment("DD/MM/YYYY") }}</span>
                    </template>

                    <template v-slot:item.hour_close="{item}">
                        <span v-if="item.close_date">{{ item.close_date | moment("hh:mm a") }}</span>
                    </template>

                    <template v-slot:item.actions="{item}">
                        <v-btn color="#3f51b5" 
                            @click="handleViewDetail(item)"
                            v-if="verifyPermission('ver_detalle_historial')"
                            icon>
                            <v-icon size="16">fas fa-bars</v-icon>
                        </v-btn>

                        <v-btn v-if="item.status == 'abierta'"
                            class="btn-close-cash"
                            icon
                            color="error"
                            @click="handleCloseCash(item)">
                            <v-icon size="16">fas fa-lock</v-icon>
                        </v-btn>
                    </template>

                </v-data-table>
            </v-card>
        </v-col>
    </v-row>
    <detail-history ref="detailHistory"></detail-history>

    <close-cash ref="closeCash"></close-cash>
</v-container>
    
</template>

<script>
import { mapActions, mapMutations, mapState } from 'vuex';

import ApiReports from '../../apis/Reports'

import DetailHistory from '../../components/Cashflow/DetailHistory';
import CloseCash from '../../components/Cashflow/CloseCash';

export default {
    name: 'HistoryCash',
    components: {
        DetailHistory,
        CloseCash
    },
    data() {
        return {
            cashes: [],
            menuFromDate: false,
            from_date: null,
            menuUntilDate: false,
            until_date: null,
            headers: [
                { text: 'FECHA', value: 'register_date', class: 'header-table', sortable:false },
                { text: 'HORA', value: 'hour_date', class: 'header-table', sortable:false },                
                { text: 'M. APERTURA', value: 'amount_open', align: 'end', class: 'header-table', sortable:false },
                { text: 'TOTAL', value: 'total_amount', align: 'end',class: 'header-table', sortable:false },
                { text: 'M. CIERRE EFECTIVO', value: 'amount_close_cash', align: 'end', class: 'header-table', sortable:false },
                { text: 'M. CIERRE TARJETA', value: 'amount_close_cards', align: 'end', class: 'header-table', sortable:false },
                { text: 'ESTADO', value: 'status', class: 'header-table', sortable:false },
                { text: 'FECHA CIERRE', value: 'close_date', class: 'header-table', sortable:false },
                { text: 'HORA CIERRE', value: 'hour_close', class: 'header-table', sortable:false },
                { text: '', value: 'actions', sortable:false },
            ],
        }
    },
    computed: {
        ...mapState('cash', [
            'cashSelected',
            'cashItem',
            'history'
        ])
    },
    methods: {
        ...mapActions('cash', [
            'runSetDateFilter',
            'selectCash',
            'getIncomes',
            'getTotalByCash',
            'getHistory'
        ]),
        async getCashes(){
            let params = {
                from: this.from_date,
                until: this.until_date
            }
            
            await this.getHistory(params);
        },
        handleClearFrom(){
            this.from_date = null
            this.getCashes()
        },
        handleClearUntil(){
            this.until_date = null
            this.getCashes()
        },
        handleChangeFormDate(){
            this.getCashes()
        },
        handleChangeUntilDate(){
            this.getCashes()
        },
        async handleViewDetail(itemCash) {
            let dateParam = this.prepareDate(new Date(itemCash.register_date))
            this.runSetDateFilter(dateParam)
            this.selectCash(itemCash);
            await this.getIncomes(this.cashSelected.id);
            this.$refs.detailHistory.showForm(itemCash.id, dateParam)
        },
        prepareDate(dataDate) {
            let year = dataDate.getFullYear()
            let month = dataDate.getMonth() + 1
            let day = dataDate.getDate()

            if (month < 10) {
                month = '0' + month.toString()
            }

            if (day < 10) {
                day = '0' + day.toString()
            }

            let dateValue = year + '-' + month + '-' + day
            return dateValue
        },
        verifyPermission(permission) {
            return this.$hasPermision(permission)
        },
        async handleCloseCash (cash) {
            let date_filter = cash.register_date.substring(0,10);
            await this.getTotalByCash({
                cash_id: cash.id,
                date_filter: date_filter
            });
            console.log(this.cashItem);
            if (this.cashItem) {
                this.$refs.closeCash.show(this.cashItem);
            }
            
        }
    },
    mounted() {
        this.getCashes()
    }
}
</script>

<style>
.cash-label{
    display: inline-block;
    width: 100px;
    text-align: center;
    border-radius: 6px;
    font-size: 12px;
    text-transform: uppercase;
}

.cash-abierta{
    border: 1px solid #1E88E5;
    background-color: #1E88E5;
    color: white;
}

.cash-sobrante{
    border: 1px solid #FFB300;
    background-color: #FFB300;
    color: white;
}

.cash-cuadre{
    border: 1px solid #43A047;
    background-color: #43A047;
    color: white;
}

.cash-faltante{
    border: 1px solid #E53935;
    background-color: #E53935;
    color: white;
}

.btn-close-cash{
    display: inline-block !important;
}
</style>