<template>
    <v-container app :fluid="true" class="pt-0">
        <v-row>
            <v-col cols="3">
                <v-autocomplete v-model="filters.user_id"
                    ref="user_id"
                    :items="deliveryUsers"
                    solo
                    dense                                    
                    clearable 
                    clear-icon="far fa-times-circle"               
                    label="Repartidor"
                    persistent-hint
                    :item-text="customTextDelivery"
                    item-value="id"
                    @change="handleChangeUser"
                    hide-details="auto"
                    >
                    <template v-slot:item="data">
                        <v-list-item-content class="pt-1 pb-1">
                            <v-list-item-title>{{ data.item.fullname }}</v-list-item-title>
                        </v-list-item-content>                                    
                    </template>
                </v-autocomplete>
            </v-col>
            <v-col cols="3">
                <v-menu
                    v-model="menuDateFrom"
                    :close-on-content-click="false"
                    :nudge-right="40"
                    transition="scale-transition"
                    offset-y
                    min-width="290px"
                >
                    <template v-slot:activator="{ on }">
                        <v-text-field
                        v-model="filters.date_from"
                        label="Desde"
                        readonly
                        dense
                        solo
                        clearable
                        v-on="on"
                        @click:clear="handleClearDateFrom"
                        hide-details                                    
                        ></v-text-field>
                    </template>
                    <v-date-picker v-model="filters.date_from" 
                        @input="menuDateFrom = false" 
                        no-title 
                        @change="handleChangeDateFrom"
                        locale="es">
                    </v-date-picker>
                </v-menu>
            </v-col>
            <v-col cols="3">
                <v-menu
                    v-model="menuDateUntil"
                    :close-on-content-click="false"
                    :nudge-right="40"
                    transition="scale-transition"
                    offset-y
                    min-width="290px"
                >
                    <template v-slot:activator="{ on }">
                        <v-text-field
                        v-model="filters.date_until"
                        label="Desde"
                        readonly
                        dense
                        solo
                        clearable
                        v-on="on"
                        @click:clear="handleClearDateUntil"
                        hide-details                                    
                        ></v-text-field>
                    </template>
                    <v-date-picker v-model="filters.date_until" 
                        @input="menuDateUntil = false" 
                        no-title 
                        @change="handleChangeDateUntil"
                        locale="es">
                    </v-date-picker>
                </v-menu>
            </v-col>
            <v-col cols="3">
                <v-btn color="green"
                    dark
                    class="float-right ml-1"
                    @click="handleDownload">
                    Descargar
                </v-btn>
                <v-btn color="indigo"
                    dark
                    class="float-right"
                    @click="handleViewRegister">
                    Nuevo
                </v-btn>
            </v-col>
        </v-row>
        <v-row>
            <v-col cols="12" class="pt-0">
                <v-card class="pt-0">
                    <template>
                        <v-col cols="12" class="pt-0 pl-0 pr-0">
                            <v-data-table
                                class="wost-table table-report-sale"
                                :headers="headers"
                                :items="takings"
                                item-key="id"
                                fixed-header
                                no-data-text=""
                            >
                                <template v-slot:item.register_date="{item}">
                                    <span>{{ item.register_date | moment("DD/MM/YYYY") }}</span>
                                </template>

                                <template v-slot:item.user_id="{item}">
                                    <span v-if="item.first_name" class="mr-1">
                                        {{ item.first_name }}
                                    </span>
                                    <span v-if="item.last_name">
                                        {{ item.last_name }}
                                    </span>
                                </template>

                                <template v-slot:item.total_sales="{item}">
                                    <span>{{ item.total_sales | currency('S/') }}</span>
                                </template>

                                <template v-slot:item.total_expenses="{item}">
                                    <span>{{ item.total_expenses | currency('S/') }}</span>
                                </template>

                                <template v-slot:item.total_delivered="{item}">
                                    <span>{{ item.total_delivered | currency('S/') }}</span>
                                </template>

                                <template v-slot:item.actions="{item}">
                                    <v-icon color="red"
                                        size="18"
                                        @click="handleDeleteTaking(item)">
                                        far fa-times-circle
                                    </v-icon>
                                </template>

                            </v-data-table>
                        </v-col>
                    </template>
                </v-card>
            </v-col>
        </v-row>

        <register-taking ref="registerTaking"></register-taking>
    </v-container>
</template>

<script>
import {mapActions, mapState} from 'vuex';
import ApiTaking from '../../apis/Takings';
import RegisterTaking from '../../components/Takings/RegisterTaking';

export default {
    name: 'Takings',
    components: {
        RegisterTaking
    },
    data () {
        return {
            menuDateFrom: false,
            menuDateUntil: false,
            filters: {
                user_id: null,
                date_from: null,
                date_until: null
            },
            headers: [
                { text: 'Fecha', value: 'register_date', align: 'left', sortable: false, class: 'header-table' },
                { text: 'Repartidor', value: 'user_id', align: 'left', sortable: false, class: 'header-table' },
                { text: 'Total Ventas', value: 'total_sales', align: 'end', sortable: false, class: 'header-table' },
                { text: 'Total Egresos', value: 'total_expenses', align: 'end', sortable: false, class: 'header-table' },
                { text: 'Total Entregado', value: 'total_delivered', align: 'end', sortable: false, class: 'header-table'},
                { text: '', value: 'actions', sortable: false, class: 'header-table', width: 30 }
            ],
        }
    },
    computed: {
        ...mapState('takings', [
            'takings',
            'taking_response'
        ]),
        ...mapState('orders', [
            'deliveryUsers'
        ]),
    },
    methods: {
        ...mapActions('takings', [
            'getAllTakings',
            'delete'
        ]),
        ...mapActions('orders', [
            'getDeliveryUsers'
        ]),
        customTextDelivery(item){
            let text = item.fullname
            return text
        },
        handleChangeUser (value) {
            this.filters.user_id = null;
            if (value !== undefined && value !== null) {
                this.filters.user_id = value;
            }
            this.handleSearchTaking();
        },
        handleClearDateFrom () {
            this.filters.date_from = null;
            this.handleSearchTaking();
        },
        handleChangeDateFrom (value) {
            this.filters.date_from = value;
            this.handleSearchTaking();
        },
        handleClearDateUntil () {
            this.filters.date_until = null;
            this.handleSearchTaking();
        },
        handleChangeDateUntil (value) {
            this.filters.date_until = value;
            this.handleSearchTaking();
        },
        handleSearchTaking () {
            this.getAllTakings(this.filters);
        },
        handleViewRegister () {
            this.$refs.registerTaking.show();
        },
        handleDeleteTaking (taking) {
            this.$swal({
                    title: "¿Desea confirmar?",
                    text: "Confirma que desea eliminar la recaudación" ,
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Confirmar",
                    cancelButtonText: "Cancelar",
                }).then(async (result) => {
                    if(result.value){
                        if(result.value === true){
                            await this.delete(taking);
                            if (this.taking_response == 'error') {
                                this.$notify({
                                    group: 'foo',
                                    type: 'error',
                                    title: 'ERROR',
                                    text: 'Se detectó un error al realizar eliminación.'
                                });
                            } else {
                                this.$notify({
                                    group: 'foo',
                                    type: 'success',
                                    title: 'ÉXITO',
                                    text: 'La eliminación se realizó de forma correcta.'
                                });
                            }
                            await this.getAllTakings();
                        }
                    }                    
                })
        },
        handleDownload () {
            ApiTaking.download(this.filters)
                .then( (response) => {
                    let blob = new Blob([response.data], {
                        type: "application/vnd.ms-excel"
                    });
                    const url = window.URL.createObjectURL(blob);
                    const link = document.createElement('a');
                    link.href = url;
                    link.setAttribute('download', 'rrecaudaciones.xlsx');
                    document.body.appendChild(link);
                    link.click();
                }).catch( error => {
                    this.$notify({
                        group: 'foo',
                        type: 'error',
                        title: 'ERROR',
                        text: 'Ocurrió un error al descargar reporte'
                    });
                })
        }
    },
    created () {
        this.getAllTakings();
        this.getDeliveryUsers();
    }
}
</script>

<style scoped>

</style>