<template>
<v-container app :fluid="true" class="pt-0">
    <v-row>
        <v-col cols="3">
            <v-card>
                <v-card-text>
                    <v-menu
                        v-model="menuFromDate"
                        :close-on-content-click="false"
                        :nudge-right="40"
                        transition="scale-transition"
                        offset-y
                        min-width="290px"
                    >
                        <template v-slot:activator="{ on }">
                            <v-text-field
                            v-model="from_date"
                            label="Desde"
                            readonly
                            clearable
                            v-on="on"
                            @click:clear="handleClearFrom"
                            hide-details                                    
                            ></v-text-field>
                        </template>
                        <v-date-picker v-model="from_date" @input="menuFromDate = false" no-title @change="handleChangeFormDate">
                        </v-date-picker>
                    </v-menu>
                </v-card-text>
            </v-card>
        </v-col>

        <v-col cols="3">
            <v-card>
                <v-card-text>
                    <v-menu
                        v-model="menuUntilDate"
                        :close-on-content-click="false"
                        :nudge-right="40"
                        transition="scale-transition"
                        offset-y
                        min-width="290px"
                    >
                        <template v-slot:activator="{ on }">
                            <v-text-field
                            v-model="until_date"
                            label="Hasta"
                            readonly
                            clearable
                            v-on="on"
                            @click:clear="handleClearUntil"
                            hide-details
                            ></v-text-field>
                        </template>
                        <v-date-picker v-model="until_date" @input="menuUntilDate = false" no-title @change="handleChangeUntilDate"></v-date-picker>
                    </v-menu>
                </v-card-text>
            </v-card>
        </v-col>
    </v-row>
    <v-row>
        <v-col cols="12">
            <v-card>
                <template>
                    <v-row>
                        <v-col cols="12" class="pt-0">
                            <v-simple-table class="wost-table-detail wost-scroll" height="70vh" >
                                <thead class="debt-header-payment">
                                    <tr>
                                        <th class="text-left">Fecha</th>
                                        <th class="text-left">Monto de Apertura</th>
                                        <th class="text-left">Ingresos</th>
                                        <th class="text-left">Egresos</th>
                                        <th class="text-left">Total</th>
                                        <th class="text-left">Monto de Cierre Efectivo</th>
                                        <th class="text-left">Monto de Cierre Tarjeta</th>
                                        <th class="text-center">Estado</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="item in cashes" :key="item.id">
                                        <td>{{ item.register_date | moment("DD/MM/YYYY") }}</td>
                                        <td>{{ item.amount_open | currency('S/') }}</td>
                                        <td>{{ item.amount_income | currency('S/') }}</td>
                                        <td>{{ item.amount_expense | currency('S/') }}</td>
                                        <td>{{ item.total_amount | currency('S/') }}</td>
                                        <td>{{ item.amount_close_cash | currency('S/') }}</td>
                                        <td>{{ item.amount_close_cards | currency('S/') }}</td>
                                        <td class="text-center">
                                            <span v-if="item.status == 'abierta'" :class="'cash-label cash-' + item.status">
                                                En uso
                                            </span>
                                            <span v-else :class="'cash-label cash-' + item.condition">
                                                {{ item.condition }}
                                            </span>
                                        </td>
                                        <td class="text-center">
                                            <v-btn icon @click="handleViewDetail(item)">
                                                <v-icon>fas fa-external-link-alt</v-icon>
                                            </v-btn>
                                        </td>
                                    </tr>
                                </tbody>
                            </v-simple-table>
                        </v-col>
                    </v-row>
                </template>
            </v-card>
        </v-col>
    </v-row>
</v-container>
    
</template>

<script>
import ApiReports from '../../apis/Reports'

export default {
    name: 'Cash',
    data() {
        return {
            cashes: [],
            menuFromDate: false,
            from_date: null,
            menuUntilDate: false,
            until_date: null
        }
    },
    methods: {
        getCashes(){
            let params = {
                from: this.from_date,
                until: this.until_date
            }
            ApiReports.cash(params)
                    .then(({data}) => {
                        this.cashes = data
                    })
        },
        handleClearFrom(){
            this.from_date = null
            this.getCashes()
        },
        handleClearUntil(){
            this.until_date = null
            this.getCashes()
        },
        handleChangeFormDate(){
            this.getCashes()
        },
        handleChangeUntilDate(){
            this.getCashes()
        },
        handleViewDetail(itemCash) {
            console.log(itemCash)
        }
    },
    mounted() {
        this.getCashes()
    }
}
</script>

<style>
.cash-label{
    display: inline-block;
    width: 100px;
    text-align: center;
    border-radius: 6px;
    font-size: 12px;
    text-transform: uppercase;
}

.cash-abierta{
    border: 1px solid #1E88E5;
    background-color: #1E88E5;
    color: white;
}

.cash-sobrante{
    border: 1px solid #FFB300;
    background-color: #FFB300;
    color: white;
}

.cash-cuadre{
    border: 1px solid #43A047;
    background-color: #43A047;
    color: white;
}

.cash-faltante{
    border: 1px solid #E53935;
    background-color: #E53935;
    color: white;
}
</style>