<template>
    <v-container app :fluid="true" class="pt-0">
        <v-row>
            <v-col cols="3">
                <v-autocomplete v-model="filters.customer_id"
                    :items="customers"
                    dense
                    solo
                    clearable 
                    clear-icon="far fa-times-circle"               
                    label="Clientes"
                    persistent-hint
                    :item-text="customText"
                    item-value="id"
                    hide-details
                    @change="handleSelecteCustomer"
                    :filter="customFilter"
                >
                    <template v-slot:item="data">
                        <v-list-item-content>
                            <v-list-item-title v-if="data.item.type_document === 'DNI' ">{{ data.item.name }} {{ data.item.surname }}</v-list-item-title>
                            <v-list-item-title v-else>{{ data.item.name }}</v-list-item-title>
                            <v-list-item-subtitle>{{ data.item.type_document }}: {{ data.item.document }}</v-list-item-subtitle>
                        </v-list-item-content>
                    </template>
                </v-autocomplete>
            </v-col>

            <v-col cols="2">
                <v-select v-model="filters.payment_method"
                    :items="methods"
                    label="Método de pago"
                    dense
                    solo
                    clearable
                    @change="handleChangePaymentMethod"
                ></v-select>
            </v-col>

            <v-col cols="2">
                <v-select v-model="filters.status"
                    :items="status_list"
                    label="Estado"
                    dense
                    solo
                    clearable
                    @change="handleChangeStatus"
                ></v-select>
            </v-col>

            <v-col cols="2">
                <v-menu
                    v-model="menuFromDate"
                    :close-on-content-click="false"
                    :nudge-right="40"
                    transition="scale-transition"
                    offset-y
                    min-width="290px"
                >
                    <template v-slot:activator="{ on }">
                        <v-text-field
                        v-model="filters.date_from"
                        label="Desde"
                        dense
                        solo
                        readonly
                        clearable
                        v-on="on"
                        @click:clear="handleClearDateFrom"
                        hide-details                                    
                        ></v-text-field>
                    </template>
                    <v-date-picker v-model="filters.date_from" 
                        @input="menuFromDate = false" 
                        no-title 
                        @change="handleChangeDateFrom"
                        locale="es"
                    >
                    </v-date-picker>
                </v-menu>
            </v-col>

            <v-col cols="2">
                <v-menu
                    v-model="menuUntilDate"
                    :close-on-content-click="false"
                    :nudge-right="40"
                    transition="scale-transition"
                    offset-y
                    min-width="290px"
                >
                    <template v-slot:activator="{ on }">
                        <v-text-field
                        v-model="filters.date_until"
                        label="Hasta"
                        solo
                        dense
                        readonly
                        clearable
                        v-on="on"
                        @click:clear="handleClearDateUntil"
                        hide-details
                        ></v-text-field>
                    </template>
                    <v-date-picker v-model="filters.date_until" 
                        @input="menuUntilDate = false" 
                        no-title 
                        @change="handleChangeDateUntil"
                        locale="es"
                    ></v-date-picker>
                </v-menu>
            </v-col>

            <v-col cols="1">
                <v-btn color="success" 
                    dark
                    @click="handleDownload">
                    <v-icon size="14" class="mr-1">fas fa-download</v-icon>
                    XLS
                </v-btn>
            </v-col>
        </v-row>

        <v-row>
            <v-col cols="12" class="pt-0">
                <v-card class="pt-0">
                    <template>
                        <v-col cols="12" class="pt-0 pl-0 pr-0">
                            <v-data-table
                                class="wost-table table-report-sale"
                                :headers="headers"
                                :items="payments"
                                item-key="id"
                                fixed-header
                                no-data-text=""

                            >
                                <template v-slot:item.customer_name="{item}">
                                    <span v-if="item.customer_surname"> 
                                        {{ item.customer_name }} {{ item.customer_surname }}
                                    </span>
                                    <span v-else>
                                        {{ item.customer_name }}
                                    </span>
                                </template>
                                <template v-slot:item.serie="{item}">
                                    <span>{{ item.serie }}-{{ item.correlative }}</span>
                                </template>

                                <template v-slot:item.payment_date="{item}">
                                    <span>{{ item.payment_date | moment("DD/MM/YYYY") }}</span>
                                </template>

                                <template v-slot:item.user_name="{item}">
                                    <span v-if="item.user_name" class="ml-1">{{ item.user_name }}</span>
                                    <span v-if="item.user_surname">{{ item.user_surname }}</span>
                                </template>

                                <template v-slot:item.payment_method="{item}">
                                    <span :class="'payment-method ' + item.payment_method.toLowerCase()">
                                        {{ item.payment_method }}
                                    </span>
                                </template>

                                <template v-slot:item.payment_amount="{item}">
                                    <span>{{ item.payment_amount | currency('S/') }}</span>
                                </template>

                                <template v-slot:item.confirmed="{item}">
                                    <span v-if="item.confirmed == 1"
                                        class="payment-status label-confirmed">
                                        <v-icon class="mr-1" size="12" color="green">
                                            fas fa-check
                                        </v-icon>
                                        CONFIRMADO
                                    </span>
                                    <span v-else
                                        class="payment-status label-pending">
                                        PENDIENTE
                                    </span>
                                </template>

                                <template v-slot:item.actions="{item}">
                                    <v-icon v-if="item.confirmed != 1"
                                        color="success"
                                        size="16"
                                        @click="handleConfirmPayment(item)">
                                        fas fa-check-circle
                                    </v-icon>
                                </template>
                            </v-data-table>
                        </v-col>
                    </template>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
import {mapActions, mapState} from 'vuex';

import ApiDetailPayment from '../../apis/DetailPayment';

import VoucherTools from '../../helpers/VoucherTools';

import JQuery from 'jquery';
let $ = JQuery;

export default {
    name: 'DetailPayments',
    data () {
        return {
            menuFromDate: false,
            menuUntilDate: false,
            methods: ['CASH', 'TRANSFERENCIA', 'YAPE'],
            status_list: ['CONFIRMADO', 'PENDIENTE'],
            filters: {
                customer_id: null,
                payment_method: null,
                status: null,
                date_from: null,
                date_until: null,

            },
            headers: [
                { text: 'Cliente', value: 'customer_name', align: 'left', sortable: false, class: 'header-table' },
                { text: 'Ruc / Dni', value: 'customer_document', align: 'left', sortable: false, class: 'header-table', width: 100 },
                { text: 'Comprobante', value: 'type_document', align: 'left', sortable: false, class: 'header-table', width: 120 },
                { text: 'Nro. Comprobante', value: 'serie', align: 'left', sortable: false, class: 'header-table', width: 150 },
                { text: 'Fecha', value: 'payment_date', align: 'left', sortable: false, class: 'header-table', width: 120},
                { text: 'Repartidor', value: 'user_name', align: 'left', sortable: false, class: 'header-table'},
                { text: 'Método de pago', value: 'payment_method', align: 'left', sortable: false, class: 'header-table', width: 140 },
                { text: 'Monto Pagado', value: 'payment_amount', align: 'end', sortable: false, class: 'header-table', width: 130 },
                { text: 'Estado', value: 'confirmed', align: 'left', sortable: false, class: 'header-table', width: 120 },
                { text: '', value: 'actions', sortable: false, class: 'header-table', width: 30 }
            ],

        }
    },

    computed: {
        ...mapState('authentication', [
            'companyData'
        ]),
        ...mapState('detail-payments', [
            'payments',
            'response_payments',
            'invoice'
        ]),
        ...mapState('customers', [
            'customers'
        ]),
    },
    methods: {
        ...mapActions('detail-payments', [
            'getAllPayments',
            'storeConfirmation'
        ]),
        ...mapActions('customers', [
            'getAllCustomers'
        ]),
        loadData () {
            this.getAllPayments(this.filters);
        },
        customText(item){
            let text = item.name
            if (item.type_document === 'DNI') {
                text = item.name + ' ' + item.surname
            }
            return text
        },
        customFilter(item, queryText, itemText) {
            let textName = '';
            if (item.name) {
                textName = item.name.toLowerCase(); 
                if (item.surname) {
                    textName += item.surname.toLowerCase();
                }           
            }

            let textDocument = '';
            if (item.document) {
                textDocument = item.document.toLowerCase();
            }
            
            let searchText = queryText.toLowerCase()

            return textName.indexOf(searchText) > -1 || textDocument.indexOf(searchText) > -1
        },
        handleSelecteCustomer(value){
            this.filters.customer_id = null            
            if(value !== undefined && value !== null){
                this.filters.customer_id = value
            }
            this.loadData()
        },
        handleChangePaymentMethod (value) {
            this.filters.payment_method = null;
            if(value !== undefined && value !== null){
                this.filters.payment_method = value
            }
            this.loadData();
        },
        handleChangeStatus (value) {
            this.filters.status = null;
            if(value !== undefined && value !== null){
                this.filters.status = value
            }
            this.loadData();
        },
        handleClearDateFrom(){
            this.filters.date_from = null;
            this.loadData();
        },
        handleChangeDateFrom(){
            this.loadData();
        },
        handleClearDateUntil(){
            this.filters.date_until = null;
            this.loadData();
        },
        handleConfirmPayment (payment) {
            let customer = payment.customer_name;
            if (payment.customer_surname) {
                customer += " " + payment.customer_surname;
            }
            let message = "Esta seguro que desea confirmar el pago de " + customer;
            if (payment.type_document == 'TICKET') {
                let type_voucher = 'boleta';
                if (payment.customer_type_document == 'RUC') {
                    type_voucher = 'factura';
                }
                message = "Esta seguro que desea confirmar el pago de " + customer + ", y generar " + type_voucher;
            }
            this.$swal({
                    title: "¿Desea confirmar?",
                    text: message ,
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Confirmar",
                    cancelButtonText: "Cancelar",
                }).then(async (result) => {
                    if(result.value){
                        if(result.value === true){
                            await this.storeConfirmation({
                                detail_id: payment.id
                            });
                            if (this.response_payments == 'error') {
                                this.$notify({
                                    group: 'foo',
                                    type: 'error',
                                    title: 'ERROR',
                                    text: 'Se detectó un error al realizar confirmación de pago.'
                                });
                            } else {
                                this.loadData();
                                if (this.invoice) {
                                    if (this.invoice.printer == 'si') {
                                        if (this.invoice.invoice) {
                                            this.handlePrintVoucher(this.invoice.invoice);
                                        }
                                    }
                                }
                                this.$notify({
                                    group: 'foo',
                                    type: 'success',
                                    title: 'ÉXITO',
                                    text: 'Confirmación de pago fue realizada de forma exitosa'
                                });
                            }
                        }
                    }                    
                })
        },
        handleDownload () {
            ApiDetailPayment.downloadPayments(this.filters)
                    .then( (response) => {
                        let blob = new Blob([response.data], {
                            type: "application/vnd.ms-excel"
                        });
                        const url = window.URL.createObjectURL(blob);
                        const link = document.createElement('a');
                        link.href = url;
                        link.setAttribute('download', 'rpagos.xlsx');
                        document.body.appendChild(link);
                        link.click();
                    }).catch( error => {
                        this.$notify({
                            group: 'foo',
                            type: 'error',
                            title: 'ERROR',
                            text: 'Ocurrió un error al descargar reporte'
                        });
                    }) 
        },
        async handlePrintVoucher (order) {
            if (order) {
                if (order.type_document == 'FACTURA' || order.type_document == 'BOLETA') {
                    let content = await VoucherTools.generateVoucherSale(order, this.companyData);
                    this.printVoucher(content);
                } 
            }
        },
        printVoucher (content) {
            $('<iframe>', {name: 'voucheriframe',class: 'printFrame'})
            .appendTo('body')
            .contents().find('body')
            .append(content);

            window.frames['voucheriframe'].focus();
            setTimeout(() => {                 
                window.frames['voucheriframe'].print();
            }, 500);

            setTimeout(() => { $(".printFrame").remove(); }, 1000);
        },
        handleChangeDateUntil () {
            this.loadData();
        },
    },
    created () {
        this.getAllCustomers();
        this.loadData();
    }
}
</script>

<style scoped>
.payment-status{
    display: block;
    font-size: .7rem;
    text-align: center;
    font-weight: 500;
}

.payment-method{
    display: block;
    border: 1px solid;
    border-radius: 3px;
    font-size: .7rem;
    text-align: center;
    font-weight: 500;
}

.label-confirmed{
    color: #4CAF50;
}

.label-pending{
    color: #F44336;
}

.cash{
    background-color: #43A047;
    color: #ffffff;
}

.transferencia{
    background-color: #1A237E;
    color: #ffffff;
}

.yape{
    background-color: #952ab3;
    color: #ffffff;
}
</style>