<template>
    <v-container app :fluid="true" class="pt-0">
        <v-row>
            <v-col cols="3">
                <v-autocomplete v-model="filters.customer_id"
                    :items="customers"
                    dense
                    solo
                    clearable 
                    clear-icon="far fa-times-circle"               
                    label="Clientes"
                    persistent-hint
                    :item-text="customText"
                    item-value="id"
                    hide-details
                    @change="handleSelecteCustomer"
                    :filter="customFilter"
                >
                    <template v-slot:item="data">
                        <v-list-item-content>
                            <v-list-item-title v-if="data.item.type_document === 'DNI' ">{{ data.item.name }} {{ data.item.surname }}</v-list-item-title>
                            <v-list-item-title v-else>{{ data.item.name }}</v-list-item-title>
                            <v-list-item-subtitle>{{ data.item.type_document }}: {{ data.item.document }}</v-list-item-subtitle>
                        </v-list-item-content>
                    </template>
                </v-autocomplete>
            </v-col>

            <v-col cols="3">
                <v-autocomplete v-model="filters.product_id"
                    :items="products"
                    dense
                    solo
                    clearable 
                    clear-icon="far fa-times-circle"               
                    label="Producto"
                    persistent-hint
                    :item-text="customTextProducts"
                    item-value="id"
                    hide-details
                    @change="handleSelectProduct"
                ></v-autocomplete>
            </v-col>

            <v-col cols="2">
                <v-menu
                    v-model="menuFromDate"
                    :close-on-content-click="false"
                    :nudge-right="40"
                    transition="scale-transition"
                    offset-y
                    min-width="290px"
                >
                    <template v-slot:activator="{ on }">
                        <v-text-field
                        v-model="filters.date_from"
                        label="Desde"
                        dense
                        solo
                        readonly
                        clearable
                        v-on="on"
                        hide-details                                    
                        ></v-text-field>
                    </template>
                    <v-date-picker v-model="filters.date_from" 
                        @input="menuFromDate = false" 
                        no-title 
                        @change="handleChangeDateFrom"
                        locale="es"
                    >
                    </v-date-picker>
                </v-menu>
            </v-col>

            <v-col cols="2">
                <v-menu
                    v-model="menuUntilDate"
                    :close-on-content-click="false"
                    :nudge-right="40"
                    transition="scale-transition"
                    offset-y
                    min-width="290px"
                >
                    <template v-slot:activator="{ on }">
                        <v-text-field
                        v-model="filters.date_until"
                        label="Hasta"
                        solo
                        dense
                        readonly
                        clearable
                        v-on="on"
                        hide-details
                        ></v-text-field>
                    </template>
                    <v-date-picker v-model="filters.date_until" 
                        @input="menuUntilDate = false" 
                        no-title 
                        @change="handleChangeDateUntil"
                        locale="es"
                    ></v-date-picker>
                </v-menu>
            </v-col>

            <v-col cols="2">
                <v-menu offset-y>
                    <template v-slot:activator="{ on }">
                        <v-btn color="primary" dark v-on="on">
                            Acciones
                        </v-btn>                        
                    </template>
                    <v-list dense>
                        <v-list-item @click="handleViewRegisterLoan">
                            <v-list-item-title>
                                <span>Registrar Préstamo</span>
                            </v-list-item-title>
                        </v-list-item>
                        <v-divider></v-divider>
                        <v-list-item @click="handleViewRegisterReturn">
                            <v-list-item-title>
                                <span>Registrar Devolución</span>
                            </v-list-item-title>
                        </v-list-item>
                        <v-divider></v-divider>
                        <v-list-item @click="handleDownloadDetailedReport">
                            <v-list-item-title>
                                <span>Decargar Reporte Detallado</span>
                            </v-list-item-title>
                        </v-list-item>
                        <v-divider></v-divider>
                        <v-list-item @click="handleDownloadSummaryReport">
                            <v-list-item-title>
                                <span>Decargar Reporte Resumido</span>
                            </v-list-item-title>
                        </v-list-item>
                    </v-list>
                </v-menu>
            </v-col>
        </v-row>

        <v-row justify="center">
            <v-col cols="3">
                <v-card dark color="red">
                    <v-card-title class="pt-1 pb-1">
                        <span>Cantidad Prestada</span>
                    </v-card-title>
                    <v-card-text class="pt-0">
                        <div class="summary-section">
                            <span><v-icon>fas fa-boxes</v-icon></span>
                            <span class="ml-3 cash-amount">{{ total_loan }}</span>
                        </div>                        
                    </v-card-text>
                </v-card>
            </v-col>
            <v-col cols="3">
                <v-card dark color="green">
                    <v-card-title class="pt-1 pb-1">
                        <span>Cantidad Devuelta</span>
                    </v-card-title>
                    <v-card-text class="pt-0">
                        <div class="summary-section">
                            <span><v-icon>fas fa-boxes</v-icon></span>
                            <span class="ml-3 cash-amount">{{ total_return }}</span>
                        </div>                        
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>

        <v-row>
            <v-col cols="12">
                <v-card>
                    <template>
                        <v-col cols="12" class="pt-0 pl-0 pr-0">
                            <v-data-table
                                class="wost-table table-report-sale"
                                :headers="headers"
                                :items="drums"
                                item-key="id"
                                fixed-header
                                no-data-text=""
                            >

                                <template v-slot:item.customer_name="{ item }">
                                    <span v-if="item.customer_surname">
                                        {{ item.customer_name }} {{ item.customer_surname }} 
                                    </span>
                                    <span v-else>
                                        {{ item.customer_name }}
                                    </span>
                                </template>

                                <template v-slot:item.register_date="{ item }">
                                    {{ item.register_date | moment("DD/MM/YYYY") }}
                                </template>

                                <template v-slot:item.actions="{item}">
                                    <v-icon color="red"
                                        size="16"
                                        @click="handleDelete(item)">
                                        far fa-times-circle
                                    </v-icon>

                                    <v-icon v-if="item.drum_status == 'devuelto' && item.confirmed == 'no'"
                                        class="ml-2"
                                        color="green"
                                        size="16"
                                        @click="handleConfirmReturn(item)">
                                        far fa-check-circle
                                    </v-icon>
                                </template>

                            </v-data-table>
                        </v-col>
                    </template>
                </v-card>
            </v-col>
        </v-row>

        <register-loan ref="registerLoan"></register-loan>
        <register-return ref="registerReturn"></register-return>
    </v-container>
</template>

<script>
import {mapActions, mapState} from 'vuex';

import ApiDrums from '../../apis/Drums';

import RegisterLoan from '../../components/Drums/RegisterLoan';
import RegisterReturn from '../../components/Drums/RegisterReturn';

export default {
    name: 'LoansReturns',
    components: {
        RegisterLoan,
        RegisterReturn
    },
    data () {
        return {
            menuFromDate: false,
            menuUntilDate: false,
            filters: {
                customer_id: null,
                date_from: this.$moment().subtract(30, 'days').format('YYYY-MM-DD'),
                date_until: this.$moment().format('YYYY-MM-DD'),
                product_id: null
            },
            headers: [
                { text: 'Cliente', value: 'customer_name', align: 'left', sortable: false, class: 'header-table' },
                { text: 'Ruc / Dni', value: 'customer_document', align: 'left', sortable: false, class: 'header-table', width: 100 },
                { text: 'Fecha', value: 'register_date', align: 'left', sortable: false, class: 'header-table', width: 120},
                { text: 'Producto', value: 'product_name', align: 'left', sortable: false, class: 'header-table', width: 200 },
                { text: 'Marca', value: 'product_brand', align: 'left', sortable: false, class: 'header-table', width: 130 },
                { text: 'Cantidad', value: 'quantity', align: 'left', sortable: false, class: 'header-table', width: 120 },
                { text: 'Estado', value: 'drum_status', align: 'left', sortable: false, class: 'header-table', width: 130 },
                { text: 'Número de Guía', value: 'loan_guide', sortable: false, class: 'header-table', width: 130 },
                { text: 'Observación', value: 'observation', sortable: false, class: 'header-table', width: 150 },
                { text: '', value: 'actions', sortable: false, class: 'header-table', width: 60 }
            ],
        }
    },
    computed: {
        ...mapState('drums', [
            'drums',
            'filters_drums',
            'total_loan',
            'total_return',
            'response_drums'
        ]),
        ...mapState('customers', [
            'customers'
        ]),
        ...mapState('products', [
            'products'
        ])
    },
    methods: {
        ...mapActions('drums', [
            'getAllDrums',
            'getAllBrandsDrums',
            'calculateTotals',
            'setFiltersDrums',
            'deleteDrumMovement',
            'confirmReturn'
        ]),
        ...mapActions('customers', [
            'getAllCustomers'
        ]),
        ...mapActions('products', [
            'getAllHasReturn'
        ]),
        customTextProducts(item){
            let text = item.name;
            
            return text
        },
        customText(item){
            let text = item.name
            if (item.type_document === 'DNI') {
                text = item.name + ' ' + item.surname
            }
            return text
        },
        customFilter(item, queryText, itemText) {
            let textName = '';
            if (item.name) {
                textName = item.name.toLowerCase(); 
                if (item.surname) {
                    textName += item.surname.toLowerCase();
                }           
            }

            let textDocument = '';
            if (item.document) {
                textDocument = item.document.toLowerCase();
            }
            
            let searchText = queryText.toLowerCase()

            return textName.indexOf(searchText) > -1 || textDocument.indexOf(searchText) > -1
        },
        handleSelecteCustomer(value){
            this.filters.customer_id = null            
            if(value !== undefined && value !== null){
                this.filters.customer_id = value
            }
            this.getDataFromDrums()
        },
        handleSelectProduct (value) {
            this.filters.product_id = null;     
            if(value !== undefined && value !== null){
                this.filters.product_id = value;
            }
            this.getDataFromDrums();
        },
        handleClearDateFrom(){
            this.filters.date_from = null;
            this.getDataFromDrums();
        },
        handleChangeDateFrom(){
            this.getDataFromDrums();
        },
        handleClearDateUntil(){
            this.filters.date_until = null;
            this.getDataFromDrums();
        },
        handleChangeDateUntil () {
            this.getDataFromDrums();
        },
        async getDataFromDrums () {
            let filtersData = Object.assign({}, this.filters);
            this.setFiltersDrums(filtersData);
            await this.getAllDrums(this.filters);
            this.calculateTotals();
        },        
        handleViewRegisterLoan () {
            this.$refs.registerLoan.show();
        },
        handleViewRegisterReturn () {
            this.$refs.registerReturn.show();
        },
        handleDelete (drum_item) {
            let status = 'prestamo';
            if (drum_item.drum_status == 'devuelto') {
                status = 'devolución';
            }
            let drum_id = drum_item.id;          
            this.$swal({
                    title: "¿Desea confirmar?",
                    text: "Confirma que desea eliminar " + status ,
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Confirmar",
                    cancelButtonText: "Cancelar",
                }).then(async (result) => {
                    if(result.value){
                        if(result.value === true){
                            await this.deleteDrumMovement(drum_id);
                            if (this.response_drums == 'error') {
                                this.$notify({
                                    group: 'foo',
                                    type: 'error',
                                    title: 'ERROR',
                                    text: 'Se detectó un error al realizar eliminación.'
                                });
                            } else {
                                this.$notify({
                                    group: 'foo',
                                    type: 'success',
                                    title: 'ÉXITO',
                                    text: 'La eliminación se realizó de forma correcta.'
                                });
                            }
                            await this.getAllDrums(this.filters_drums);
                            this.calculateTotals();
                        }
                    }                    
                })
        },
        handleConfirmReturn (item) {
            this.$swal({
                    title: "¿Desea confirmar?",
                    text: "Esta seguro(a) que desea confirmar la devolución",
                    icon: "question",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Confirmar",
                    cancelButtonText: "Cancelar",
                }).then(async (result) => {
                    if(result.value){
                        if(result.value === true){
                            let params = {
                                drum_id: item.id,
                                product_id: item.product_id,
                                brand_name: item.product_brand,
                                quantity: item.quantity
                            };
                            await this.confirmReturn(params);
                            if (this.response_drums == 'error') {
                                this.$notify({
                                    group: 'foo',
                                    type: 'error',
                                    title: 'ERROR',
                                    text: 'Se detectó un error al confirmar devolución.'
                                });
                            } else {
                                this.$notify({
                                    group: 'foo',
                                    type: 'success',
                                    title: 'ÉXITO',
                                    text: 'La confirmación se realizó de forma correcta.'
                                });
                                await this.getAllDrums(this.filters_drums);
                                this.calculateTotals();
                            }                            
                        }
                    }                    
                })
        },
        handleDownloadDetailedReport () {
            ApiDrums.downloadDetailed(this.filters)
                .then( (response) => {
                    let blob = new Blob([response.data], {
                        type: "application/vnd.ms-excel"
                    });
                    const url = window.URL.createObjectURL(blob);
                    const link = document.createElement('a');
                    link.href = url;
                    link.setAttribute('download', 'prestamos-devoluciones-detallado.xlsx');
                    document.body.appendChild(link);
                    link.click();
                }).catch( error => {
                    this.$notify({
                        group: 'foo',
                        type: 'error',
                        title: 'ERROR',
                        text: 'Ocurrió un error al descargar reporte'
                    });
                })
        },
        handleDownloadSummaryReport () {
            ApiDrums.downloadSummary(this.filters)
                .then( (response) => {
                    let blob = new Blob([response.data], {
                        type: "application/vnd.ms-excel"
                    });
                    const url = window.URL.createObjectURL(blob);
                    const link = document.createElement('a');
                    link.href = url;
                    link.setAttribute('download', 'prestamos-devoluciones-resumido.xlsx');
                    document.body.appendChild(link);
                    link.click();
                }).catch( error => {
                    this.$notify({
                        group: 'foo',
                        type: 'error',
                        title: 'ERROR',
                        text: 'Ocurrió un error al descargar reporte'
                    });
                })
        }
    },
    created () {
        this.getAllBrandsDrums();
        this.getAllHasReturn();
        this.getAllCustomers();
        this.getDataFromDrums();
    }
}
</script>

<style scoped>

</style>