<template>
  <v-container app :fluid="true" class="pt-0">
    <v-row>
      <v-col cols="3" class="pt-1">
        <v-autocomplete
            :items="customers"
            dense
            solo
            clearable
            clear-icon="far fa-times-circle"
            label="Clientes"
            persistent-hint
            :item-text="customText"
            item-value="id"
            hide-details
            @change="handleSelecteCustomer"
            :filter="customFilter"
        >
          <template v-slot:item="data">
            <v-list-item-content>
              <v-list-item-title v-if="data.item.type_document === 'DNI' ">{{ data.item.name }} {{
                  data.item.surname
                }}
              </v-list-item-title>
              <v-list-item-title v-else>{{ data.item.name }}</v-list-item-title>
              <v-list-item-subtitle>{{ data.item.type_document }}: {{ data.item.document }}</v-list-item-subtitle>
            </v-list-item-content>
          </template>
        </v-autocomplete>
      </v-col>

      <v-col cols="3" class="pt-1">
        <v-combobox
            v-model="type_document"
            :items="types_documents"
            label="Comprobante"
            dense
            solo
            hide-details
            @change="handleSelectTypeDocument"
            clearable
        ></v-combobox>
      </v-col>

      <v-col cols="2" class="pt-1">
        <v-menu
            v-model="menuFromDate"
            :close-on-content-click="false"
            :nudge-right="40"
            transition="scale-transition"
            offset-y
            min-width="290px"
        >
          <template v-slot:activator="{ on }">
            <v-text-field
                v-model="from_date"
                label="Desde"
                readonly
                dense
                solo
                clearable
                v-on="on"
                @click:clear="handleClearFrom"
                hide-details
            ></v-text-field>
          </template>
          <v-date-picker v-model="from_date"
                         @input="menuFromDate = false"
                         no-title
                         @change="handleChangeFormDate"
                         locale="es">
          </v-date-picker>
        </v-menu>
      </v-col>

      <v-col cols="2" class="pt-1">
        <v-menu
            v-model="menuUntilDate"
            :close-on-content-click="false"
            :nudge-right="40"
            transition="scale-transition"
            offset-y
            min-width="290px"
        >
          <template v-slot:activator="{ on }">
            <v-text-field
                v-model="until_date"
                label="Hasta"
                dense
                solo
                readonly
                clearable
                v-on="on"
                @click:clear="handleClearUntil"
                hide-details
            ></v-text-field>
          </template>
          <v-date-picker v-model="until_date"
                         @input="menuUntilDate = false"
                         no-title
                         @change="handleChangeUntilDate"
                         locale="es"
          ></v-date-picker>
        </v-menu>
      </v-col>

      <v-col cols="2" class="pt-1">
        <v-btn dark color="green"
               @click="handleExportExcelSale"
               v-if="verifyPermission('exportar_reporte_ventas')">
          XLS
        </v-btn>

        <v-btn dark color="blue"
               class="ml-1"
               @click="handleViewReportAccounting">
          R. Contable
        </v-btn>
      </v-col>

    </v-row>

    <v-row justify="center">
      <v-col cols="2">
        <v-card dark color="green">
          <v-card-title class="pt-1 pb-1">
            <span class="subtitle-2">VENTAS CONTADO</span>
          </v-card-title>
          <v-card-text class="pt-0">
            <div class="summary-section">
              <span class="ml-3 cash-amount">{{ total_sale_cash | currency('S/') }}</span>
            </div>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="2">
        <v-card dark color="indigo">
          <v-card-title class="pt-1 pb-1">
            <span class="subtitle-2">VENTAS CRÉDITO</span>
          </v-card-title>
          <v-card-text class="pt-0">
            <div class="summary-section">
              <span class="ml-3 cash-amount">{{ total_sale_credit | currency('S/') }}</span>
            </div>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="2">
        <v-card dark color="red">
          <v-card-title class="pt-1 pb-1">
            <span class="subtitle-2">VENTAS ANULADAS</span>
          </v-card-title>
          <v-card-text class="pt-0">
            <div class="summary-section">
              <span class="ml-3 cash-amount">{{ total_sale_canceled | currency('S/') }}</span>
            </div>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>

    <v-row>
      <v-col cols="12" class="pb-0">
        <v-card>
          <template>
            <v-row>
              <v-col cols="12" class="pt-0 pb-0">
                <v-data-table
                    class="wost-table table-report-sale"
                    :headers="headers"
                    :items="sales"
                    item-key="id"
                    show-expand
                    :single-expand="true"
                    fixed-header
                    no-data-text=""
                    :options.sync="options"
                    :server-items-length="totalItems"
                    :loading="loading"
                    loading-text="Cargando..."
                >

                  <template v-slot:item.id="{item}">
                    {{ item.id | number-order }}
                  </template>

                  <template v-slot:item.type_document="{item}">
                    <span>{{ item.serie }}-{{ item.correlative }}</span>
                  </template>

                  <template v-slot:item.credit_sales_guide="{item}">
                                        <span v-if="item.credit_sales_guide">
                                            {{ item.credit_sales_guide }}
                                        </span>
                    <span v-else>
                                            {{ item.guide_number }}
                                        </span>
                  </template>

                  <template v-slot:item.customer_id="{item}">
                                        <span v-if="item.customer.type == 'Natural'">
                                            {{ item.customer.name }} {{ item.customer.surname }}
                                        </span>
                    <span v-else>
                                            {{ item.customer.name }}
                                        </span>
                    <span :class="'sales-type-customer sales-type-' + item.customer.type_document.toLowerCase() ">
                                            {{ item.customer.type }}
                                        </span>
                  </template>

                  <template v-slot:item.entry_time="{item}">
                    {{ item.entry_time | moment("DD/MM/YYYY") }}
                  </template>

                  <template v-slot:item.final_deliveryman="{item}">
                                        <span v-if="item.deliveryend">
                                            {{ item.deliveryend.first_name }} {{ item.deliveryend.last_name }}
                                        </span>
                  </template>

                  <template v-slot:item.delivery_time="{item}">
                                        <span v-if="item.delivery_time">
                                            {{ item.delivery_time | moment("DD/MM/YYYY") }}
                                        </span>
                  </template>

                  <template v-slot:item.delivery_hour="{item}">
                                        <span v-if="item.delivery_time">
                                            {{ item.delivery_time | moment("hh:mm a") }}
                                        </span>
                  </template>

                  <template v-slot:item.total="{item}">
                    {{ item.total | currency('S/') }}
                  </template>

                  <template v-slot:expanded-item="{ item, headers }">
                    <td :colspan="headers.length" class="wost-td-expanded">
                      <sales-detail :order="item" :products="item.detail"></sales-detail>
                    </td>
                  </template>

                  <template v-slot:item.action="{item}">
                                        <span v-if="item.canceled == 1"
                                              class="sale-canceled">
                                            ANULADO
                                        </span>
                    <v-icon v-if="item.canceled == 0"
                            size="18"
                            color="error"
                            @click="handleViewCancelInvoice(item)">
                      far fa-times-circle
                    </v-icon>

                    <v-icon v-if="item.type_document && item.type_document != 'TICKET' && item.canceled == 0"
                            class="ml-2"
                            size="18"
                            color="blue"
                            @click="handlePrintVoucher(item)">
                      fas fa-print
                    </v-icon>

                  </template>

                </v-data-table>

              </v-col>
            </v-row>
          </template>
        </v-card>
      </v-col>
    </v-row>

    <v-dialog
        v-model="dialog"
        width="450"
        transition="fab-transition"
    >
      <v-card v-if="sale" class="pl-0 pr-0">
        <v-card-title>
                    <span class="subtitle-2 font-weight-bold">
                        ANULACIÓN DE FACTURA
                    </span>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text class="pb-0">
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-switch
                    v-model="form.generate_credit_note"
                    class="mt-0"
                    label="Generar Nota De Crédito"
                    :readonly="readonly_credit_note"
                    hide-details
                ></v-switch>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="6">
                <v-text-field
                    v-model="sale.serie"
                    label="Serie"
                    outlined
                    hide-details
                    readonly
                    dense
                >
                </v-text-field>
              </v-col>
              <v-col cols="6">
                <v-text-field
                    v-model="sale.correlative"
                    label="Número"
                    outlined
                    hide-details
                    readonly
                    dense
                >
                </v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" class="pb-0">
                <v-textarea
                    ref="reason"
                    v-model="form.reason"
                    label="Motivo de anulación"
                    outlined
                    :rules="[() => !!form.reason || 'Es necesario ingresar el motivo']"
                    required
                >
                </v-textarea>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-container class="pt-0 pb-0">
            <v-row>
              <v-col cols="6">
                <v-btn dark color="red" block @click="handleCancel">
                  Cancelar
                </v-btn>
              </v-col>
              <v-col cols="6">
                <v-btn dark color="green" block @click="handleCancelInvoice">
                  Aceptar
                </v-btn>
              </v-col>
            </v-row>
          </v-container>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <report-accounting ref="reportAccounting"></report-accounting>
  </v-container>
</template>

<script>

import XLSX from 'xlsx'

import {mapActions, mapMutations, mapState} from 'vuex'

import SalesDetail from '../../components/Reports/SalesDetail'
import Tools from '../../helpers/Tools';
import VoucherTools from '../../helpers/VoucherTools';
import ApiReports from '../../apis/Reports';

import ReportAccounting from '../../components/Reports/ReportAccounting';

import JQuery from 'jquery';

let $ = JQuery;

export default {
  name: 'Sales',
  components: {
    SalesDetail,
    ReportAccounting
  },
  watch:{
    options:{
      handler() {
        console.log(this.options)
        this.perPage = this.options.itemsPerPage
        this.pageSelected = this.options.page
        this.getSales()
      },
      deep: true,
    }
  },
  data() {
    return {
      headers: [
        {text: '', value: 'data-table-expand', width: 10, class: 'header-table-expand'},
        {text: 'Pedido', value: 'id', align: 'left', sortable: false, class: 'header-table', width: 65},
        {
          text: 'Comprobante',
          value: 'type_document',
          align: 'left',
          sortable: false,
          class: 'header-table',
          width: 100
        },
        {
          text: 'Guía Atención',
          value: 'attention_guide',
          align: 'left',
          sortable: false,
          class: 'header-table',
          width: 110
        },
        {
          text: 'Guía Crédito',
          value: 'credit_sales_guide',
          align: 'left',
          sortable: false,
          class: 'header-table',
          width: 100
        },
        {text: 'Cliente', value: 'customer_id', align: 'left', sortable: false, class: 'header-table'},
        {text: 'Fecha', value: 'entry_time', align: 'left', sortable: false, class: 'header-table', width: 90},
        {text: 'Repartidor', value: 'final_deliveryman', align: 'left', sortable: false, class: 'header-table'},
        //{ text: 'F. Entrega', value: 'delivery_time', sortable: false, class: 'header-table', width: 95 },
        //{ text: 'H. Entrega', value: 'delivery_hour', sortable: false, class: 'header-table', width: 90 },
        {text: 'Método', value: 'type_sale', sortable: false, class: 'header-table', width: 90},
        {text: 'Total', value: 'total', sortable: false, class: 'header-table', align: 'end'},
        {text: '', value: 'action', class: 'header-table-expand', align: 'end', sortable: false, width: 80}
      ],
      sales: [],
      menuFromDate: false,
      from_date: this.$moment().subtract(30, 'days').format('YYYY-MM-DD'),
      menuUntilDate: false,
      until_date: this.$moment().format('YYYY-MM-DD'),
      customer_id: null,
      value_customer: '',
      final_deliveryman: null,
      total_sale: null,
      total_sale_cash: null,
      total_sale_credit: null,
      total_sale_canceled: null,
      dialog: false,
      totalItems: 10, options: {}, loading: true,pageSelected:1,perPage:10,
      sale: {},
      form: {
        sale_id: null,
        reason: null,
        generate_credit_note: false
      },
      type_document: null,
      types_documents: ['BOLETA', 'FACTURA', 'TICKET'],
      readonly_credit_note: false
    }
  },
  computed: {
    ...mapState('authentication', [
      'companyData'
    ]),
    ...mapState('orders', [
      'customers',
      'deliveryUsers'
    ]),
    ...mapState('reports', [
      'credit_note'
    ])
  },
  methods: {
    ...mapActions('orders', [
      'getCustomers',
      'getDeliveryUsers'
    ]),
    ...mapActions('reports', [
      'storeCreditNote'
    ]),
    getSales() {
      this.loading = true
      let params = {
        from: this.from_date,
        until: this.until_date,
        customer_id: this.customer_id,
        final_deliveryman: this.final_deliveryman,
        type_document: this.type_document,
        perPage:this.perPage,
        pageSelected:this.pageSelected
      }
      ApiReports.salesDatatable(params)
          .then(({data}) => {
            console.log(data)
            this.loading = false
            this.totalItems = data.total
            this.sales = data.data;
            //this.calculateTotalAmount(this.sales);
          })
      ApiReports.sumSalesDatatable(params).then(({data}) => {
        this.calculateTotalAmount(data)
      })
    },
    handleClearFrom() {
      this.from_date = null
      this.getSales()
    },
    handleClearUntil() {
      this.until_date = null
      this.getSales()
    },
    handleChangeFormDate() {
      this.getSales()
    },
    handleChangeUntilDate() {
      this.getSales()
    },
    customText(item) {
      let text = item.name
      if (item.type_document === 'DNI') {
        text = item.name + ' ' + item.surname
      }
      return text
    },
    customFilter(item, queryText, itemText) {
      let textName = '';
      if (item.name) {
        textName = item.name.toLowerCase();
        if (item.surname) {
          textName += item.surname.toLowerCase();
        }
      }

      let textDocument = '';
      if (item.document) {
        textDocument = item.document.toLowerCase();
      }

      let searchText = queryText.toLowerCase()

      return textName.indexOf(searchText) > -1 || textDocument.indexOf(searchText) > -1
    },
    handleSelecteCustomer(value) {
      this.customer_id = null
      if (value !== undefined && value !== null) {
        this.customer_id = value
      }
      this.getSales()
    },
    customTextDelivery(item) {
      let text = item.fullname
      return text
    },
    handleSelectDeliveryMan(value) {
      this.final_deliveryman = null
      if (value !== undefined && value !== null) {
        this.final_deliveryman = value
      }
      this.getSales()
    },
    handleExportExcel() {
      let data = XLSX.utils.json_to_sheet(
          this.prepareDataExport(this.sales),
          {
            header: [
              'id',
              'type_document',
              'attention_guide',
              'credit_sales_guide',
              'customer',
              'type',
              'entry_time',
              'final_deliveryman',
              'delivery_time',
              'delivery_hour',
              'total',
              'canceled'
            ]
          }
      )
      data['A1'].v = 'Pedido'
      data['B1'].v = 'Comprobante'
      data['C1'].v = 'Guía Atención'
      data['D1'].v = 'Guía Crédito'
      data['E1'].v = 'Cliente'
      data['F1'].v = 'Tipo'
      data['G1'].v = 'Fecha'
      data['H1'].v = 'Repartidor'
      data['I1'].v = 'Fecha de Entrega'
      data['J1'].v = 'Hora de Entrega'
      data['K1'].v = 'Total'
      data['L1'].v = 'Anulado'
      const workbook = XLSX.utils.book_new()
      const filename = 'reporte-de-ventas'
      XLSX.utils.book_append_sheet(workbook, data, filename)
      XLSX.writeFile(workbook, `${filename}.xlsx`)
    },
    prepareDataExport(sales) {
      let dataExport = []
      sales.forEach(element => {
        let type_document = '';
        let serie = '';
        let correlative = '';
        if (element.type_document) {
          //type_document = element.type_document;
          //serie = element.serie;
          //correlative = element.correlative;
          type_document = element.serie + '-' + element.correlative;
        }

        let name = element.customer.name
        if (element.customer.type == 'Natural') {
          name = element.customer.name;
          if (element.customer.surname) {
            name = element.customer.name + ' ' + element.customer.surname;
          }
        }

        let delivery_man = ''
        if (element.deliverystart) {
          delivery_man = element.deliverystart.first_name + ' ' + element.deliverystart.last_name
        }

        let final_deliveryman = ''
        if (element.deliveryend) {
          final_deliveryman = element.deliveryend.first_name + ' ' + element.deliveryend.last_name
        }

        let delivery_time = ''
        let delivery_hour = ''
        if (element.delivery_time) {
          delivery_time = Tools.setFormatDate(new Date(element.delivery_time))
          let dateDeliveryTime = new Date(element.delivery_time)
          delivery_hour = dateDeliveryTime.getHours() + ':' + dateDeliveryTime.getMinutes()
        }

        let canceled = '';
        if (element.canceled == 1 || element.canceled == true) {
          canceled = 'SI';
        }

        let attention_guide = '';
        if (element.attention_guide) {
          attention_guide = element.attention_guide;
        }

        let credit_sales_guide = '';
        if (element.credit_sales_guide) {
          credit_sales_guide = element.credit_sales_guide;
        } else if (element.guide_number) {
          credit_sales_guide = element.guide_number;
        }

        let itemData = {
          id: element.id,
          type_document: type_document,
          attention_guide: attention_guide,
          credit_sales_guide: credit_sales_guide,
          customer: name,
          type: element.customer.type,
          entry_time: Tools.setFormatDate(new Date(element.entry_time)),
          final_deliveryman: final_deliveryman,
          delivery_time: delivery_time,
          delivery_hour: delivery_hour,
          total: element.total,
          canceled: canceled
        }
        dataExport.push(itemData)
      })
      return dataExport
    },
    verifyPermission(permission) {
      return this.$hasPermision(permission)
    },
    calculateTotalAmount(sales) {
      let amount_cash = 0;
      let amount_credit = 0;
      let amount_canceled = 0;
      sales.forEach(element => {
        if (element.canceled == 0) {
          if (element.type_sale == 'contado') {
            amount_cash += parseFloat(element.total);
          } else if (element.type_sale == 'credito') {
            amount_credit += parseFloat(element.total);
          }
        } else if (element.canceled == 1) {
          amount_canceled += parseFloat(element.total);
        }
      });
      this.total_sale_cash = amount_cash;
      this.total_sale_credit = amount_credit;
      this.total_sale_canceled = amount_canceled;
    },
    handleViewCancelInvoice(sale) {
      this.clearForm();
      this.sale = sale;
      this.form.sale_id = this.sale.id;
      this.readOnlyCreditNote(sale);
      this.dialog = !this.dialog;
    },
    existErrors() {
      let hasErrors = false;

      Object.keys(this.form).forEach(f => {
        if (this.$refs[f]) {
          if (!this.form[f]) hasErrors = true
          this.$refs[f].validate(true);
        }
      });

      return hasErrors;
    },
    clearErrors() {
      Object.keys(this.form).forEach(f => {
        if (this.$refs[f]) this.$refs[f].reset()
      });
    },
    clearForm() {
      this.form.sale_id = null;
      this.form.reason = null;
      this.form.generate_credit_note = false;
      this.clearErrors();
    },
    closeForm() {
      this.clearForm();
      this.dialog = false;
    },
    handleCancel() {
      this.closeForm();
    },
    async handleCancelInvoice() {
      if (!this.existErrors()) {
        let creditNote = {
          order_id: this.form.sale_id,
          reason: this.form.reason,
          generate_credit_note: this.form.generate_credit_note
        }
        await this.storeCreditNote(creditNote);
        this.closeForm();
        if (this.credit_note) {
          this.getSales();
        }
      }
    },
    async handlePrintVoucher(order) {
      let content = await VoucherTools.generateVoucherSale(order, this.companyData);
      this.printVoucher(content);
    },
    printVoucher(content) {
      $('<iframe>', {name: 'voucheriframe', class: 'printFrame'})
          .appendTo('body')
          .contents().find('body')
          .append(content);

      window.frames['voucheriframe'].focus();

      setTimeout(() => {
        window.frames['voucheriframe'].print();
      }, 500);

      setTimeout(() => {
        $(".printFrame").remove();
      }, 1000);
    },
    handleSelectTypeDocument(value) {
      this.type_document = null
      if (value !== undefined && value !== null) {
        this.type_document = value
      }
      this.getSales();
    },
    readOnlyCreditNote(sale) {
      if (sale.type_document == null || sale.type_document == '') {
        this.readonly_credit_note = true;
      } else if (sale.type_document == 'TICKET') {
        this.readonly_credit_note = true;
      } else if (sale.type_document == 'BOLETA' || sale.type_document == 'FACTURA') {
        if (sale.send_fe == 0) {
          this.readonly_credit_note = true;
        }
      }
    },
    handleViewReportAccounting() {
      this.$refs.reportAccounting.show();
    },
    handleExportExcelSale() {
      ApiReports.downloadSales({
        from: this.from_date,
        until: this.until_date,
        customer_id: this.customer_id,
        type_document: this.type_document
      })
          .then((response) => {
            let blob = new Blob([response.data], {
              type: "application/vnd.ms-excel"
            });
            const url = window.URL.createObjectURL(blob);
            const link = document.createElement('a');
            link.href = url;
            link.setAttribute('download', 'reporte-ventas.xlsx');
            document.body.appendChild(link);
            link.click();
          }).catch(error => {
        this.$notify({
          group: 'foo',
          type: 'error',
          title: 'ERROR',
          text: 'Ocurrió un error al descargar reporte'
        });
      })
    }
  },
  created() {
    this.getCustomers();
    this.getSales()
  }
}
</script>

<style scoped>
.sales-type-customer {
  display: inline-block;
  width: 80px;
  text-align: center;
  border-radius: 4px;
  font-size: 12px;
}

.sales-type-ruc {
  border: 1px solid #FF6424;
  color: #FF6424;
}

.sales-type-dni {
  border: 1px solid #1F308C;
  color: #1F308C;
}

.section-total-sale {
  text-align: right;
  margin-right: 10px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.value-total-sale {
  color: #4CAF50;
}

.sale-canceled {
  color: #F44336;
  font-weight: bold;
}

</style>