<template>
    <v-card height="75vh" color="#f9f8ff">
        <v-card-title>
            <div class="stadistic-title">
                <span>RESUMEN</span>
            </div>
        </v-card-title>
        <v-card-text>
            <div class="stadistic-item">
                <span class="stadistic stadistic-item-title">Pedidos despachados</span>
                <span class="stadistic stadistic-item-number">
                    {{ stadistic.orders_dispatched }}
                </span>
            </div>
            <div class="stadistic-item">
                <span class="stadistic stadistic-item-title">Bidones repartidos</span>
                <span class="stadistic stadistic-item-number">
                    {{ stadistic.drums_distributed }}
                </span>
            </div>
            <div class="stadistic-item">
                <span class="stadistic stadistic-item-title">Bidones vacios repartidos</span>
                <span class="stadistic stadistic-item-number">
                    {{ stadistic.empty_drums_distributed }}
                </span>
            </div>
            <div class="stadistic-item">
                <span class="stadistic stadistic-item-title">Nro de recargas</span>
                <span class="stadistic stadistic-item-number">
                    {{ stadistic.number_refills }}
                </span>
            </div>
        </v-card-text>
    </v-card>
</template>

<script>
export default {
    name: 'MobilityStadistic',
    props: ['stadistic'],
}
</script>

<style>

</style>