<template>
    <v-dialog
        v-model="dialog"
        width="380"
        transition="fab-transition"
    >
        <v-card class="pl-0 pr-0">
            <v-card-title>
                <v-icon class="mr-3">fas fa-box-open</v-icon>
                <span class="subtitle-2">
                    {{ description }}
                </span>
            </v-card-title>
            <v-divider></v-divider>
            <v-card-text class="pb-0">
                <v-container>
                    <v-row>
                        <v-col cols="12">
                            <v-text-field v-model="form.quantity"
                                ref="quantity"
                                label="Cantidad"
                                type="number"
                                autofocus
                                outlined
                                dense
                                @keydown="handleInputQuantity"
                                :rules="[
                                    () => !!form.quantity || 'Debe ingresar la cantidad',
                                    () => (!!form.quantity && parseInt(form.quantity) > 0) || 'Cantidad debe ser mayor a cero',
                                ]"
                                hide-details="auto"
                                required
                            ></v-text-field>
                        </v-col>
                    </v-row>
                </v-container>
            </v-card-text>
            <v-card-actions>
                <v-container class="pt-0 pb-0">
                    <v-row>
                        <v-col cols="6">
                            <v-btn dark color="red" block @click="handleCancel">
                                Cancelar
                            </v-btn>
                        </v-col>
                        <v-col cols="6">
                            <v-btn dark color="green" block @click="handleOk">
                                Aceptar
                            </v-btn>
                        </v-col>
                    </v-row>
                </v-container>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
import {mapActions, mapMutations, mapState} from 'vuex';

export default {
    name: 'AddQuantity',
    data () {
        return {
            dialog: false,
            description: null,
            form: {
                quantity: null
            }
        }
    },
    computed: {
        ...mapState('sales', [
            'product',
            'buyer'
        ])
    },
    methods: {
        ...mapMutations('sales', [
            'setShowProduct',
            'setProduct',            
        ]),
        ...mapActions('sales', [
            'selectProduct'
        ]),
        show () {
            this.clearData();
            this.description = this.product.name;
            this.form.quantity = this.product.quantity;
            this.dialog = !this.dialog;
        },
        async clearData () {
            this.description = null;
            this.form.quantity = null;
            await this.clearErrors();
        },
        handleCancel () {
            this.dialog =  false;
        },
        closeForm () {
            this.clearData();
            this.dialog = false;
        },
        handleInputQuantity (KeyboardEvent) {
            if (KeyboardEvent.code == 'Enter') {
                this.handleOk();
            }
        },
        handleOk () {
            if (!this.existErrors()) {
                let productItem = Object.assign({}, this.product);
                this.addItemProductToSale(productItem);                
                this.closeForm();
            }
        },
        addItemProductToSale (product) {
            let price_by_customer = this.getProductPriceByCustomer(product, this.buyer);
            if (price_by_customer) {
                product.unit_price = parseFloat(price_by_customer);
            }
            product.quantity = parseFloat(this.form.quantity);
            product.price = parseFloat(product.quantity) * parseFloat(product.unit_price);
            this.setProduct(product);
            this.selectProduct();
        },
        getProductPriceByCustomer (product, customer) {
          console.log(product)
          console.log(customer)
            let price = null;
            let prices = customer.prices;
            for (let item of prices) {
                let data_id = product.id.split('-');
                let id = data_id[1];
                if (parseInt(id) == parseInt(item.product_id)) {
                    price = parseFloat(item.price);
                }
            }

            return price;
        },
        existErrors(){
            let hasErrors = false;

            Object.keys(this.form).forEach(f => {                
                if (this.$refs[f]) {
                    if (!this.form[f]) hasErrors = true
                    this.$refs[f].validate(true);
                }                
            });

            return hasErrors;
        },
        clearErrors() {
            Object.keys(this.form).forEach(f => {
                if (this.$refs[f]) this.$refs[f].reset()                
            });
        },
    }
}
</script>