<template>
    <div>        
        <v-autocomplete
            :value="buyerId"
            :items="customers"
            dense
            outlined
            clearable             
            label="Buscar cliente"
            persistent-hint
            :item-text="customText"
            item-value="id"
            @change="handleSelecteBuyer"
            :filter="customFilter"
            hide-details
        >
            <template v-slot:append-outer>
                <v-btn x-small dark color="green darken-2" height="30" 
                    @click="$refs.createCustomer.showForm('Registro de nuevo cliente', 'create')">
                    <v-icon size="12" dark>fas fa-plus</v-icon>
                </v-btn>
            </template>
            <template v-slot:item="data">
                <v-list-item-content>
                    <v-list-item-title v-if="data.item.type_document === 'DNI' ">
                        <span>{{ data.item.name }} </span>
                        <span v-if="data.item.surname">{{ data.item.surname }}</span>                             
                    </v-list-item-title>
                    <v-list-item-title v-else>{{ data.item.name }}</v-list-item-title>
                    <v-list-item-subtitle>{{ data.item.type_document }}: {{ data.item.document }}</v-list-item-subtitle>
                </v-list-item-content>
            </template>
        </v-autocomplete>
        
        <create-customer ref="createCustomer" />
    </div>
</template>

<script>

import { mapActions, mapMutations, mapState } from 'vuex';

import CreateCustomer from '../Customer/CreateCustomer'

export default {
    name: 'Buyer',
    components: {
        CreateCustomer
    },
    computed: {
        ...mapState('sales', [
            'customers',
            'buyerId',
            'buyer',
            'orderId'
        ]),
    },
    data() {
        return {
            search: '',
            value: ''
        }
    },
    methods: {
        ...mapMutations('sales', [
            'setCustomers',
            'setProduct',
            'setBuyerId',
            'setBuyer',            
        ]),
        ...mapActions('sales', [
            'getCustomers',
            'selectBuyer',
            'setOrderAddress',
            'setOrderReference'
        ]),
        handleSelecteBuyer(event) {
            if (event === undefined) {
                this.setBuyerId(null);
                this.setBuyer(null);
                this.setOrderAddress(null);
                this.setOrderReference(null);
            } else {
                this.setBuyerId(event)
                this.selectBuyer()
            }
        },
        customText(item){
            let text = item.name
            if (item.type_document === 'DNI') {
                if (item.surname) {
                    text = text + ' ' + item.surname;
                }
            }
            return text
        },
        customFilter(item, queryText, itemText) {
            let textName = '';
            if (item.name) {
                textName = item.name.toLowerCase();
                if (item.surname) {
                    textName += item.surname.toLowerCase();
                }
            }
                
            let textDocument = '';
            if (item.document) {
                textDocument = item.document.toLowerCase();             
            }
            
            let searchText = queryText.toLowerCase()

            return textName.indexOf(searchText) > -1 || textDocument.indexOf(searchText) > -1
        }
    },
    mounted() {
        this.getCustomers()
        if(this.orderId > 0) {
            this.value = this.buyerId
        } else{
            this.setBuyerId(null)
            this.setBuyer(null)
            this.value = ''
        }        
    }
}
</script>

<style>

</style>