<template>
    <div>
        <v-container app :fluid="true" class="padding-top-0 padding-bootom-0 ">
            <v-row>
                <v-col cols="12" class="padding-top-0">
                    <v-card>                        
                        <v-card-title dark class="head-cart">
                            Nuevo pedido
                            <v-spacer></v-spacer>
                            <v-menu open-on-hover :close-on-content-click="true" offset-x >
                                <template v-slot:activator="{ on }">
                                    <v-btn v-on="on" text>
                                        <v-icon size="30" color="white">fas fa-cog</v-icon>
                                    </v-btn>
                                </template>
                                <v-card>
                                    <v-list>
                                        <v-list-item>
                                            <v-list-item-action>
                                                <v-switch 
                                                    ref="swithDirect"
                                                    v-model="isDirectSale" 
                                                    color="success"
                                                    @change="handleVerifyCash"
                                                ></v-switch>
                                            </v-list-item-action>
                                            <v-list-item-title>Venta directa</v-list-item-title>
                                        </v-list-item>
                                    </v-list>
                                </v-card>
                            </v-menu>
                        </v-card-title>                        
                        <v-card-text class="pt-0 pb-0">
                            <v-container class="pt-0 pb-1">
                                <v-row>
                                    <v-col cols="4">
                                        <v-menu
                                            v-model="menuPickupDate"
                                            :close-on-content-click="false"
                                            :nudge-right="40"
                                            transition="scale-transition"
                                            offset-y
                                            min-width="290px"
                                        >
                                            <template v-slot:activator="{ on }">
                                                <v-text-field
                                                ref="entry_time"
                                                v-model="entry_time"
                                                label="Fecha"
                                                readonly
                                                clearable
                                                v-on="on"
                                                outlined
                                                hide-details
                                                dense
                                                ></v-text-field>
                                            </template>
                                            <v-date-picker v-model="entry_time" 
                                                @input="menuPickupDate = false" 
                                                no-title
                                                locale="es"
                                                :min="min_date">
                                            </v-date-picker>
                                        </v-menu>
                                    </v-col>
                                    <v-col cols="8">
                                        <buyer source="sales"></buyer>
                                    </v-col>
                                </v-row>
                            </v-container>                            
                        </v-card-text>
                        
                        <v-divider v-if="buyer"></v-divider>
                        <v-card-text class="pt-1 pb-1" v-if="buyer">
                            <v-container class="pt-1 pb-1">
                                <v-row>
                                    <v-col cols="11">
                                        <v-textarea :value="order_address"
                                            label="Dirección"
                                            outlined
                                            dense
                                            rows="3"
                                            hide-details="auto"
                                            readonly
                                        ></v-textarea>
                                    </v-col>
                                    <v-col cols="1">
                                        <v-icon v-if="buyer.addresses.length > 0" 
                                            color="blue"
                                            size="20"
                                            @click="handleViewAddress">
                                            fas fa-home
                                        </v-icon>
                                    </v-col>
                                </v-row>
                            </v-container>
                        </v-card-text>

                        <v-divider></v-divider>
                        <v-card-text class="list-products-in-cart padding-top-0">
                            <v-list-item v-for="item in selectedProducts" :key="item.id" class="cart-item-product" three-line flat>
                                <template>                                
                                    <v-list-item-content>
                                        <v-list-item-title class="product-name" 
                                            @click="handleClickSettingItem(item)">
                                            <v-icon v-if="item.is_bonus"
                                                color="amber" size="18" class="mr-1">
                                                fas fa-gift
                                            </v-icon>
                                            <span class="subtitle-2">{{ item.name }}</span>
                                        </v-list-item-title>
                                        <v-list-item-subtitle>
                                            <span>
                                                P. Unitario: <b>{{ item.base_price | currency('S/') }}</b>
                                            </span>
                                        </v-list-item-subtitle>
                                        <v-list-item-subtitle v-if="item.discount_value > 0">
                                            <span>P. Total: </span>
                                            <span class="label-price-discounted">
                                                {{ item.base_price * item.quantity | currency('S/') }}
                                            </span>
                                            <span class="ml-2">
                                                {{ item.price | currency('S/') }}
                                            </span>
                                        </v-list-item-subtitle>
                                        <v-list-item-subtitle v-else>
                                            <span>
                                                P. Total: <b>{{ item.price | currency('S/') }}</b>
                                            </span>
                                        </v-list-item-subtitle>
                                    </v-list-item-content>
                                    <v-list-item-action class="btn-quantity">
                                        <span class="ml-4 mr-4 pb-1 product-quantity">
                                            {{ item.quantity }}
                                        </span>
                                        <v-btn x-small outlined @click="deleteProduct(item)" 
                                            dark color="error" :elevation="4" height="28">
                                            <v-icon size="16" dark>fas fa-times</v-icon>
                                        </v-btn>
                                    </v-list-item-action>
                                </template>
                            </v-list-item>
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>
            <v-row v-if="isDirectSale">
                <v-col cols="12" class="padding-top-0 padding-bottom-0">
                    <v-btn block dark color="green darken-1" height="45" 
                        @click="handlePay()"
                        v-if="verifyPermission('pagar_pedido_pedido')">
                        Pagar
                    </v-btn>
                </v-col>
            </v-row>
            <v-row v-else>
                <v-col cols="12" class="padding-top-0 padding-bottom-0">
                    <v-btn v-if="orderId == 0 && verifyPermission('ingresar_pedido_pedido')" 
                        block 
                        dark 
                        color="green darken-1" 
                        height="45" 
                        :disabled="processing"
                        @click="handleCreateOrder()">
                        Ingresar pedido
                    </v-btn>
                    <v-btn v-else 
                        block 
                        dark 
                        color="green darken-1" 
                        height="45"
                        :disabled="processing"
                        @click="handleUpdateOrder()">
                        Actualizar pedido
                    </v-btn>
                </v-col>
            </v-row>
            <v-row>
                <v-col cols="12" class="padding-top-0 padding-bottom-0 cart-summary">                   
                   <span v-if="subtotal > 0" class="cart-amount-subtotal">{{ subtotal | currency('S/ ') }}</span>
                   <span v-if="amount_igv > 0" class="cart-amount-igv">IGV: {{ amount_igv | currency('S/ ') }}</span>
                   <span v-if="totalQuantity > 0" class="cart-total-quantity">({{ totalQuantity }}) </span>
                   <span v-if="total > 0" class="cart-subtotal">{{ total | currency('S/ ') }}</span>
                </v-col>
            </v-row>            
        </v-container>
        <setting-item ref="settingItem"></setting-item>
        <payment-form ref="paymentForm"/>
        <customer-address ref="customerAddress"></customer-address>
    </div>
</template>

<script>
import { mapActions, mapMutations, mapState } from 'vuex';

import Buyer from './Buyer'
import SettingItem from './SettingItem'
import CustomerAddress from './CustomerAddress';

import PaymentTools from '../../helpers/PaymentTools.js'
import PaymentForm from '../../components/Payment/PaymentForm'

import {APIService} from '@/APIService'
const apiService = new APIService()

export default {
    name: 'Cart',
    components: {
        Buyer,
        SettingItem,
        PaymentForm,
        CustomerAddress
    },
    data() {
        return {
            isDirectSale: false,
            menuPickupDate: false,
            entry_time: this.$moment().format('YYYY-MM-DD'),
            min_date: this.$moment().subtract(6, 'days').format('YYYY-MM-DD'),
            processing: false
        }
    },
    computed: {
        ...mapState('cash', [
            'cashCurrent'
        ]),
        ...mapState('sales', [
            'selectedProducts',
            'totalQuantity',
            'subtotal',
            'itemSelected',
            'buyer',
            'buyerId',
            'por_igv',
            'amount_igv',
            'total',
            'orderId',
            'total_bonus',
            'order_address',
            'order_reference'
        ]),
        ...mapState('authentication', [
            'igv'
        ]),
        ...mapState('payment', [
            'listProducts',
        ]),
        ...mapState('orders', [
            'order'
        ]),
    },
    methods: {
        ...mapMutations('sales', [
            'setShowProduct',
            'setProduct',
            'setItemSelected'    
        ]),
        ...mapActions('sales', [
            'selectProduct',
            'runSetItemSelected',
            'registerOrder',
            'runSetPorIgv',
            'clearData',
            'deleteProductFromSale'
        ]),
        ...mapActions('payment', [
            'runSetListProducts',
            'runSetCustomer',
            'runSetOrderIdPay',
            'runSetSubtotal',
            'runSetTotal',
            'runSetAmountIgv'
        ]),
        ...mapActions('orders', [
            'selectOrder'
        ]),
        ...mapActions('cash', [
            'getCashCurrent'
        ]),
        deleteProduct(item) {
            this.setProduct(item)
            this.deleteProductFromSale()
        },
        handleClickSettingItem(item) {
            this.runSetItemSelected(item)
            this.$refs.settingItem.showForm('Precios y descuentos de producto')
        },
        handleCreateOrder() {
            this.processing = true;
            let validate = this.validateData()
            if(validate.error) {
                this.processing = false;
                this.$notify({
                    group: 'foo',
                    type: 'error',
                    title: 'RESULTADO DE INGRESO DE PEDIDO',
                    text: validate.message
                })
            } else {
                let order = {
                    customer: this.buyer,
                    products: this.selectedProducts,
                    subtotal: this.subtotal,
                    amount_igv: this.amount_igv,
                    total:  this.total,
                    entry_time: this.entry_time,
                    total_gratuitas: this.total_bonus,
                    order_address: this.order_address
                }
                apiService.createOrder(order).then( (response) => {
                    this.processing = false;
                    this.$notify({
                        group: 'foo',
                        type: 'success',
                        title: 'RESULTADO DE INGRESO DE PEDIDO',
                        text: 'El pedido se registró de manera exitosa!'
                    })
                    this.clearData()
                })
            }            
        },
        handleUpdateOrder() {
            this.processing = true;
            let validate = this.validateData()
            if(validate.error) {
                this.processing = false;
                this.$notify({
                    group: 'foo',
                    type: 'error',
                    title: 'RESULTADO DE INGRESO DE PEDIDO',
                    text: validate.message
                })
            } else {
                let order = {
                    order_id: this.orderId,
                    customer: this.buyer,
                    products: this.selectedProducts,
                    subtotal: this.subtotal,
                    amount_igv: this.amount_igv,
                    total:  this.total,
                    entry_time: this.entry_time,
                    total_gratuitas: this.total_bonus,
                    order_address: this.order_address
                }
                apiService.updateOrder(order).then( (response) => {
                    this.processing = false;
                    this.$notify({
                        group: 'foo',
                        type: 'success',
                        title: 'RESULTADO DE ACTUALIZACIÓN DE PEDIDO',
                        text: 'El pedido se actualizó de manera exitosa!'
                    })
                    this.clearData()
                })
            }            
        },
        handlePay() {
            let validate = this.validateData()
            if(validate.error) {
                this.$notify({
                    group: 'foo',
                    type: 'error',
                    title: 'RESULTADO DE INGRESO DE PEDIDO',
                    text: validate.message
                })
            } else {
                let order = {
                    customer: this.buyer,
                    products: this.selectedProducts,
                    subtotal: this.subtotal,
                    amount_igv: this.amount_igv,
                    total:  this.total,
                    direct_sale: 1,
                    entry_time: this.entry_time,
                    total_gratuitas: this.total_bonus,
                    order_address: this.order_address
                }
                this.selectOrder(order)
                this.runSetOrderIdPay(null)
                this.runSetSubtotal(this.subtotal)
                this.runSetAmountIgv(this.amount_igv)
                this.runSetTotal(this.total)
                this.runSetListProducts([])
                this.runSetListProducts(PaymentTools.prepareProductList('sales', this.selectedProducts))
                this.runSetCustomer(this.buyer)
                this.$refs.paymentForm.showForm()
            }            
        },
        validateData(){
            let error = false
            let message = ""
            if (this.entry_time == null || this.entry_time == '' || this.entry_time == undefined) {
                error = true
                message = "Debe ingresar la fecha"
            }

            if (this.buyer == null) {
                error = true
                message = "Debe seleccionar el cliente."
            }
            if (this.selectedProducts.length <= 0) {
                error = true
                message = "Debe seleccionar al menos un producto."
            }

            return {
                error,
                message
            }
        },
        verifyPermission(permission) {
            return this.$hasPermision(permission)
        },
        handleVerifyCash(value){
            if (value == true) {                
                if (this.cashCurrent == null || this.cashCurrent == '') {
                    this.isDirectSale = false;
                    this.$refs.swithDirect.onChange();
                    this.$swal({
                        text: "Caja esta cerrada, no puede realizar venta directa.",
                        icon: "error",
                        showCancelButton: false,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Aceptar"
                    });
                }
            }            
        },
        handleViewAddress () {
            if (this.buyer) {
                this.$refs.customerAddress.show(this.buyer.addresses);
            }            
        }
    },
    created () {
        this.getCashCurrent();
        this.runSetPorIgv(this.igv)
        if(this.orderId == 0) {
            this.clearData()
        }
    }
}
</script>

<style>
.cart-amount-subtotal{
    display: block;
    font-weight: bold;
    font-size: 1rem;
}
.cart-amount-igv{
    display: block;
    font-weight: bold;
    font-size: 1rem;
}
</style>