<template>
    <v-dialog
        v-model="dialog"
        width="700"
        transition="fab-transition"
    >
        <v-card>
            <v-card-title>
                <v-icon color="blue"
                    size="20"
                    class="mr-2">
                    fas fa-home
                </v-icon>
                <span class="subtitle-2">SELECCIONAR DIRECCIÓN</span>
            </v-card-title>
            <v-divider></v-divider>
            <v-card-text class="pt-1 pb-1">
                <v-container class="pt-1 pb-1">
                    <v-row>
                        <v-col cols="12">
                            <v-simple-table dense>
                                <thead>
                                    <tr>
                                        <th>Dirección</th>
                                        <th>Referencia</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(item, index) in addresses" :key="index">
                                        <td>{{ item.address }}</td>
                                        <td>{{ item.reference }}</td>
                                        <td>
                                            <v-btn v-if="item.address != order_address"
                                                color="green"
                                                dark
                                                small
                                                @click="handleSelectAddress(item)">
                                                Seleccionar
                                            </v-btn>
                                            <v-icon v-else 
                                                size="18" color="green">
                                                far fa-check-circle
                                            </v-icon>
                                        </td>
                                    </tr>
                                </tbody>
                            </v-simple-table>
                        </v-col>
                    </v-row>
                </v-container>
            </v-card-text>
            <v-divider></v-divider>
            <v-card-actions class="pt-1 pb-1">
                <v-container class="pt-1 pb-1">
                    <v-row>
                        <v-col cols="12">
                            <v-btn color="red" 
                                dark
                                small 
                                class="float-right"
                                @click="handleCloseDialog">
                                Cerrar
                            </v-btn>
                        </v-col>
                    </v-row>
                </v-container>
            </v-card-actions>
        </v-card>

    </v-dialog>
</template>

<script>
import {mapActions, mapState} from 'vuex';

export default {
    name: 'CustomerAddress',
    data () {
        return {
            dialog: false,
            addresses: []
        }
    },
    computed: {
        ...mapState('sales', [
            'order_address'
        ])
    },
    methods: {
        ...mapActions('sales', [
            'setOrderAddress'
        ]),
        show (addresses) {
            this.addresses = [];
            this.addresses = addresses;
            this.dialog = !this.dialog;
        },
        handleCloseDialog () {
            this.addresses = [];
            this.dialog = false;
        },
        handleSelectAddress (itemAddress) {
            this.setOrderAddress(itemAddress.address);
            this.dialog = false;
        }
    }
}
</script>

<style scoped>

</style>