<template>
    <div>
        <v-container app :fluid="true" class="padding-top-0 padding-bootom-0 ">
            <v-row>
                <v-col cols="12" class="padding-top-0">
                    <div>
                        <v-card raised class="padding-top-0">
                            <v-card-title>
                                <v-text-field
                                    :value="search"
                                    @input="handleSearchProducto"
                                    label="Buscar producto"
                                    hide-details
                                    class="wost-text-input mr-2">
                                    <v-icon slot="prepend" color="indigo" size="18">fas fa-search</v-icon>
                                </v-text-field>
                                <v-btn-toggle
                                    v-model="type_view"
                                    mandatory
                                    dense
                                    >
                                    <v-btn>
                                        <v-icon size="18">fas fa-bars</v-icon>
                                    </v-btn>
                                    <v-btn>
                                        <v-icon size="18">fas fa-border-all</v-icon>
                                    </v-btn>
                                </v-btn-toggle>
                            </v-card-title>
                        </v-card>
                    </div>
                </v-col>
            </v-row>
            <v-row>
                <v-col cols="12" class="padding-top-0 padding-bootom-0">
                    <div>
                        <v-container app :fluid="true" class="list-products-available">
                            <v-row v-if="type_view === 0">                            
                                <v-col cols="12" class="padding-top-0">
                                    <v-card flat>
                                        <v-list-item-group>
                                            <v-list-item two-line v-for="product in availableProducts" :key="product.id"
                                                @click="handleSelectProduct(product)"
                                                class="sales-item-catalogue"
                                                color="indigo"
                                                :disabled="!verifyPermission('seleccionar_producto_pedido')">
                                                <v-list-item-content>
                                                    <v-list-item-title class="sales-name-product-list">
                                                        {{ product.name }}
                                                    </v-list-item-title>
                                                    <v-list-item-subtitle class="sales-price-list">
                                                        <span class="sales-price-label-list">
                                                           <v-icon size="18" class="mr-1" color="red darken-1">
                                                               fas fa-tags
                                                            </v-icon>Precio: 
                                                        </span>
                                                        <span class="sales-price-value-list ml-2">
                                                            {{ product.unit_price | currency('S/ ') }}
                                                        </span>
                                                        <!--
                                                        <span class="sales-price-label-list ml-10">
                                                           <v-icon size="18" class="mr-1" color="red darken-1">fas fa-boxes</v-icon>Stock:
                                                           <span class="sales-price-value-list ml-2">{{ product.stock }}</span>
                                                        </span>
                                                        -->
                                                    </v-list-item-subtitle>                                        
                                                </v-list-item-content>                                                                             
                                            </v-list-item>                                        
                                        </v-list-item-group>
                                    </v-card>                             
                                </v-col>
                            </v-row>
                            <v-row v-else>
                                <v-col cols="3" v-for="product in availableProducts" :key="product.id" class="padding-top-0">
                                    <v-card 
                                        :disabled="!verifyPermission('seleccionar_producto_pedido')"
                                        @click="handleSelectProduct(product)" class="card-product">
                                        <v-img
                                            src="https://cdn.vuetifyjs.com/images/cards/sunshine.jpg"
                                            height="100px">
                                        </v-img>
                                        <v-card-title class="sales-name-product-card">
                                            {{ product.name }}
                                        </v-card-title>
                                        <v-card-subtitle class="sales-price-product-card">
                                            {{ product.unit_price | currency('S/ ') }}
                                        </v-card-subtitle>
                                    </v-card>
                                </v-col>
                            </v-row>
                        </v-container>
                    </div>
                </v-col>
            </v-row>
        </v-container>

        <add-quantity ref="addQuantity"></add-quantity>
    </div>
</template>

<script>

import { mapActions, mapMutations, mapState } from 'vuex';

import AddQuantity from './AddQuantity';

export default {
    name: 'Products',
    components: {
        AddQuantity
    },
    data() {
        return {
            type_view: 0,
        }
    },
    computed: {
        ...mapState('sales', [
            'buyer',
            'catalogue',
            'search',
            'availableProducts',
            'product',
            'selectedProducts'
        ])
    },
    methods: {
        ...mapMutations('sales', [
            'setCatalogue',
            'setSearch',
            'setShowProduct',
            'setProduct',            
        ]),
        ...mapActions('sales', [
            'getCatalogue',
            'searchProduct',
            'selectProduct'
        ]),
        handleSelectProduct(product){
            if (parseFloat(product.unit_price) > 0) {
                if (this.buyer) {
                    this.setProduct(product);
                    this.$refs.addQuantity.show();
                } else {
                    this.$notify({
                        group: 'foo',
                        type: 'error',
                        title: 'RESULTADO DE INGRESO DE PEDIDO',
                        text: 'Debe seleccionar un cliente'
                    });
                }                
            }            
        },
        handleSearchProducto(event){
            this.setSearch(event)
            this.searchProduct()
        },
        verifyPermission(permission) {
            return this.$hasPermision(permission)
        }
    },
    mounted() {
        this.getCatalogue()
    }
}
</script>

<style>

</style>