<template>
    <v-dialog
        v-model="dialog"
        width="650"
        transition="fab-transition"
    >
        <v-card class="pl-0 pr-0">
            <v-card-title>
                <v-icon class="mr-3">fas fa-bars</v-icon>
                <span class="subtitle-2 description-selected">
                    BIDONES DEVUELTOS
                </span>
                <v-icon
                    color="success"
                    class="ml-2"
                    @click="handleAddDrums"
                >
                    fas fa-plus-circle
                </v-icon>
            </v-card-title>
            <v-divider></v-divider>
            <v-card-text class="pb-0 card-drums-returned">
                <v-container>
                    <v-row v-for="(drum, index) in list_drums" :key="drum.id" class="drum-item">
                        <v-col :md="4" :sm="12" cols="12" class="pt-2 pb-2">
                            <v-select
                                v-model="drum.product_id"
                                :items="productsReturn"
                                label="Producto"
                                outlined
                                dense
                                item-value="value"
                                item-text="text"
                                hide-details
                            ></v-select>
                        </v-col>
                        <v-col :md="4" :sm="12" cols="12" class="pt-2 pb-2">
                            <!--
                            <v-text-field
                                v-model="drum.brand"
                                label="Marca"
                                dense
                                outlined
                                hide-details
                                :disabled="disabledBrand(drum)">
                            </v-text-field>
                            -->
                            <v-combobox
                                v-model="drum.brand"
                                :items="brands_drums"
                                label="Marca"
                                outlined
                                dense
                            ></v-combobox>
                        </v-col>
                        <v-col :md="3" :sm="12" cols="12" class="pt-2 pb-2">
                            <v-text-field
                                v-model="drum.quantity"
                                label="Cantidad"
                                type="number"
                                dense
                                outlined
                                hide-details>
                            </v-text-field>
                        </v-col>
                        <v-col :md="1" :sm="12" cols="12" class="pt-2 pb-2">
                            <v-icon class="mt-2" 
                                color="red"
                                @click="handleDeleteDrum(index)">
                                fas fa-minus-circle
                            </v-icon>
                        </v-col>
                    </v-row>
                </v-container>
            </v-card-text>
            <v-card-actions class="pt-0">
                <v-container class="pt-0 pb-0">
                    <v-row justify="center">
                        <v-col cols="6">
                            <v-btn dark color="red" block @click="handleCancel">
                                Cancelar
                            </v-btn>
                        </v-col>                     
                        <v-col cols="6">
                            <v-btn dark color="green" block @click="handleSave">
                                Guardar
                            </v-btn>
                        </v-col>
                    </v-row>
                </v-container>                    
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
import {mapActions, mapState} from 'vuex';

export default {
    name: 'ReturnDrums',
    data () {
        return {
            dialog: false,
            list_drums: []
        }
    },
    computed: {
        ...mapState('payment', [
            'productsReturn',
            'drums'
        ]),
        ...mapState('drums', [
            'brands_drums',
            'response_drums'
        ])
    },
    methods: {
        ...mapActions('payment', [
            'addDrums',
            'removeDrums',
            'setDrums'
        ]),
        ...mapActions('drums', [
            'getAllBrandsDrums'
        ]),
        async show () {
            await this.getAllBrandsDrums();
            if (this.drums.length > 0) {
                this.setDataDrumsSaved(this.drums);
            }
            this.dialog = !this.dialog;
        },
        setDataDrumsSaved(drums) {
            drums.forEach(element => {
                let itemDrum = Object.assign({}, element);
                this.list_drums.push(itemDrum);
            });
        },
        handleAddDrums () {            
            let today = new Date();            
            let drum = {
                id: today.getTime(),
                product_id: null,
                brand: null,
                quantity: null
            };
            this.list_drums.push(drum);            
        },
        handleDeleteDrum (indexDrum) {
            this.list_drums.splice(indexDrum, 1);
        },
        handleCancel () {
            this.setDrums([]);
            this.dialog = false;
            this.list_drums = [];
        },
        handleSave () {
            let drumsReturned = [];
            this.list_drums.forEach( element => {
                if (element.product_id) {
                    if (this.validateItemDrum(element)) {
                        drumsReturned.push(element);
                    }
                }
            });
            //this.setDrums([]);
            //this.setDrums(drumsReturned);
            this.dialog = false;
            this.list_drums = [];
        },
        validateItemDrum (drum) {
            let validate = true;
            if (drum.product_id == null || drum.product_id == -1) {
                validate = false;
            }
            if (drum.quantity == null || parseInt(drum.quantity) <= 0) {
                validate = false;
            }

            return validate;
        },
        disabledBrand (item) {
            let disabled = false;
            if (item.product_id) {
                let valueIds = item.product_id.split('-');
                if (valueIds[0] == 'a') {
                    disabled =  true;
                }
            }            

            return disabled;
        }
    }
    
    
}
</script>

<style scoped>
.drum-item{
    border-bottom: 1px solid #e0e0e0;
}

.card-drums-returned{
    max-height: 50vh;
    overflow-y: auto;
}
</style>